.social {

	ul {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: -9px;
		margin-bottom: -9px;
	}

	li {
		margin-right: 9px;
		margin-bottom: 9px;
	}

	a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 45px;
		height: 45px;
		min-width: 45px;
		border-radius: 50%;
		background: rgba(0, 0, 0, 0.1);
		font-size: 26px;

		@include media( map-get( $media, md ) ) {
			width: 41px;
			height: 41px;
			min-width: 41px;
		}

		&:hover {

			@include media( map-get( $media-min, lg ), 'min' ) {
				// background: rgba(0, 0, 0, 0.3);
				background: #AA282C;
				color: inherit;
			}
		}
	}
}