.popup {
	padding: 0;
	width: 100%;
	max-width: 358px;
	background: #F1E9E7;
	box-shadow: 0px 0px 20px rgba(75, 16, 0, 0.5);

	&--simple {
		background: #FFFFFF;

		.fancybox-button.fancybox-close-small {
			
			&:after,
			&:before {
				background: rgba(75, 16, 0, 0.3);
			}
		}
	}

	&__title {
		padding: 17px 50px;
		background: #AA282C;
		font-weight: 500;
		font-size: 16px;
		line-height: 18px;
		text-transform: uppercase;
		color: #FFFFFF;
		text-align: center;

		@include media( map-get( $media, md ) ) {
			font-size: 12px;
			line-height: 15px;
			padding-top: 10px;
			padding-bottom: 10px;
		}

		&--alt {
			background: #93C030;
			padding-top: 22px;
			padding-bottom: 19px;
			font-size: 19px;
			line-height: 22px;
			font-weight: 400;
		}
	}

	&__content {
		padding: 30px 25px 40px;
		border: 1px solid rgba(75, 16, 0, 0.3);
		border-top: none;

		@include media( map-get( $media, md ) ) {
			padding: 20px 15px;
		}
	}

	&__social {
		text-align: center;
		color: rgba(75, 16, 0, 0.6);
		margin-bottom: 32px;

		.social {
			margin-top: 13px;

			ul {
				justify-content: center;
			}

			a {
				background: rgba(75, 16, 0, 0.25);
				color: #fff;

				&:hover {

					@include media( map-get( $media-min, lg ), 'min' ) {
						color: #fff;
					}
				}
			}
		}
	}

	.form__input {
		height: 47px;
		text-align: center;
		font-size: 15px;
	}

	.form__label--check .form__label-name {
		font-size: 15px;
	}

	.form__action {

		@include media( map-get( $media, md ) ) {
			margin-top: 15px;
		}

		.btn {
			justify-content: center;
			width: auto;
			height: 47px;
			padding: 0 47px;
			font-size: 19px;

			@include media( map-get( $media, md ) ) {
				font-size: 15px;
				width: 100%;
			}
		}
	}

	&__text {
		color: rgba(75, 16, 0, 0.6);
		min-height: 157px;
		margin-bottom: 35px;

		@include media( map-get( $media, md ) ) {
			font-size: 11px;
			line-height: 13px;
			margin-bottom: 15px;
			min-height: 0;
		}

		&--simple {
			min-height: 0;
			margin-bottom: 22px;
			font-size: 15px;
			line-height: 20px;
			color: rgba(75, 16, 0, 0.6);

			@include media( map-get( $media, md ) ) {
				font-size: 11px;
				line-height: 13px;
				margin-bottom: 15px;
			}
		}
	}

	&__btns {

		li {
			margin-bottom: 28px;

			@include media( map-get( $media, md ) ) {
				margin-bottom: 10px;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		.btn {
			font-size: 19px;
			height: 47px;
			width: 100%;
			justify-content: center;

			@include media( map-get( $media, md ) ) {
				font-size: 15px;
			}
		}
	}

	&__header {
		text-align: center;
		margin-bottom: 20px;
		font-size: 29px;
		line-height: 33px;
		color: #93C030;

		@include media( map-get( $media, md ) ) {
			font-size: 15px;
			line-height: 17px;
			margin-bottom: 8px;
		}
	}

	&__order {
		margin-bottom: 13px;
		font-size: 29px;
		line-height: 33px;
		text-align: center;
		color: #4B1000;

		@include media( map-get( $media, md ) ) {
			font-size: 15px;
			line-height: 17px;
			margin-bottom: 15px;
		}
	}

	&__p {
		color: rgba(75, 16, 0, 0.6);
		margin-top: -9px;
		margin-bottom: 16px;
	}

	&__area {
		margin-bottom: 18px;

		textarea {
			width: 100%;
			background: #FFFFFF;
			border: 1px solid rgba(75, 16, 0, 0.3);
			height: 118px;
			border-radius: 6px;
			padding: 15px;

			@include media( map-get( $media, md ) ) {
				height: 90px;
			}
		}
	}

	&__info {
		font-size: 12px;
		line-height: 14px;
		text-align: center;
		color: rgba(75, 16, 0, 0.6);

		a {
			color: #AA282C;

			&:hover {

				@include media( map-get( $media-min, lg ), 'min' ) {
					text-decoration: underline;
				}
			}
		}
	}

	&__item {
		position: relative;
		padding: 13px 20px 16px 127px;
		background: #fff;
		min-height: 125px;
		margin-bottom: 13px;

		@include media( map-get( $media, md ) ) {
			padding: 10px 10px 10px 100px;
			min-height: 100px;
		}

		&-img {
			position: absolute;
			top: 13px;
			left: 16px;
			width: 96px;
			height: 96px;
			display: flex;
			align-items: center;
			justify-content: center;

			@include media( map-get( $media, md ) ) {
				width: 80px;
				height: 80px;
				left: 10px;
				top: 10px;
			}

			img {
				display: block;
				max-width: 100%;
				max-height: 100%;
			}
		}

		&-title {
			margin-bottom: 8px;
			font-size: 18px;
			line-height: 21px;
			color: #4B1000;

			@include media( map-get( $media, md ) ) {
				font-size: 15px;
				line-height: 17px;
			}

			a {

				&:hover {
					@include media( map-get( $media-min, lg ), 'min' ) {
						text-decoration: underline;
					}
				}
			}
		}

		&-line {
			display: flex;
			flex-wrap: wrap;
			align-items: baseline;
			font-weight: 300;
			font-size: 25px;
			line-height: 29px;
			font-family: map-get( $ff, alt );
			color: rgba(75, 16, 0, 0.3);

			@include media( map-get( $media, md ) ) {
				font-size: 13px;
				line-height: 15px;
			}
		}

		&-val {
			font-weight: 500;
			color: #4B1000;
			white-space: nowrap;
		}

		span {
			margin: 0 9px;
		}

		&-price {
			font-weight: 500;
			color: #AA282C;
			white-space: nowrap;
		}
	}

	&__action {
		display: flex;

		&--center {
			justify-content: center;
		}

		.btn {
			padding: 0 27px;

			@include media( map-get( $media, md ) ) {
				padding: 0 15px;
				font-size: 12px;
				height: 34px;
			}
		}
	}

	&__line {
		display: flex;
		align-items: center;
		font-size: 19px;
		line-height: 22px;
		color: #AA282C;

		@include media( map-get( $media, md ) ) {
			font-size: 15px;
			line-height: 17px;
		}

		.icon {
			font-size: 23px;
			color: #E9AEA1;
			margin-right: 10px;
		}
	}

	&__alr {
		font-size: 19px;
		line-height: 22px;
		color: #AA282C;

		@include media( map-get( $media, md ) ) {
			font-size: 15px;
			line-height: 17px;
		}

		span {
			color: #4B1000;
		}
	}
}