.title {
	margin-bottom: 35px;
	font-weight: 300;
	font-size: 49px;
	line-height: 56px;
	text-transform: uppercase;
	color: rgba(75, 16, 0, 0.15);

	@include media( map-get( $media, lg ) ) {
		font-size: 40px;
		margin-bottom: 0.7em;
	}

	@include media( map-get( $media, sm ) ) {
		font-size: 15px;
		line-height: 25px;
		color: #4B1000;
		margin-bottom: 15px;
	}

	&--center {
		text-align: center;
	}

	&--nomobile {
		
		@include media( map-get( $media, sm ) ) {
			display: none;
		}
	}

	&--basker-trigger {
		display: none;
		
		@include media( map-get( $media, sm ) ) {
			background: linear-gradient(0deg, #931014 0%, #B93A3E 100%);
			box-shadow: 0px 0px 20px rgba(75, 16, 0, 0.5);
			margin-left: -15px;
			margin-right: -15px;
			height: 55px;
			font-weight: 500;
			font-size: 15px;
			line-height: 17px;
			text-transform: uppercase;
			color: #FFFFFF;
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: map-get( $ff, main );
			width: 100vw;
			margin-bottom: 0;
			position: fixed;
			bottom: 0;
			left: 15px;
			z-index: 90;

			&.simple {
				position: static;
			}
		}

		.icon {
			display: none;

			&:first-child {
				margin-right: 9px;
				font-size: 16px;
			}

			&:last-child {

				@include media( map-get( $media, sm ) ) {
					display: flex;
					margin-left: 15px;
					color: rgba(233, 174, 161, 0.63);
					font-size: 16px;
				}
			}
		}
	}
}

.site-title {
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	color: #AA282C;
	padding: 11px 0;
	text-align: center;

	&-wrap {
		display: none;

		@include media( map-get( $media, lg ) ) {
			display: block;
		}
	}
}