.section {
	margin-top: 65px;
	margin-bottom: 70px;

	@include media( map-get( $media, md ) ) {
		margin-top: 35px;
		margin-bottom: 35px;
	}

	@include media( map-get( $media, md ) ) {
		margin-top: 20px;
		margin-bottom: 25px;
	}

	&:last-child {
		margin-bottom: 0;
	}

	&--pb {
		@include media( map-get( $media-min, lg ), 'min' ) {
			padding-bottom: 45px;
		}
	}

	&__more {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);

		@include media( map-get( $media, md ) ) {
			bottom: 50%;
			left: auto;
			right: 0;
			transform: translateY(50%);
		}

		a {
			font-weight: 300;
			font-size: 15px;
			line-height: 17px;
			text-decoration-line: underline;
			color: #AA282C;
			text-transform: none;

			@include media( map-get( $media, md ) ) {
				font-size: 0;
			}

			span {
				color: inherit;

				@include media( map-get( $media, md ) ) {
					font-weight: 300;
					font-size: 15px;
					line-height: 17px;
					text-transform: capitalize;
					display: inline-block;
					text-decoration: underline;
				}

				@include media( map-get( $media, md ) ) {
					font-size: 11px;
				}
			}

			&:hover {

				@include media( map-get( $media-min, lg ), 'min' ) {
					text-decoration: none;
				}
			}
		}

		& > span {
			font-weight: 300;
			font-size: 15px;
			line-height: 17px;
			color: #B59C97;

			@include media( map-get( $media, md ) ) {
				display: none;
			}
		}
	}

	&--slider {
		margin-top: 40px;
		margin-bottom: 70px;

		@include media( map-get( $media, md ) ) {
			padding-bottom: 0;

			& + .section--img {
				// margin-top: -35px;
			}
		}

		@include media( map-get( $media, md ) ) {
			
			& + .section--slider,
			& + .section--img {
				margin-top: -25px;
			}
			
			& + .section--slider {
				padding-top: 20px;
			}
		}

		.section__title {
			font-size: 25px;
			line-height: 29px;
			margin-bottom: 0;

			@include media( map-get( $media, md ) ) {
				font-size: 15px;
				line-height: 17px;
			}

			&--alt {
				margin-bottom: 45px;

				@include media( map-get( $media, md ) ) {
					margin-bottom: 20px;
				}
			}

			&--md {

				@include media( map-get( $media-min, md ), 'min' ) {
					font-size: 32px;
				}

				@include media( map-get( $media, md ) ) {
					margin-bottom: 9px;
				}
			}

			&--lg {
				@include media( map-get( $media-min, md ), 'min' ) {
					font-size: 34px;
				}
			}
		}
	}

	&--dark {
		background: #F1E9E7;
		padding-top: 40px;
		padding-bottom: 40px;

		@include media( map-get( $media, md ) ) {
			padding-top: 20px;
		}
	}

	&--simple {
		padding-top: 77px;
		padding-bottom: 60px;
	}

	&--info {

		@include media( map-get( $media, md ) ) {
			background: transparent;
			padding: 0 0 30px 0;
		}

		@include media( map-get( $media, sm ) ) {
			background: transparent;
			padding: 0 0 30px 0;
		}
	}

	&--img {
		background-size: cover;
		background-position: center top;
		padding-top: 53px;
		padding-bottom: 60px;
		position: relative;

		@include media( map-get( $media, md ) ) {
			margin-top: 0;
			margin-bottom: 0 !important;
			padding-bottom: 73px;
			padding-top: 24px;

			.scroll-element.scroll-x.scroll-scrollx_visible .scroll-bar {
				background: #FFFFFF;
			}

			.scroll-wrapper {
				padding-bottom: 45px;
			}
		}

		@include media( map-get( $media, sm ) ) {
			margin-top: 0;
		}

		.banner {
			transform: translateY(60px);

			@include media( map-get( $media, md ) ) {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				margin-bottom: 0 !important;
				transform: none;

				&__info {
					width: 100%;
					max-width: 100%;
					min-width: 0;
					padding: 0;
					height: 73px;
					align-items: center;
					justify-content: center;
					min-height: 0;
				}

				&__title {
					margin-bottom: 0;
					font-weight: normal;
					font-size: 21px;
					line-height: 24px;
					display: flex;
					align-items: center;
					padding: 0 35px 0 20px;

					&:after {
						content: '';
						display: block;
						border-right: 1px solid #FFFFFF;
						border-bottom: 1px solid #FFFFFF;
						width: 10px;
						height: 10px;
						transform: translateY(-50%) rotate(-45deg);
						position: absolute;
						top: 50%;
						right: 23px;
					}
				}
				
				&__btn {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					font-size: 0;
					border: none;
					background: none;
					padding: 0;
					border-radius: 0;
				}

				&__text,
				&__img {
					display: none;
				}
			}
		}

		.section-btn {
			color: #fff;
		}

		.card {
			background: #F1E9E7;

			&__bottom {
				padding-left: 17px;
				padding-right: 17px;

				@include media( map-get( $media, md ) ) {
					padding-left: 10px;
					padding-right: 10px;
					padding-bottom: 10px;
				}
			}

			&__title {
				padding-right: 52px;
			}
		}
	}

	&--scroll {

		@include media( map-get( $media, md ) ) {
			padding-bottom: 0;
			margin-bottom: 35px;

			.title {
				font-weight: 300;
				font-size: 30px;
				line-height: 34px;
				text-transform: uppercase;
				color: rgba(75, 16, 0, 0.15);
			}
		}
	}

	&--pmd {

		@include media( map-get( $media-min, lg ), 'min' ) {
			padding-top: 54px;
			padding-bottom: 70px;

			.title {
				margin-bottom: 45px;
			}
		}
	}

	&--quality {
		
		@include media( map-get( $media-min, lg ), 'min' ) {
			padding-top: 83px;
			padding-bottom: 85px;
			margin-bottom: 80px;
		}

		@include media( map-get( $media, md ) ) {
			padding-top: 0;
			background: none;
			padding-bottom: 36px;
			margin-bottom: 0;

			& + .section {
				margin-top: 0;
			}
		}
	}

	&__stars {
		display: flex;
		justify-content: center;
		margin-bottom: 14px;

		@include media( map-get( $media, md ) ) {
			display: none;
		}
		
	}

	&__title {
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 300;
		text-transform: uppercase;
		color: #4B1000;
		font-size: 32px;
		line-height: 37px;
		margin-bottom: 54px;
		
		@include media( map-get( $media, md ) ) {
			font-size: 15px;
			line-height: 17px;
			margin-bottom: 14px;
			font-weight: 400;
		}

		.btn {
			margin-left: 11px;
		}

		& > span {
			color: rgba(106, 56, 43, 0.3);
			margin-left: 0.2em;
		}

		& > .icon {
			font-size: 38px;
			margin-right: 12px;
			color: #AA282C;
			line-height: 29px;
			position: relative;
			top: -0.14em;

			@include media( map-get( $media, md ) ) {
				font-size: 23px;
				margin-right: 4px;
			}

			&-eye {
				top: 0;

				@include media( map-get( $media-min, md ), 'min' ) {
					font-size: 50px;
				}

				@include media( map-get( $media, md ) )  {
					font-size: 33px;
				}
			}

			&-rabbit {
				@include media( map-get( $media, md ) ) {
					top: -0.16em;
					font-size: 22px;
				}
			}

			&-bird,
			&-meat {
				@include media( map-get( $media, md ) ) {
					top: -0.06em;
    				font-size: 28px;
				}
			}
			
			&-meat {
				top: -0.06em;
			}


			&-cooking {
				top: 0;

				@include media( map-get( $media, md ) ) {
					font-size: 25px;
				}
			}

			&-pork {
				top: 0;
				@include media( map-get( $media, md ) ) {
    				font-size: 30px;
				}
			}

			&-star-full {
				color: #FFC738;
				top: 0;

				@include media( map-get( $media, md ) ) {
					font-size: 18px;
					margin-right: 6px;
				}
			}
		}

		&--alt {
			position: relative;
			padding-bottom: 32px;

			@include media( map-get( $media, md ) ) {
				position: relative;
				padding-bottom: 0;
				padding-left: 30px;
				padding-right: 30px;
			}

			@include media( map-get( $media, md ) ) {
				margin-bottom: 20px;
			}
		}

		&--light {
			color: #fff;

			.icon {
				color: #E9AEA1;
			}

			.section-btn {
				color: rgba(#E9AEA1,.4);
			}

			.section__more {

				a {
					color: #FFFFFF;
				}

				span {
					color: #E9AEA1;
				}
			}
		}

		&--md {
			font-size: 32px;

			@include media( map-get( $media, md ) ) {
				font-size: 15px;
				line-height: 17px;
			}

			.section-btn {
				font-size: 31px;
			}
		}

		&--lg {
			font-size: 34px;

			& > .icon {
				font-size: 46px;

				&-beef {
					font-size: 39px;
				}

				&-pork,
				&-meat {
					font-size: 58px;
				}
			}

			.section-btn {
				font-size: 31px;
			}
		}
	}

	&-btn {
		font-size: 31px;
		color: rgba(106, 56, 43, 0.2);
		display: flex;
		background-color: transparent;
		transition: .3s;

		@include media( map-get( $media, md ) ) {
			display: none;
		}

		&:hover {

			@include media( map-get( $media-min, lg ), 'min' ) {
				color: map-get( $color, accent );
			}
		}

		&__left {
			margin-right: 13px;
		}

		&__right {
			margin-left: 13px;
		}
	}
}