mixin header()
	.header-mobile
		.container
			a(href="index.html").logo
				img(src="images/logo-alt.svg", alt="")
			.header-mobile__btns
				div.header-mobile__btn.header-mobile__btn--search
					+icon('search')
					.search-drop
						form.search-drop__box
							input(type="text" name="" placeholder="Я ищу...")
							button
								+icon('search')
				a(href="#", class= (pageType == "favorite") ? "active" : "" ).header-mobile__btn
					+icon('heart')
					span.header-mobile__btn-num 8
				a(href="#", class= (pageType == "basket") ? "active" : "" ).header-mobile__btn
					+icon('basket')
					span.header-mobile__btn-num 2
				a(href="#").header-mobile__btn.js-menu-trigger
					+icon('burger')

	header.header&attributes(attributes)
		.header__main
			.container
				.header__menu
					button.menu-btn
						+icon('burger-alt')
						span каталог
					+menu()
				.header__promo
					a(href="#").promo-pic.js-my-tooltip(data-title="Промокоды", data-visible="true") %
						span промокоды
				.header__search
					form.search-box
						input(type="text" name="" placeholder="Я ищу...")
						button
							+icon('search')
				.header__btns
					a(href="#").header__btn.header__btn--user
						+icon('user')
						span.header__btn-name войти
					a(href="#").header__btn.header__btn--reg
						+icon('list')
						span.header__btn-name регистрация
					a(href="#").header__btn
						+icon('heart')
						span.header__btn-num 8
					a(href="#").header__btn
						+icon('basket')
						span.header__btn-num 2
						span.header__btn-val 0 ₽
		.header__top
			.container
				.header__nav
					+nav()
				.header__nav.header__nav--mobile
					+nav("mobile")
				.header__logo
					+logo(true)
				.header__phone
					a(href="tel:74951776328") +7 (495) 177 63 28
				.header__time 9:00-19:30
				.header__callback
					a(href="#popup-callback").js-popup.btn.btn--light заказать звонок