.header {
	display: flex;
	flex-wrap: wrap;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;

	@include media( map-get( $media, lg ) ) {
		display: none;
		position: fixed;
		left: 0;
		top: 46px;
		height: calc(100% - 46px);
		background: linear-gradient(180deg, #880205 0%, #AA282C 100%);
		overflow-x: hidden;
		overflow-y: auto;
	}
	
	&.no-desktop {
		@include media( map-get( $media-min, lg ), 'min' ) {
			display: none;
		}
	}

	&__top {
		width: 100%;
		flex: 0 0 100%;
		order: -1;
		background: #F1E9E7;
		// padding: 46px 0 53px;
		// transition: padding .3s;
		height: 135px;
		display: flex;
		align-items: center;
		padding-bottom: 10px;

		@include media( map-get( $media, lg ) ) {
			background: transparent;
			height: auto !important;
			padding-bottom: 0 !important;
		}

		.container {
			display: flex;
			align-items: center;
			position: relative;

			@include media( map-get( $media, lg ) )  {
				display: block;
				padding: 0;
			}
		}
	}

	&__main {
		background: #AA282C;
		width: 100%;
		flex: 0 0 100%;
		padding: 12px 0 11px;

		@include media( map-get( $media, lg ) ) {
			background: transparent;
			padding: 0;
		}

		.container {
			display: flex;
			align-items: center;
			position: relative;

			@include media( map-get( $media, lg ) )  {
				display: block;
				padding: 0;
			}
		}
	}

	&__menu {
		margin-right: 22px;

		@include media( map-get( $media, lg ) ) {
			margin-right: 0;
		}
	}

	&__promo {
		margin-right: 20px;

		@include media( map-get( $media, lg ) ) {
			margin-right: 0;
			margin-top: 16px;
			margin-bottom: 16px;
		}
	}

	&__nav {

		@include media( map-get( $media, lg ) ) {
			display: none;
		}

		&--mobile {
			@include media( map-get( $media, lg ) ) {
				display: block;
			}
		}
	}

	&__phone {
		margin-left: auto;
		color: #715047;
		font-size: 16px;
		font-weight: 500;

		@include media( map-get( $media, lg ) ) {
			display: none;
		}
	}

	&__time {
		color: #715047;
		font-size: 16px;
		font-weight: 300;
		margin-left: 15px;

		@include media( map-get( $media, lg ) ) {
			display: none;
		}
	}

	&__callback {
		margin-left: 18px;

		@include media( map-get( $media, lg ) ) {
			display: none;
		}

		.btn {
			height: 36px;
		}
	}

	&__logo {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		text-align: center;
		margin-top: 6px;

		@include media( map-get( $media, lg ) ) {
			display: none;
		}

		img {
			margin-left: auto;
			margin-right: auto;
			max-width: 163px;
		}

		span {
			line-height: 17px;
			letter-spacing: 0.05em;
			color: #AA282C;
			display: block;
			margin-top: 3px;
			max-height: 20px;
			overflow: hidden;
		}
	}

	&__search {
		flex: 1;

		@include media( map-get( $media, lg ) ) {
			display: none;
		}
	}

	&__btns {
		margin-left: 17px;
		display: flex;

		@include media( map-get( $media, lg ) ) {
			display: block;
			margin-left: 0;
			margin-bottom: -5px;
			background: rgba(233, 174, 161, 0.2);
		}
	}

	&__btn {
		position: relative;
		margin-right: 11px;
		display: flex;
		align-items: center;

		@include media( map-get( $media, lg ) ) {
			display: none;
			margin-right: 0;
		}

		&:last-child {
			margin-right: 0;
		}

		&--reg {
			display: none;
		}

		&--reg,
		&--user {

			@include media( map-get( $media, lg ) ) {
				display: flex;
				position: relative;
				padding: 17px 24px 13px 56px;
				margin-bottom: 5px;
				background: rgba(233, 174, 161, 0.2);

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		.icon {
			width: 47px;
			height: 47px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #fff;
			font-size: 24px;
			background-color: #912225;

			@include media( map-get( $media, lg ) ) {
				position: absolute;
				left: 24px;
				top: 50%;
				transform: translateY(-50%);
				font-size: 18px;
				color: #fff;
				height: auto;
				width: auto;
				background: none;
			}

			&-basket {
				font-size: 30px;
				padding-right: 1px;
			}
		}

		&-num {
			position: absolute;
			top: 0;
			left: 26px;
			background: #FFFFFF;
			width: 21px;
			height: 21px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			font-weight: bold;
			font-size: 13px;
			line-height: 15px;
			color: #4B1000;
			font-family: map-get( $ff, alt );
		}

		&-name {
			display: none;

			@include media( map-get( $media, lg ) ) {
				display: block;
				font-weight: 500;
				font-size: 12px;
				line-height: 14px;
				text-transform: uppercase;
				color: #FFFFFF;
			}
		}

		&-val {
			display: block;
			font-family: map-get( $ff, alt );
			margin-left: 13px;
			font-weight: 500;
			font-size: 22px;
			line-height: 1;
			color: #FFFFFF;
		}
	}

	&-mobile {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;

		@include media( map-get( $media, lg ) ) {
			display: block;
			background: #AA282C;
			z-index: 100;

			.container {
				display: flex;
				align-items: center;
				height: 46px;
			}

			.logo {
				margin-right: auto;
			}

			&__btns {
				display: flex;
				height: 100%;
				margin-right: -15px;
			}

			&__btn {
				position: relative;
				display: flex;
				width: 45px;
				height: 100%;
				align-items: center;
				justify-content: center;

				&.js-menu-trigger {
					background: #880205;
					width: 50px;

					.icon {
						font-size: 24px;
					}
				}

				.icon {
					font-size: 20px;
					color: #E9AEA1;

					&-basket {
						font-size: 25px;
					}
				}

				&-num {
					position: absolute;
					top: 8px;
					right: 6px;
					border-radius: 50%;
					background: #fff;
					width: 16px;
					height: 16px;
					font-weight: bold;
					font-size: 9px;
					font-weight: bold;
					font-family: map-get( $ff, alt );
					color:#AA282C;
					display: flex;
					align-items: center;
					justify-content: center;
					line-height: 16px;
				}

				&.active {
					background: #FFFFFF;

					& > .icon {
						color: #AA282C;
					}

					.header-mobile__btn-num  {
						color: #fff;
						background: #AA282C;
					}
				}

				&--search {
					position: relative;

					&:after {
						content: '';
						position: absolute;
						z-index: 3;
						top: 100%;
						left: 50%;
						transform: translateX(-50%) rotate(45deg);
						width: 13px;
						height: 13px;
						background: #F1E9E7;
						border-radius: 2px;
						margin-top: -6px;
						opacity: 0;
						visibility: hidden;
						transition: .3s;
					}

					&.active {
						background: none;

						& > .icon {
							color: #fff;
						}

						.search-drop,
						&:after {
							opacity: 1;
							visibility: visible;
						}
					}
				}
			}
		}
	}
}

.search-drop {
	position: fixed;
	z-index: 2;
	top: 46px;
	left: 50%;
	transform: translateX(-50%);
	width: 100vw;
	background: #F1E9E7;
	box-shadow: 0px 0px 20px rgba(75, 16, 0, 0.5);
	border-radius: 2px;
	height: 70px;
	display: flex;
	align-items: center;
	padding: 0 10px;
	opacity: 0;
	visibility: hidden;
	transition: .3s;

	&__box {
		display: flex;
		background: #FFFFFF;
		border: 1px solid #F1E9E7;
		height: 39px;
		overflow: hidden;
		border-radius: 42px;
		width: 100%;

		input {
			flex: 1;
			min-width: 0;
			background: none;
			height: 100%;
			padding: 0 10px 0 21px;
			font-size: 15px;
		}

		button {
			background: none;
			height: 100%;
			display: flex;
			align-items: center;
			width: 35px;
			min-width: 35px;
			font-size: 22px;
			color: #AA282C;

			.icon {
				color: inherit;
				font-size: inherit;
			}
		}
	}
}