mixin popup-new()
	#popup-new.popup-new.popup
		.popup__title я новый покупатель
		.popup__content
			.popup__text Регистрация на нашем сайте позволит быстро оформлять повторные заказы, управлять подпиской на рассылку и не только. Вы можете оформить быстрый заказ без регистрации и зарегистрироваться позже.
			ul.popup__btns
				li
					a(href="#").btn зарегистрироваться
				li
					a(href="#").btn.btn--gray купить без регистрации