.basket {

	&-page {

		@include media( map-get( $media, md ) ) {
			margin-top: 50px;
		}

		@include media( map-get( $media, sm ) ) {
			margin-bottom: -35px;

			.form--checkout,
			.inner__aside {
				// display: none;
			}

			.title--nomobile {
				display: block;
				opacity: 0;
				height: 48px;
				margin-bottom: 0;
			}

			&.checkout-open {

				.title--nomobile {
					display: none;
				}

				.title--basker-trigger {
					background: #BFA8A2;
					font-weight: 400;
					box-shadow: none;
					height: 48px;

					.icon {

						&:first-child {
							display: block;
						}

						&:last-child {
							display: none;
						}
					}
				}
			}

			.form--checkout,
			.inner__aside {
				display: block;
				margin-left: -15px;
				margin-right: -15px;
			}
			
			.inner__aside {
				width: auto;
				max-width: 100vw;
				margin-top: 0;
			}

			.form--checkout {
				padding: 34px 15px 38px;
				background: #F1E9E7;
				margin-bottom: 0;

				.form__labels {
					display: block;
					margin-right: 0;

					.form__label {
						margin-right: 0;
						width: 100%;
						max-width: 100%;
					}

					.form__input {
						background: #FFFFFF;
						border-radius: 2px;
					}
				}
			}
		}

		.container {

			@include media( map-get( $media, lg ) ) {
				position: relative;
			}
		}

		.title  {
			@include media( map-get( $media-min, lg ), 'min' ) {
				margin-bottom: 47px;
				margin-top: 90px;

				&:first-child {
					margin-top: 0;
				}

				& + form {
					margin-top: -20px;
				}
			}

			&:first-child {

				@include media( map-get( $media, md ) ) {
					display: none;
				}
			}
		}

		.page-link {
			display: none;

			@include media( map-get( $media, lg ) ) {
				display: block;
				position: absolute;
				right: 15px;
				top: 30px;
			}

			@include media( map-get( $media, md ) ) {
				top: -41px;

				a {
					flex-direction: row-reverse;

					span {
						font-size: 11px;
						line-height: 13px;
						font-weight: 400;
					}

					.icon {
						font-size: 15px;
						margin-right: 0;
						margin-left: 5px;
					}
				}
			}
		}

		.section__title,
		.section--slider .section__title--lg {
			font-size: 25px;

			@include media( map-get( $media, md ) ) {
				font-size: 15px;
				line-height: 17px;
			}

			& > .icon {
				font-size: 34px;
				top: 0;

				@include media( map-get( $media, md ) ) {
					font-size: 22px;
				}
			}
		}

		.section__title {
			margin-bottom: 30px;

			@include media( map-get( $media, md ) ) {
				margin-bottom: 16px;
			}

			.icon {

				&-present {
					color: #FFC738;
				}
			}

			.btn--present {

				@include media( map-get( $media, md ) ) {
					display: none;
				}
			}
		}

		.section--slider {

			@include media( map-get( $media, lg ) ) {
				margin-left: -15px;
				margin-right: -15px;
			}
		}

		.card-slider {
			margin-top: 24px;

			@include media( map-get( $media, md ) ) {
				margin-top: 10px;
			}

			.card-slider {
				margin-top: 0;
			}

			@include media( map-get( $media-min, lg ), 'min' ) {

				.slick-arrow {
					top: calc((100% - 66px) / 2);

					&.slick-prev {
						left: -80px;
					}

					&.slick-next {
						right: -80px;
					}
				}
			}
		}

		.card__bottom {
			padding-top: 7px;
		}

		.card__btn.btn--present {
			width: 40px;
			min-width: 40px;
			height: 40px;
			font-size: 25px;

			@include media( map-get( $media, md ) ) {
				display: inline-flex;
				width: auto;
				height: 27px;
				padding-bottom: 0;
				padding-left: 0;
				background: #EFC059;
				margin-top: 0;
			}
		}

		.section--dark {
			margin-bottom: 84px;

			@include media( map-get( $media, md ) ) {
				margin-bottom: 34px;
			}
		}
	}

	&-list {
		padding-top: 4px;
	}

	&-item {
		position: relative;
		display: flex;
		padding-bottom: 27px;
		margin-bottom: 42px;
		border-bottom: 1px solid rgba(75, 16, 0, 0.2);
		overflow: hidden;

		@include media( map-get( $media, md ) ) {
			display: block;
			padding-left: 74px;
			min-height: 87px;
			margin-bottom: 18px;

			&:last-child {
				min-height: 60px;
			}
		}
		
		@include media( map-get( $media, sm ) ) {
			padding-bottom: 20px;
			min-height: 0 !important;
		}

		&:last-child {
			border-bottom: none;
			margin-bottom: 0;

			@include media( map-get( $media-min, md ), 'min' ) {
				padding-bottom: 0;
			}
		}

		&__img {
			width: 97px;
			min-width: 97px;
			height: 96px;
			overflow: hidden;
			margin-right: 28px;
			display: flex;
			justify-content: center;
			align-items: center;
			align-self: flex-start;

			@include media( map-get( $media, md ) ) {
				position: absolute;
				top: 0;
				left: 0;
				width: 60px;
				height: 60px;
				min-width: 60px;
			}

			img {
				display: block;
				max-width: 100%;
				max-height: 100%;
			}
		}

		&__info {
			margin-right: 15px;
			flex: 1;
			padding-right: 295px;

			@include media( map-get( $media, md ) ) {
				margin-right: 0;
				padding-right: 340px;
			}

			@include media( map-get( $media, sm ) ) {
				position: relative;
				padding-right: 0;
				padding-bottom: 45px;
			}
		}

		&__title {
			font-size: 18px;
			line-height: 21px;
			color: #4B1000;
			margin-bottom: 3px;
			margin-top: -0.24em;

			@include media( map-get( $media, md ) ) {
				font-size: 12px;
				font-weight: 500;
				line-height: 14px;
				padding-right: 22px;
				flex: 0 0 100%;
				margin-bottom: 7px;
			}

			a {

				&:hover {

					@include media( map-get( $media-min, lg ), 'min' ) {
						text-decoration: underline;
					}
				}
			}
		}

		&__price {
			font-weight: 500;
			font-size: 20px;
			line-height: 23px;
			font-family: map-get( $ff, alt );
			color: #AA282C;
			margin-bottom: 7px;

			@include media( map-get( $media, sm ) ) {
				height: 27px;
				position: absolute;
				bottom: 0;
				left: 0;
				background: #AA282C;
				border-radius: 2px;
				font-weight: 500;
				font-size: 16px;
				line-height: 19px;
				color: #fff;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0 26px;
				margin-bottom: 0;

				span {
					display: none;
				}
			}
		}

		&__stats {

			.item-tabs__box-item {
				margin-bottom: 6px;
				padding-left: 0;

				@include media( map-get( $media, sm ) ) {
					margin-bottom: 15px;

					&:last-child {
						margin-bottom: 0;
					}
				}

				&:last-child {
					margin-bottom: 0;
				}

				.item-tabs__box-text,
				.form__label--check .form__label-name {
					font-size: 15px;
				}

				.form__label--check .form__label-name {

					@include media( map-get( $media, sm ) ) {
						font-size: 12px;
						line-height: 14px;
					}
				}

				.item-tabs__box-text {

					@include media( map-get( $media, sm ) ) {
						font-size: 14px;
						position: relative;
						bottom: -3px;
					}
				}

				.form__check-box {
					margin-right: 6px;
				}
			}
		}

		&__area {

			@include media( map-get( $media, sm ) ) {
				max-width: 300px;
				display: flex;
				align-items: center;
				position: relative;
				background: #F3ECEA;
				padding: 8px 8px 6px;
				margin-bottom: 11px;

				&--alt {
					margin-bottom: 31px;
				}
			}
		}

		&__counter {
			width: 150px;
			flex: 0 0 150px;
			position: absolute;
			top: 0;
			right: 183px;

			@include media( map-get( $media, sm ) ) {
				width: auto;
				flex: initial;
				position: static;
				right: 0;
				margin-right: 8px;
			}

			&-info {
				margin-top: 9px;
				color: #4B1000;
				// padding-left: 13px;
				position: relative;

				@include media( map-get( $media, sm ) ) {
					position: absolute;
					top: 100%;
					left: 0;
					font-size: 11px;
					line-height: 13px;
					margin-top: 7px;
				}

				&:before {
					content: '';
					display: inline-block;
					width: 8px;
					height: 8px;
					border-radius: 50%;
					background: #4B1000;
					margin-right: 5px;
					position: relative;
					top: -1px;
				}
			}
		}

		&__present {
			display: flex;
			align-items: center;
			background: #EFC059;
			border-radius: 25px;
			height: 39px;
			padding: 0 24px;
			color: #fff;
			font-size: 18px;
			margin-right: 47px;
			margin-left: 50px;

			@include media( map-get( $media-min, md ), 'min' ) {
				position: absolute;
				top: 0;
				right: 70px;
			}

			@include media( map-get( $media, md ) ) {
				margin-left: 0;
				display: inline-flex;
				border-radius: 2px;
				font-weight: 500;
				font-size: 13px;
				padding: 0 13px;
				height: 27px;
				position: absolute;
				left: 74px;
				bottom: 0;
			}

			@include media( map-get( $media, sm ) ) {
				bottom: 35px;
			}

			.icon {
				margin-left: 5px;
				font-size: 1.3em;
			}
		}

		&__summa {
			width: 107px;
			max-width: 107px;
			flex: 0 0 107px;
			white-space: nowrap;
			font-weight: 500;
			font-size: 25px;
			line-height: 1;
			font-family: map-get( $ff, alt );
			color: #AA282C;
			margin-left: 40px;
			position: absolute;
			top: 0;
			right: 36px;

			@include media( map-get( $media, sm ) ) {
				right: 0;
				position: static;
				margin-left: 0;
				width: auto;
				max-width: 100%;
				flex: initial;
				font-size: 16px;
				line-height: 19px;
			}
		}

		&__del {
			display: block;
			background: transparent;
			width: 22px;
			min-width: 22px;
			height: 22px;
			margin-left: 10px;
			position: relative;

			@include media( map-get( $media, md ) ) {
				position: absolute;
				top: -2px;
				right: 0;
				width: 16px;
				height: 16px;
				min-width: 16px;
				margin-left: 0;
			}

			&:after,
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 100%;
				height: 1px;
				background: #C9B7B3;
			}

			&:after {
				transform: translate(-50%,-50%) rotate(45deg);
			}

			&:before {
				transform: translate(-50%,-50%) rotate(-45deg);
			}
		}
	}
}