mixin basket-item(object)
	.basket-item
		a(href="#").basket-item__img
			img(src="images/" + object.imgName, alt="")
			if object.sale
				.card__sale Акция
		.basket-item__info
			.basket-item__title
				a(href="#")= object.title
			if object.price
				.basket-item__price= object.price + " ₽"
					span= "/" + object.type

			if object.type
				.basket-item__area(class= (object.type === "шт") ? "basket-item__area--alt" : "")
					if object.type
						.basket-item__counter
							+counter(object.type)
							if (object.type === "шт")
								.basket-item__counter-info Покупка в штуках
					if object.summa
						.basket-item__summa= object.summa
			if object.stats
				ul.basket-item__stats
					each val,name in object.stats
						li.item-tabs__box-item
							label.form__label.form__label--check
								input(type="checkbox" name="").form__check
								span.form__check-box
								span.form__label-name= name
							.item-tabs__box-text= val
		if object.isPresent
			.basket-item__present Бесплатно
				+icon('present')
		button.basket-item__del


