.search-box {
	display: flex;
	background: #FFFFFF;
	border-radius: 25px;
	height: 47px;
	overflow: hidden;

	input {
		height: 100%;
		min-width: 0;
		font-size: 16px;
		padding: 0 10px 0 19px;
		flex: 1;
	}

	button {
		width: 40px;
		height: 100%;
		display: flex;
		align-items: center;
		background-color: transparent;
		font-size: 24px;
		color: #E9AEA1;
		background-position: 5px center;
	}
}

.search {

	@include media( map-get( $media-min, md ), 'min' ) {
		margin-bottom: 20px;
	}

	.card {
		
		@include media( map-get( $media-min, md ), 'min' ) {
			margin-bottom: 78px;
		}
	}
}