.tabs {

	&__controls {
		display: flex;
		margin-right: -12px;
		position: relative;

		@include media( map-get( $media, md ) ) {
			display: none;
		}

		&:after {
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			width: calc(100% - 12px);
			border-bottom: 1px solid #C9B7B3;
		}
	}

	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 12px;
		width: calc(33.3333% - 12px);
		max-width: calc(33.3333% - 12px);
		flex: 0 0 calc(33.3333% - 12px);
		height: 52px;
		background: #F3ECEA;
		border-radius: 2px 2px 0 0;
		font-weight: 300;
		font-size: 16px;
		line-height: 18px;
		color: #4B1000;
		position: relative;
		z-index: 1;
		border: 1px solid #F3ECEA;
		border-bottom: none;

		.icon {

			&:first-child {
				margin-right: 7px;
				font-size: 25px;
				color: #AA282C;
			}

			&:last-child {
				display: none;
				color: #AA282C;
				margin-left: 10px;
				font-size: 20px;
			}
		}

		&.active {
			background: #fff;
			border-color: #C9B7B3;
			font-size: 23px;
			line-height: 26px;

			&:after {
				content: '';
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				border-bottom: 1px solid #fff;
			}

			.icon {
	
				&:last-child {
					display: block;
				}
			}
		}

		&.accent {
			background: #F9E5E5;
			font-size: 16px;
			line-height: 18px;
			color: #AA282C;
			font-weight: 400;

			&.active {
				font-size: 23px;
				line-height: 26px;
	
				.icon {
		
					&:first-child {
						font-size: 30px;
					}
				}
			}
		}
	}

	&__boxs {
		margin-top: 48px;

		@include media( map-get( $media, md ) ) {
			margin-top: 0;
		}
	}

	&__box {
		display: none;
		color: rgba(75, 16, 0, 0.6);

		@include media( map-get( $media, md ) ) {
			display: block;
		}

		&-btn {
			display: none;

			@include media( map-get( $media, md ) ) {
				display: flex;
				align-items: center;
				border-bottom: 1px solid rgba(75, 16, 0, 0.3);
				position: relative;
				color: #4B1000;
				font-size: 15px;
				text-transform: uppercase;
				padding: 15px 20px 15px 0;

				&:after {
					content: '';
					position: absolute;
					top: 50%;
					margin-top: -2px;
					right: 4px;
					border-top: 4px solid #4B1000;
					border-left: 4px solid transparent;
					border-right: 4px solid transparent;
				}

				&.accent {
					color: #AA282C;
				}

				.icon {
					font-size: 24px;
					margin-right: 10px;
				}

				&.active {
					border-bottom-color: transparent;

					&:after {
						transform: rotate(180deg);
					}

					& ~ .tabs__box-cont {
						display: block;
						margin-bottom: 20px;
						margin-top: 5px;
					}
				}
			}
		}

		&-cont {

			@include media( map-get( $media, md ) ) {
				display: none;
			}
		}

		p {
			margin-bottom: 28px;

			@include media( map-get( $media, md ) ) {
				margin-bottom: 14px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		b {
			color: #4B1000;
		}

		a {
			color: #AA282C;
			border-bottom: 1px dotted;

			&:hover {

				@include media( map-get( $media-min, lg ), 'min' ) {
					border-bottom-color: transparent;
				}
			}
		}

		&-links {

			li {
				margin-bottom: 8px;
	
				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		&.active {
			display: block;
		}

		&-cols {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			@include media( map-get( $media, md ) ) {
				display: block;
			}
		}

		&-col {
			width: calc(50% - 16px);
			max-width: calc(50% - 16px);
			flex: 0 0 calc(50% - 16px);

			@include media( map-get( $media, md ) ) {
				width: 100%;
				max-width: 100%;
				margin-bottom: 20px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			&:first-child {
				width: calc(50% - 65px);
				max-width: calc(50% - 65px);
				flex: 0 0 calc(50% - 65px);

				@include media( map-get( $media, md ) ) {
					width: 100%;
					max-width: 100%;
				}
			}
		}
	}
}