mixin popup-login()
	#popup-login.popup-login.popup
		.popup__title войти в личный кабинет
		.popup__content
			.popup__social
				| Войти через:
				+social()
			form.form
				label.form__label
					input(type="text" name="" placeholder="E-mail или Логин").form__input.form__input--white
				label.form__label
					input(type="text" name="" placeholder="Пароль").form__input.form__input--white
				label.form__label.form__label--check
					input(type="checkbox" name="").form__check
					span.form__check-box
					span.form__label-name Запомнить меня на этом компьютере
				.form__action.form__action--center
					button.btn войти
				.form__link
					a(href="#") Забыли пароль?