.category {
	margin-top: 83px;
	margin-bottom: 87px;

	@include media( map-get( $media, md ) ) {
		margin-top: 38px;
		margin-bottom: 0;

		& + .section {
			margin-top: 0;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: -30px;
		margin-right: -30px;

		@include media( map-get( $media, md ) ) {
			margin-bottom: 0;
			margin-right: 0;
			display: block;

			&.scroll-wrapper {
				margin-left: -15px;
				margin-right: -15px;
				padding-bottom: 40px;
			}

			&.scroll-content {
				display: flex;
				flex-wrap: nowrap;

				&:after,
				&:before {
					content: '';
					display: block;
					height: 10px;
					width: 15px;
					min-width: 15px;
				}
			}
		}
	}

	&-item {
		margin-bottom: 30px;
		margin-right: 30px;
		width: calc(33.3333% - 30px);
		max-width: calc(33.3333% - 30px);
		flex: 0 0 calc(33.3333% - 30px);
		position: relative;

		@include media( map-get( $media, md ) ) {
			margin-bottom: 0;
			margin-right: 15px;
			width: 212px;
			max-width: 212px;
			flex: 0 0 212px;
			display: flex;

			&:last-child {
				margin-right: 0;
			}
		}

		&:before {
			content: '';
			display: block;
			padding-top: 100%;
		}

		&--big {
			width: calc(66.6666% - 30px);
			max-width: calc(66.6666% - 30px);
			flex: 0 0 calc(66.6666% - 30px);

			@include media( map-get( $media, md ) ) {
				width: 320px;
				max-width: 320px;
				flex: 0 0 320px;
			}

			&:before {
				padding-top: 48%;
			}
		}

		&--combo {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			&:before {
				display: none;
			}

			.category-item__title {
				font-size: 22px;
				padding: 20px;

				@include media( map-get( $media, md ) ) {
					font-size: 14px;
					padding-top: 16px;
				}
			}

			.category-item {
				display: block;
				height: calc(50% - 15px);
				margin-right: 0;

				@include media( map-get( $media, md ) ) {
					height: 92px;
					margin-bottom: 24px;
				}

				&:before {
					display: none;
				}

				&:nth-child(1) {
					width: 100%;
					max-width: 100%;
					flex: 0 0 100%;
				}

				&:nth-child(3),
				&:nth-child(2) {
					width: calc(50% - 15px);
					max-width: calc(50% - 15px);
					flex: 0 0 calc(50% - 15px);

					@include media( map-get( $media, md ) ) {
						height: 96px;
						margin-bottom: 0;

						.category-item__title {
							padding-top: 10px;
						}
					}
				}
			}
		}

		&--sm {
			width: calc(25% - 30px);
			max-width: calc(25% - 30px);
			flex: 0 0 calc(25% - 30px);
			margin-top: 10px;

			@include media( map-get( $media, md ) ) {
				margin-top: 0;
			}
		}

		&__title {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			font-weight: 300;
			font-size: 27px;
			line-height: 31px;
			text-align: center;
			text-transform: uppercase;
			color: #FFFFFF;
			padding: 30px 20px;
			z-index: 2;

			@include media( map-get( $media, md ) ) {
				font-size: 17px;
				line-height: 20px;
				font-weight: 400;
				padding: 17px 10px;
			}

			&--blue{
				color: #8DB3D6;
			}
		}

		&__box {
			position: absolute;
			z-index: 2;
			width: 91px;
			height: 91px;
			border-radius: 50%;
			bottom: 43px;
			left: 36px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: 300;
			color: #fff;
			text-transform: uppercase;

			@include media( map-get( $media, md ) ) {
				width: 53px;
				height: 53px;
				left: 22px;
				bottom: 27px;
				font-weight: 300;
			}

			&--sale {
				background: #FDC501;
				font-size: 60px;

				@include media( map-get( $media, md ) ) {
					font-size: 37px;
					left: 17px;
					bottom: 19px;
				}
			}

			&--new {
				font-size: 30px;
				background: #AA282C;

				@include media( map-get( $media, md ) ) {
					font-size: 18px;
				}
			}
		}

		&__img {
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center top;

			&-desktop,
			&-mobile {
				position: absolute;
				z-index: 1;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center top;
			}

			&-desktop {
				
				@include media( map-get( $media, md ) ) {
					display: none;
				}
			}
			
			&-mobile {
				display: none;

				@include media( map-get( $media, md ) ) {
					display: block;
				}
			}
		}
	}
}