.menu {
	position: absolute;
	z-index: 100;
	top: 100%;
	margin-top: 11px;
	left: map-get( $margin, alt );
	right: map-get( $margin, alt );
	background: linear-gradient(180deg, #880105 0%, #AA282C 100%);
	color: #fff;
	padding-right: 364px;
	min-height: 436px;
	display: flex;
	opacity: 0;
	visibility: hidden;
	transition: .3s;

	@include media( map-get( $media, big ) ) {
		left: map-get( $margin, alt );
		right: map-get( $margin, alt );
	}

	@include media( map-get( $media, lg ) )  {
		min-height: 0;
		padding-right: 0;
		margin-top: 0;
		opacity: 1;
		visibility: visible;
		position: static;
		background: none;
		padding-top: 6px;
	}

	.scroll-element.scroll-y.scroll-scrolly_visible {
		height: calc(100% - 62px);
		background: #9E2828;
	}

	&-btn {
		display: flex;
		align-items: center;
		background-color: #912225;
		border-radius: 42px;
		height: 47px;
		padding: 0 28px 0 24px;
		font-weight: 500;
		font-size: 27px;
		text-transform: uppercase;
		color: #fff;
		transition: .3s;
		position: relative;

		@include media( map-get( $media, lg ) ) {
			display: none;
		}

		.icon {
			font-size: 29px;
			margin-right: 17px;
		}

		& > * {
			position: relative;
			z-index: 2;
		}

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			background: #880307;
			height: calc(50% + 11px);
			z-index: 1;
			opacity: 0;
			visibility: hidden;
			transition: .3s;
		}

		&.active {
			background: #880307;

			&:after {
				opacity: 1;
				visibility: visible;
			}

			& ~ .menu {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&-list {
		padding: 27px 0;
		flex: 1;
		position: relative;

		@include media( map-get( $media, lg ) ) {
			padding: 0;
		}

		& > li {
			width: 50%;

			@include media( map-get( $media, lg ) ) {
				width: 100%;
			}

			& > a {
				display: block;
				position: relative;
				padding-left: 85px;
				padding-right: 46px;
				transition: .3s;

				@include media( map-get( $media, lg ) ) {
					padding-left: 56px;
					padding-right: 24px;
				}

				&.active {
					background: #9E2828;

					@include media( map-get( $media, lg ) ) {
						background: none;
					}

					span {
						border-color: transparent;
					}

					.icon {
						color: #fff;
					}

					& ~ .menu-drop {
						opacity: 1;
						visibility: visible;

						@include media( map-get( $media, lg ) ) {
							display: block;
						}

						.menu-drop {
							opacity: 1;
							visibility: visible;
							background: transparent;

							@include media( map-get( $media, lg ) ) {
								display: block;
							}
						}
					}
				}

				&:hover {

					@include media( map-get( $media-min, lg ), 'min' ) {
						background: #9E2828;

						span {
							border-color: transparent;
						}

						.icon {
							color: #fff;
						}
					}
				}

				span {
					display: flex;
					padding: 15px 0;
					border-bottom: 1px solid rgba(255, 255, 255, 0.08);
					font-size: 19px;
					line-height: 22px;
					text-transform: uppercase;
					color: #FFFFFF;
					padding-left: 4px;
					transition: .3s;

					@include media( map-get( $media, lg ) ) {
						font-weight: 500;
						font-size: 12px;
						line-height: 14px;
						padding: 9px 15px 9px 0;
						position: relative;

						&:after {
							content: '';
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
							right: 4px;
							border-top: 4px solid;
							border-left: 4px solid transparent;
							border-right: 4px solid transparent;
						}
					}
				}

				.icon {
					font-size: 33px;
					position: absolute;
					top: 50%;
					left: 30px;
					transform: translateY(-50%);
					color: rgba(233, 174, 161, 0.5);
					transition: .3s;

					@include media( map-get( $media, lg ) ) {
						left: 21px;
						font-size: 21px;
					}

					&-meat {
						font-size: 38px;
					}

					&-bird {
						font-size: 29px;
					}

					&-cooking {}

					&-delicacies {}

					&-spices {
						font-size: 31px;
					}
				}
			}
		}
	}

	&-drop {
		position: absolute;
		right: 0;
		top: 0;
		width: 50%;
		background: rgba(233, 174, 161, 0.2);
		padding: 31px 0;
		height: 100%;
		min-height: 100%;
		transition: .3s;
		opacity: 0;
		visibility: hidden;

		@include media( map-get( $media, lg ) ) {
			width: 100%;
			position: static !important;
			height: auto;
			display: none;
			opacity: 1;
			visibility: visible;
			background: rgba(233, 174, 161, 0.09);
			padding: 3px 0;
		}

		li {

			&:last-child {
			
				span {
					border: none;
				}
			}
		}

		a {
			padding: 0 47px 0 54px;
			display: block;
			transition: .3s;

			@include media( map-get( $media, lg ) ) {
				padding-left: 56px;
				padding-right: 24px;
			}

			span {
				display: block;
				padding: 12px 0 11px;
				border-bottom: 1px solid rgba(255, 255, 255, 0.08);
				transition: .3s;

				@include media( map-get( $media, lg ) ) {
					font-size: 12px;
					line-height: 14px;
					padding: 6px 0;
					border-bottom: none;
				}
			}

			&:hover {
				background: rgba(233, 174, 161, 0.08);
				color: #fff;

				span {
					padding-left: 10px;
					border-color: transparent;
				}
			}
		}
	}

	&-banner {
		width: 364px;
		min-width: 364px;
		flex: 0 0 364px;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		display: flex;
		flex-direction: column;

		@include media( map-get( $media, lg ) ) {
			display: none;
		}

		&__img {
			overflow: hidden;
			flex: 1;
		
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center bottom;
			}
		}

		&__text {
			background: linear-gradient(180deg, #DCAC34 0%, #FFCD5E 100%);
			color: #fff;
			padding: 17px 46px 13px 20px;
			display: flex;
			align-items: center;
			font-size: 73px;
			line-height: 1;
			font-family: map-get( $ff, alt );

			span {
				font-size: 27px;
				line-height: 31px;
				margin-left: 16px;
				font-family: map-get( $ff, main );
			}
		}
	}
}