mixin menu()
	.menu
		ul.menu-list
			each object,index in main.menu
				li
					a(href="#").js-menu-link
						+icon(object.pic)
						span= object.name
					if object.array
						.menu-drop
							ul
								each link in object.array
									li
										a(href="#")
											span= link
		a(href="#").menu-banner
			span.menu-banner__img
				img(src="images/menu__banner-img-1.jpg", alt="")
			span.menu-banner__text
				| %
				span ПОДПИШИСЬ НА ПРОМОКОДЫ