.cards {
	position: relative;
	margin-right: -30px;

	@include media( map-get( $media, md ) ) {
		display: flex;
		flex-wrap: wrap;
		margin-right: -15px;
	}
	
	@include media( map-get( $media, sm ) ) {
	}

	&:after {
		content: '';
		display: block;
		clear: both;
	}

	&--sort {
		margin-top: 107px;

		@include media( map-get( $media, md ) ) {
			margin-top: 33px;
		}
	}

	&-alt {
		display: flex;
		flex-wrap: wrap;

		@include media( map-get( $media, md ) ) {
			display: block;
		
			&.scroll-wrapper {
				margin-left: -15px;
				margin-right: -15px;
				padding-bottom: 28px;
			}

			&.scroll-content {
				display: flex;
				flex-wrap: nowrap;

				&:after,
				&:before {
					content: '';
					display: block;
					height: 10px;
					width: 15px;
					min-width: 15px;
				}
			}
		}
	}

	& > * {
		width: calc(25% - 30px);
		max-width: calc(25% - 30px);
		margin-right: 30px;
		margin-bottom: 46px;
		float: left;

		@include media( map-get( $media, md ) ) {
			float: none;
			width: calc(25% - 15px);
			max-width: calc(25% - 15px);
			flex: 0 0 calc(25% - 15px);
			margin-right: 15px;
			margin-bottom: 16px;
		}

		@include media( map-get( $media, sm ) ) {
			width: calc(50% - 15px);
			max-width: calc(50% - 15px);
			flex: 0 0 calc(50% - 15px);
			margin-right: 15px;
			margin-bottom: 16px;
		}

		&.sort {
			width: calc(100% - 30px);
			max-width: calc(100% - 30px);
			margin-bottom: 37px;
			float: none;

			@include media( map-get( $media, md ) ) {
				flex: 0 0 calc(100% - 15px);
				margin-bottom: 22px;
			}

			@include media( map-get( $media, sm ) ) {
				flex: 0 0 calc(100% - 15px);
				width: calc(100% - 15px);
				max-width: calc(100% - 15px);
			}
		}

		&.filter {
			margin-bottom: 0;

			@include media( map-get( $media, md ) ) {
				flex: 0 0 calc(100% - 15px);
				width: calc(100% - 15px);
				max-width: calc(100% - 15px);
				margin-bottom: 26px;
			}

			@include media( map-get( $media, sm ) ) {
				flex: 0 0 calc(100% - 15px);
				width: calc(100% - 15px);
				max-width: calc(100% - 15px);
			}
		}

		&.card--big {
			width: calc(50% - 30px);
			max-width: calc(50% - 30px);

			@include media( map-get( $media, md ) ) {
				width: calc(50% - 15px);
				max-width: calc(50% - 15px);
				flex: 0 0 calc(50% - 15px);
			}

			@include media( map-get( $media, sm ) ) {
				width: calc(100% - 15px);
				max-width: calc(100% - 15px);
				flex: 0 0 calc(100% - 15px);
			}
		}
	}

	&--alt {
		display: flex;
		flex-wrap: wrap;

		& > * {
			margin-right: 30px;
			margin-bottom: 50px;
			float: none;
		}
	}

	&-more {
		display: flex;
		justify-content: center;
		margin-top: 15px;

		&--mobile {
			display: none;

			@include media( map-get( $media, md ) ) {
				display: flex;
			}
		}

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 12px;
			line-height: 28px;
			color: rgba(75, 16, 0, 0.6);
			height: 39px;
			background: #FFFFFF;
			border: 1px solid #E4DBD9;
			border-radius: 2px;
			width: 100%;

			.icon {
				color: #AA282C;
				margin-left: 5px;
				font-size: 11px;
			}
		}
	}
}