.promo {
	display: flex;
	align-items: center;

	@include media( map-get( $media, sm ) ) {
		display: block;
	}

	&-result {
		margin-bottom: 50px;
		
		@include media( map-get( $media, md ) ) {
			margin-bottom: 17px;
		}
	}

	&-pic {
		width: 47px;
		min-width: 47px;
		height: 47px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-image: url(../images/promo__pic.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		font-weight: 500;
		font-size: 30px;
		color: #FFFFFF;
		font-family: map-get( $ff, alt );

		@include media( map-get( $media, lg ) ) {
			width: 100%;
			height: auto;
			background: none;
			position: relative;
			font-size: 0;
			padding: 0 24px 0 56px;
			min-height: 20px;
			display: flex;
			justify-content: flex-start;

			&:before {
				content: '%';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 21px;
				background: #FAB51D;
				border-radius: 2px;
				width: 20px;
				height: 20px;
				display: flex;
				align-items: center;
				justify-content: center;
				font-family: map-get( $ff, alt );
				font-weight: 500;
				font-size: 14px;
				line-height: 1;
				color: #fff;
				color: #FFFFFF;
			}
		}

		&:hover {

			@include media( map-get( $media-min, lg ), 'min' ) {
				color: #fff;
			}
		}
		
		span {
			display: none;

			@include media( map-get( $media, lg ) ) {
				display: block;
				font-weight: 500;
				font-size: 12px;
				line-height: 14px;
				text-transform: uppercase;
				color: #FFC647;
			}
		}
	}

	&__title {
		width: 217px;
		flex: 0 0 217px;
		padding-left: 68px;
		position: relative;
		font-size: 18px;
		line-height: 21px;
		text-transform: uppercase;

		@include media( map-get( $media, md ) ) {
			font-size: 15px;
			padding-left: 50px;
			line-height: 17px;
			width: 178px;
			flex: 0 0 178px;
		}

		@include media( map-get( $media, sm ) ) {
			width: 100%;
			padding-left: 0;
			font-weight: 500;
			margin-bottom: 8px;
		}

		&:before {
			content: '%';
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			line-height: 1;
			font-size: 31px;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			width: 50px;
			height: 50px;
			background-size: contain;
			background-position: center;
			background-image: url('../images/promo__pic.svg');

			@include media( map-get( $media, md ) ) {
				font-size: 24px;
				width: 40px;
				height: 40px;
			}

			@include media( map-get( $media, sm ) ) {
				display: none;
			}
		}
	}

	&__area {
		height: 41px;
		border-radius: 25px;
		background: #fff;
		overflow: hidden;
		display: flex;
		flex: 1;
		margin: 0 27px;

		@include media( map-get( $media, md ) ) {
			margin: 0 15px;
		}

		@include media( map-get( $media, sm ) ) {
			margin: 0;
			border: 1px solid rgba(255, 255, 255, 0.23);
			border-radius: 4px;
			height: 40px;
		}

		input {
			min-width: 0;
			flex: 1;
			padding: 0 10px 0 22px;
			font-size: 16px;
			background: transparent;
			height: 100%;

			@include media( map-get( $media, sm ) ) {
				font-size: 14px;
				padding-left: 16px;
				
				@include placeholder(rgba(75, 16, 0, 0.6));
			}
		}

		button {
			height: 100%;
			width: 45px;
			display: flex;
			align-items: center;
			justify-content: center;
			background: transparent;
			color: rgba(#4B1000,.3);
			font-size: 18px;

			@include media( map-get( $media, sm ) ) {
				width: 37px;
				color: #FFC738;
			}
		}
	}

	&__info {
		width: 264px;
		flex: 0 0 264px;
		color: #FFFFFF;
		font-size: 12px;
		line-height: 14px;

		@include media( map-get( $media, sm ) ) {
			display: none;
		}

		span {
			display: block;
			opacity: 0.5;
		}

		a {

			&:hover {
				@include media( map-get( $media-min, lg ), 'min' ) {
					color: inherit;
					text-decoration: underline;
				}
			}
		}
	}

	&-banner {
		padding: 42px 0 32px;
		margin-bottom: 60px;
		background-size: cover;
		background-position: center;
		margin-top: 68px;

		@include media( map-get( $media, md ) ) {
			padding: 20px 0;
			margin-top: 0;
			margin-bottom: 28px;
		}

		@include media( map-get( $media, sm ) ) {
			padding: 16px 0 19px;
			margin-bottom: 20px;
		}

		&__content {
			display: flex;
			align-items: center;

			@include media( map-get( $media, md ) ) {
				display: block;
			}
		}

		&__title {
			position: relative;
			padding-left: 97px;
			font-weight: 500;
			font-size: 32px;
			line-height: 103%;
			text-transform: uppercase;
			color: #FFFFFF;
			margin-right: 32px;

			@include media( map-get( $media, md ) ) {
				padding-left: 0;
				font-size: 24px;
				margin-bottom: 10px;
				margin-right: 0;
				padding-left: 7px;

				br {
					display: none;
				}
			}

			@include media( map-get( $media, sm ) ) {
				font-size: 17px;
				line-height: 19px;
				margin-bottom: 5px;
			}

			span {
				display: block;
				font-weight: 500;
				font-size: 22px;
				line-height: 25px;
				text-transform: lowercase;

				@include media( map-get( $media, md ) ) {
					display: none;
				}
			}

			&:before {
				content: '%';
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				display: flex;
				align-items: center;
				font-weight: 400;
				font-size: 115px;
				color: #fff;
				font-family: map-get( $ff, alt );

				@include media( map-get( $media, md ) ) {
					display: none;
				}
			}
		}

		&__form {
			flex: 1;
			display: flex;
			background: #FFFFFF;
			border-radius: 25px;
			height: 43px;
			overflow: hidden;

			input {
				flex: 1;
				min-width: 0;
				background: transparent;
				padding: 0 28px;
				font-size: 16px;
				line-height: 18px;
				color: rgba(75, 16, 0, 0.4);

				@include media( map-get( $media, sm ) ) {
					font-size: 13px;
					padding-left: 18px;
					padding-right: 10px;
				}
			}

			button {
				font-size: 20px;
				color: #FAB51D;
				background: transparent;
				display: flex;
				align-items: center;
				width: 30px;
				min-width: 30px;

				@include media( map-get( $media, sm ) ) {
					font-size: 15px;
				}
			}
		}
	}
}