.text {

	&--simple {
		font-size: 15px;
		line-height: 1.33;
		color: rgba(75, 16, 0, 0.7);

		h3 {
			font-weight: 300;
			font-size: 28px;
			margin-bottom: .8em;
		}
	
		ul {
			margin-bottom: 18px;
	
			&.accent {
				padding-left: 30px;
				color: #AA282C;
			}
		}
	}
}