.tooltip {
	border-radius: 50%;
	background: rgba(177, 143, 134, 0.31);
	width: 19px;
	min-width: 19px;
	height: 19px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	font-family: map-get( $ff, alt );
}

.js-my-tooltip {
	position: relative;

	&:after {
		content: attr(data-title);
		position: absolute;
		z-index: 1;
		bottom: 100%;
		margin-bottom: 12px;
		left: -6px;
		background: #fff;
		border-radius: 4px;
		box-shadow: 0px 0px 15px rgba(75, 16, 0, 0.4);
		font-size: 15px;
		line-height: 17px;
		color: rgba(75, 16, 0, 0.4);
		height: 40px;
		font-weight: 400;
		padding: 0 22px;
		display: none;
		align-items: center;
	}

	&:before {
		content: '';
		position: absolute;
		z-index: 2;
		margin-bottom: 2px;
		bottom: 100%;
		left: 50%;
		transform: translateX(-50%);
		border-top: 10px solid #fff;
		border-right: 9px solid transparent;
		border-left: 9px solid transparent;
		display: none;
	}

	&:hover,
	&[data-visible="true"] {

		@include media( map-get( $media-min, lg ), 'min' ) {

			&:after {
				display: flex;
			}

			&:before {
				display: block;
			}
		}
	}
}