mixin nav(array)
	- var array = array || "main";
	.nav(class= (array == "mobile") ? "nav--mobile" : "" )
		ul
			each pic,name in main.nav[array]
				li
					if pic
						a(href="#")
							span(style="background-image:url(images/" + pic + "-ico.svg);")
							= name
					else
						a(href="#")= name