.nav {

	&--mobile {
		display: none;

		@include media( map-get( $media, lg ) ) {
			display: block;
		}
	}

	ul {
		display: flex;
		align-items: center;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: #715047;

		@include media( map-get( $media, lg ) )  {
			display: block;
			padding-left: 54px;
			padding-right: 44px;
			padding-top: 17px;
			padding-bottom: 26px;
			background: rgba(233, 174, 161, 0.2);
			font-size: 12px;
			line-height: 14px;
			color: #fff;
		}
	}

	li {
		margin-right: 26px;

		@include media( map-get( $media, lg ) )  {
			margin-right: 0;
		}

		&:last-child {
		
			a {

				@include media( map-get( $media, lg ) ) {
					border-bottom: none;
				}
			}
		}
	}

	a {
		display: flex;
		align-items: center;

		@include media( map-get( $media, lg ) ) {
			padding: 8px 0;
			border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		}

		span {
			display: inline-block;
			width: 29px;
			background-size: contain;
			background-position: center;
			margin-right: 7px;
			height: 17px;
		}
	}
}