.counter {
	display: flex;
	align-items: center;

	a {
		width: 30px;
		min-width: 30px;
		height: 30px;
		border: 1px solid #DDD5D3;
		position: relative;
		background: #fff;

		@include media( map-get( $media, md ) ) {
			width: 27px;
			min-width: 27px;
			height: 27px;
		}

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			height: 2px;
			width: 14px;
			background: #9B8884;

			@include media( map-get( $media, md ) ) {
				height: 1px;
				width: 11px;
			}
		}

		&[data-btn="inc"] {

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				width: 2px;
				height: 14px;
				background: #9B8884;

				@include media( map-get( $media, md ) ) {
					height: 11px;
					width: 1px;
				}
			}
		}
	}

	&__line {
		display: flex;
		align-items: baseline;
		justify-content: center;
		width: 64px;
		min-width: 64px;
		font-size: 18px;
		line-height: 21px;
		color: #AA282C;
		font-family: map-get( $ff, alt );

		@include media( map-get( $media, md ) ) {
			width: 58px;
			min-width: 58px;
			font-size: 15px;
		}

		span {
			margin-right: 5px;
		}
	}
}