.popup-callback {

	.popup__content {
		padding-top: 44px;

		@include media( map-get( $media, md ) ) {
			padding-top: 20px;
		}
	}

	.form__action {
		margin-top: 37px;

		.btn {
			padding: 0 34px;
		}
	}
}