mixin popup-callback()
	#popup-callback.popup-callback.popup
		.popup__title заказать звонок
		.popup__content
			form.form
				label.form__label
					input(type="text" name="" placeholder="Ваше Имя").form__input.form__input--white
				label.form__label
					input(type="tel" name="" placeholder="Телефон   +7 ( ___) ___ - ___ - ___").form__input.form__input--white
				.form__action.form__action--center
					button.btn отправить