.filter {
	float: left;
	margin-top: -9px;

	&-box {
		margin-bottom: 46px;

		@include media( map-get( $media, md ) ) {
			margin-bottom: 0;

			&.edit {

				.filter-box__title {
					display: flex;
					align-items: center;

					&:before {
						content: '';
						display: block;
						width: 5px;
						height: 5px;
						border-radius: 50%;
						background: #AA282C;
						margin-right: 10px;
					}
				}
			}
		}

		&:last-child {
			margin-bottom: 0;
		}

		&.active {

			@include media( map-get( $media, md ) ) {
				margin-bottom: 10px;

				&:last-child {
					margin-bottom: 0;
				}

				.filter-box__title {
					margin-bottom: 14px;

					&:after {
						transform: translateY(-50%) rotate(180deg);
					}
				}

				.filter-box__content {
					display: block;
				}
			}
		}

		&__title {
			margin-bottom: 20px;
			font-size: 20px;
			line-height: 23px;
			color: #4B1000;

			@include media( map-get( $media, md ) ) {
				font-size: 12px;
				line-height: 30px;
				color: #4B1000;
				margin-bottom: 0;
				border-bottom: 1px solid rgba(75, 16, 0, 0.3);
				position: relative;

				br {
					display: none;
				}

				&:after {
					content: '';
					position: absolute;
					top: 50%;
					right: 5px;
					transform: translateY(-50%);
					border-top: 4px solid #4B1000;
					border-left: 4px solid transparent;
					border-right: 4px solid transparent;
				}
			}

			&--alt {
				margin-bottom: 30px;
			}
		}

		&__content {
			max-height: 270px;

			@include media( map-get( $media, md ) ) {
				max-height: 99999999px;
				display: none;

				&.scroll-content {
					column-count: 2;
					column-gap: 10px;
				}
			}
		}
	}

	&-top {
		display: none;

		@include media( map-get( $media, md ) ) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 10px;

			&__title {
				font-size: 15px;
				line-height: 17px;
				text-transform: uppercase;
				color: #4B1000;
				display: flex;
				align-items: center;
				background: none;

				.icon {
					font-size: 15px;
					margin-right: 4px;
					color: #BFA8A2;
				}
			}

			&__reset {
				font-size: 11px;
				line-height: 13px;
				color: rgba(75, 16, 0, 0.3);
				display: flex;
				align-items: center;
				background: none;
				margin-right: 10px;

				span {
					display: block;
					margin-left: 5px;
					width: 12px;
					height: 12px;
					position: relative;

					&:after,
					&:before {
						content: '';
						position: absolute;
						top: 50%;
						left: 50%;
						width: 100%;
						height: 1px;
						background: #C9B7B3;
					}

					&:after {
						transform: translate(-50%,-50%) rotate(45deg);
					}

					&:before {
						transform: translate(-50%,-50%) rotate(-45deg);
					}
				}
			}
		}
	}
}