mixin filter()
	form.filter
		.filter-top
			.filter-top__title
				+icon('filter')
				| фильтры
			button(type="reset").filter-top__reset
				| Сбросить всё
				span
		.filter-box
			.filter-box__title.filter-box__title--alt Что желаете?
			.filter-box__content
				each name in ["На праздник","Для шашлыка","Пожарить","Детям","Для супа","Фарш","Фермерское","Субпродукты"]
					label.form__label.form__label--check
						input(type="checkbox" name="").form__check
						span.form__check-box
						span.form__label-name= name
		.filter-box
			.filter-box__title Cпособ 
				br
				| приготовления
			.filter-box__content
				label.form__label.form__label--check.form__label--blue
					input(type="checkbox" name="").form__check
					span.form__check-box
					span.form__label-name Варить
				label.form__label.form__label--check.form__label--green
					input(type="checkbox" name="").form__check
					span.form__check-box
					span.form__label-name Тушить
				label.form__label.form__label--check.form__label--orange
					input(type="checkbox" name="").form__check
					span.form__check-box
					span.form__label-name Запекать
				label.form__label.form__label--check.form__label--red
					input(type="checkbox" name="").form__check
					span.form__check-box
					span.form__label-name Жарить
				label.form__label.form__label--check.form__label--pink
					input(type="checkbox" name="").form__check
					span.form__check-box
					span.form__label-name На фарш
		.filter-box
			.filter-box__title Происхождение / Бренд
			.filter-box__content
				each name in ["“Калмыкия”","“Углече поле”","“Томкино”","“Калмыкия”","“Томкино”"]
					label.form__label.form__label--check
						input(type="checkbox" name="").form__check
						span.form__check-box
						span.form__label-name= name
