.info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	@include media( map-get( $media, md ) ) {

		.scroll-element.scroll-x.scroll-scrollx_visible {
			display: none !important;
		}
		
		&.scroll-wrapper {
			margin-left: -15px;
			margin-right: -15px;
		}

		&.scroll-content {
			display: flex;
			align-items: flex-start;
			flex-wrap: nowrap;

			// &:after,
			// &:before {
			// 	content: '';
			// 	display: block;
			// 	height: 10px;
			// 	width: 15px;
			// 	min-width: 15px;
			// }
		}
	}

	&__item {
		width: 31.6%;
		max-width: 31.6%;
		flex: 0 0 31.6%;

		@include media( map-get( $media, md ) ) {
			width: 290px;
			max-width: 290px;
			flex: 0 0 290px;
			background: #F1E9E7;
			padding: 36px 29px 28px;
		}

		&--lg {
			width: 100%;
			max-width: 100%;
			flex: 0 0 100%;
			margin-bottom: 45px;

			@include media( map-get( $media, md ) ) {
				width: 290px;
				max-width: 290px;
				flex: 0 0 290px;
				padding: 0;
			}
		}

		&--question {
			width: 23.3%;
			max-width: 23.3%;
			flex: 0 0 23.3%;
			margin-right: 36px;

			@include media( map-get( $media, md ) ) {
				width: 290px;
				max-width: 290px;
				flex: 0 0 290px;
				margin-right: 0;
			}
		}
	}

	&__q {
		background: linear-gradient(176.52deg, rgba(219, 208, 205, 0.8) -27.15%, rgba(150, 130, 125, 0.688) 118.13%);
		position: relative;
		padding-left: 361px;
		min-height: 264px;
		padding-top: 39px;
		padding-bottom: 39px;
		padding-right: 45px;
		color: rgba(255, 255, 255, 0.8);

		@include media( map-get( $media, md ) ) {
			background: linear-gradient(176.52deg, rgba(219, 208, 205, 0.8) -27.15%, rgba(150, 130, 125, 0.688) 118.13%);
			padding-left: 0;
			min-height: 0;
			padding: 36px 12px 24px 40px;
		}

		&-text {
			margin-bottom: 30px;
			font-style: italic;
			font-size: 29px;
			line-height: 45px;
			position: relative;

			@include media( map-get( $media, md ) ) {
				line-height: 24px;
				font-size: 17px;
				padding-left: 7px;
				margin-bottom: 20px;
			}

			&:after {
				content: "»";
			}

			&:before {
				content: "«";
				position: absolute;
				font-weight: 300;
				font-size: 124px;
				line-height: 40px;
				top: 10px;
				right: 100%;
				margin-right: 8px;
				font-style: normal;

				@include media( map-get( $media, md ) ) {
					font-size: 59px;
					margin-right: 0;
					top: 0;
					line-height: 23px;
				}
			}
		}

		&-user {

			@include media( map-get( $media, md ) ) {
				display: flex;
				align-items: center;
			}
		}

		&-avatar {
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 264px;
			overflow: hidden;

			@include media( map-get( $media, md ) ) {
				position: static;
				width: 65px;
				min-width: 65px;
				height: 65px;
				border-radius: 50%;
				overflow: hidden;
				margin-right: 19px;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}

		&-name {
			display: flex;
			justify-content: flex-end;
			font-style: italic;
			font-size: 17px;
			line-height: 20px;
			padding-right: 34px;

			@include media( map-get( $media, md ) ) {
				font-size: 13px;
				line-height: 15px;
				color: #FFFFFF;
				padding-right: 17px;
			}
		}
	}

	&__text {
		color: rgba(75, 16, 0, 0.6);
		line-height: 1.36;

		@include media( map-get( $media, md ) ) {
			font-size: 13px;
			line-height: 20px;
		}
	}

	&__question {
		font-weight: 300;
		font-size: 28px;
		line-height: 38px;
		color: rgba(75, 16, 0, 0.6);

		@include media( map-get( $media, md ) ) {
			font-size: 25px;
			line-height: 35px;
			color: rgba(75, 16, 0, 0.4);
		}
	}
}