.order {

	&-steps {
		display: flex;
		margin-right: -30px;

		@include media( map-get( $media, md ) ) {
			margin-right: 0;
			display: block;
			
			&.scroll-wrapper {
				margin-left: -15px;
				margin-right: -15px;
				padding-bottom: 40px;
			}
	
			&.scroll-content {
				display: flex;
				align-items: flex-start;
				flex-wrap: nowrap;
	
				&:after {
					content: '';
					display: block;
					height: 10px;
					width: 1px;
					min-width: 1px;
				}

				&:before {
					content: '';
					display: block;
					height: 10px;
					width: 15px;
					min-width: 15px;
				}
			}
		}
	}

	&-step {
		margin-right: 30px;
		width: calc(25% - 30px);
		max-width: calc(25% - 30px);
		flex: 0 0 calc(25% - 30px);
		position: relative;
		padding-left: 67px;

		@include media( map-get( $media, md ) ) {
			margin-right: 15px;
			padding-left: 0;
			width: calc(25vw - 25px);
			max-width: calc(25vw - 25px);
			min-width: 138px;
			flex: 0 0 calc(25vw - 25px);
		}

		&__num {
			position: absolute;
			top: 0;
			left: 0;
			width: 55px;
			height: 55px;
			border-radius: 50%;
			background: #fff;
			font-size: 35px;
			line-height: 55px;
			text-align: center;
			color: rgba(218, 203, 199, 0.64);

			@include media( map-get( $media, md ) ) {
				position: static;
				margin-bottom: 9px;
				width: 45px;
				height: 45px;
				font-size: 30px;
				line-height: 45px;
			}
		}

		&__title {
			display: flex;
			align-items: center;
			min-height: 51px;
			font-size: 20px;
			line-height: 23px;
			color: #AA282C;
			margin-bottom: 17px;

			@include media( map-get( $media, md ) ) {
				font-size: 15px;
				line-height: 17px;
				min-height: 0;
				margin-bottom: 9px;
			}
		}

		&__text {
			color: rgba(75, 16, 0, 0.7);
			line-height: 1.36;

			@include media( map-get( $media, md ) ) {
				font-size: 11px;
				line-height: 13px;
			}
		}
	}
}