.custom-select {
	position: relative;
	z-index: 30;

	&.active {

		.custom-select__dropdown {
			opacity: 1;
			visibility: visible;
		}
	}

	&__select {
		position: relative;
		display: flex;
		cursor: pointer;
	}

	&__text {
		padding: 10px 0;
		font-size: 16px;
		line-height: 18px;
		color: rgba(75, 16, 0, 0.6);
		position: relative;
		top: -1px;

		@include media( map-get( $media, md ) ) {
			font-size: 12px;
		}
	}

	&__trigger {
		width: 32px;
		min-width: 32px;
		display: flex;
		align-items: center;
		justify-content: center;

		@include media( map-get( $media, md ) ) {
			width: 20px;
			min-width: 20px;
		}
	}

	&__arrow {
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-top: 6px solid #4B1000;

		@include media( map-get( $media, md ) ) {
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			border-top: 4px solid #4B1000;
		}
	}

	&__dropdown {
		position: absolute;
		top: 100%;
		right: 0;
		width: auto;
		z-index: 1;
		min-width: 265px;
		opacity: 0;
		visibility: hidden;
		transition: .3s;

		li {
			background: #FFFFFF;
			border: 1px solid #E4DBD9;
			border-bottom: none;
			font-size: 14px;
			line-height: 200%;
			text-align: right;
			padding: 5px 35px 5px 10px;
			position: relative;
			color: rgba(75, 16, 0, 0.6);
			cursor: pointer;
			border-radius: 2px;

			@include media( map-get( $media, md ) ) {
				font-size: 12px;
			}

			&:hover {

				@include media( map-get( $media-min, lg ), 'min' ) {
					font-weight: bold;
				}
			}

			&.selected {
				display: none;
			}

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				border-bottom: 1px solid #E4DBD9;
			}

			.icon {
				position: absolute;
				top: 0;
				right: 10px;
				display: flex;
				align-items: center;
				height: 100%;
				font-size: 18px;
				color: rgba(75, 16, 0, 0.2);

				@include media( map-get( $media, md ) ) {
					font-size: 15px;
				}
			}
		}
	}
}