.quality {
	margin-top: 30px;

	@include media( map-get( $media-min, lg ), 'min' ) {
		margin-top: 70px;

		& ~ .section:last-child {
			margin-bottom: 50px;
		}
	}

	&__box {
		position: relative;
		margin-bottom: 38px;
		min-height: 347px;

		@include media( map-get( $media, md ) ) {
			min-height: 0;
		}

		&-info {
			padding-right: 388px;

			@include media( map-get( $media, md ) ) {
				padding-right: 0;
			}
		}

		&-title {
			font-weight: 300;
			font-size: 36px;
			line-height: 41px;
			text-transform: uppercase;
			color: #4B1000;
			margin-bottom: 32px;
			
			@include media( map-get( $media, md ) ) {
				margin-bottom: 25px;
				font-weight: 400;
				font-size: 15px;
				line-height: 17px;
			}
		}

		&-text {
			line-height: 22px;
			color: rgba(75, 16, 0, 0.7);

			@include media( map-get( $media, md ) ) {
				font-size: 11px;
				line-height: 15px;

				p {
					margin-bottom: 4px;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}

		&-img {
			position: absolute;
			top: 0;
			right: 0;
			width: 358px;

			@include media( map-get( $media, md ) )  {
				position: static;
				width: 104px;
				margin-right: 15px;
				margin-bottom: 25px;
				float: left;
			}

			img {
				display: block;
				width: 100%;
			}
		}
	}

	&__items {
		display: flex;
		margin-right: -30px;
		margin-bottom: 85px;

		@include media( map-get( $media, md ) ) {
			display: block;
			margin-right: 0;
			padding-bottom: 35px;
			margin-bottom: 31px;
		
			&.scroll-wrapper {
				margin-left: -15px;
				margin-right: -15px;
			}
	
			&.scroll-content {
				display: flex;
				flex-wrap: nowrap;
	
				&:after,
				&:before {
					content: '';
					display: block;
					height: 10px;
					width: 15px;
					min-width: 15px;
				}
			}
		}
	}

	&__col {
		margin-right: 30px;
		width: calc(33.33333% - 30px);
		max-width: calc(33.33333% - 30px);
		flex: 0 0 calc(33.33333% - 30px);

		@include media( map-get( $media, md ) ) {
			margin-right: 15px;
			width: auto;
			max-width: none;
			flex: initial;
			display: flex;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__item {
		margin-bottom: 45px;

		@include media( map-get( $media, md ) ) {
			margin-bottom: 0;
			width: 276px;
			flex: 0 0 276px;
			margin-right: 15px;
			border: 1px solid #E4DBD9;
			border-radius: 2px;
			padding: 15px 19px 20px;

			&:last-child {
				margin-right: 0;
			}
		}
		
		&:last-child {
			margin-bottom: 0;
		}

		&-pic {
			display: flex;
			align-items: center;
			font-size: 55px;
			margin-bottom: 6px;
			min-height: 55px;
			color: #E9AEA1;

			@include media( map-get( $media, md ) ) {
				display: inline-block;
				margin-right: 9px;
				margin-bottom: 0;
				min-height: 0;
				vertical-align: middle;
				font-size: 34px;
			}

			.icon {

				&-mutton {
					
					@include media( map-get( $media-min, md ), 'min' ) {
						font-size: 52px;
					}
				}

				&-beef {
					
					@include media( map-get( $media-min, md ), 'min' ) {
						font-size: 45px;
					}
				}

				&-bird {
					
					@include media( map-get( $media-min, md ), 'min' ) {
						font-size: 50px;
					}
				}
			}
		}

		&-title {
			margin-bottom: 13px;
			font-weight: 300;
			font-size: 36px;
			line-height: 38px;
			color: #AA282C;

			@include media( map-get( $media, md ) ) {
				display: inline-block;
				vertical-align: middle;
				font-size: 20px;
				line-height: 1.36;
				margin-bottom: 0;
			}
		}

		&-text {
			color: rgba(75, 16, 0, 0.7);
			line-height: 1.36;

			@include media( map-get( $media, md ) ) {
				margin-top: 7px;
				font-size: 11px;
				line-height: 13px;
			}
		}
	}

	&-cont {
		display: flex;
		margin-top: 64px;

		@include media( map-get( $media, md ) ) {
			margin-top: 41px;
		
			&.scroll-wrapper {
				margin-left: -15px;
				margin-right: -15px;
				padding-bottom: 30px;
			}
	
			&.scroll-content {
				display: flex;
				align-items: flex-start;
				flex-wrap: nowrap;
	
				&:after,
				&:before {
					content: '';
					display: block;
					height: 10px;
					width: 15px;
					min-width: 15px;
				}
			}
		}

		&__main {
			width: 272px;
			max-width: 272px;
			flex: 0 0 272px;
			margin-right: 94px;
			font-weight: 300;
			font-size: 28px;
			line-height: 36px;
			color: rgba(75, 16, 0, 0.7);

			@include media( map-get( $media, md ) ) {
				margin-right: 20px;
				width: calc(33.33333% - 13px);
				max-width: calc(33.33333% - 13px);
				flex: 0 0 calc(33.33333% - 13px);
				min-width: 276px;
				border: 1px solid #E4DBD9;
				border-radius: 2px;
				padding: 24px 17px 30px;
				font-size: 20px;
				line-height: 28px;
			}
		}

		&__item {
			margin-bottom: 45px;

			@include media( map-get( $media, md ) ) {
				margin-right: 20px;
				width: calc(33.33333% - 13px);
				max-width: calc(33.33333% - 13px);
				flex: 0 0 calc(33.33333% - 13px);
				min-width: 276px;
				border: 1px solid #E4DBD9;
				border-radius: 2px;
				padding: 24px 17px 30px;
			}

			&:last-child {
				margin-bottom: 0;

				@include media( map-get( $media, md ) ) {
					margin-right: 0;
				}
			}

			&s {

				@include media( map-get( $media, md ) ) {
					display: flex;
					align-items: flex-start;
				}
			}

			&-title {
				font-size: 20px;
				line-height: 23px;
				color: #AA282C;
				margin-bottom: 15px;

				@include media( map-get( $media, md ) ) {
					font-size: 15px;
					line-height: 17px;
					margin-bottom: 9px;
				}
			}

			&-text {
				line-height: 22px;
				color: rgba(75, 16, 0, 0.7);

				@include media( map-get( $media, md ) ) {
					font-size: 11px;
					line-height: 15px;
				}
			}
		}
	}

	&-block {
		margin-top: 57px;
		display: flex;

		@include media( map-get( $media, md ) ) {
			display: block;
			margin-top: 21px;

			&:last-child {
				margin-top: 53px;
			}
		}

		&__title {
			font-weight: 300;
			font-size: 28px;
			line-height: 38px;
			color: rgba(75, 16, 0, 0.7);
			margin-right: 135px;
			width: 224px;
			max-width: 224px;
			flex: 0 0 224px;
			display: flex;

			@include media( map-get( $media, md ) ) {
				display: block;
				text-align: center;
				width: 100%;
				max-width: 100%;
				margin-right: 0;
				margin-bottom: 18px;
				font-weight: 400;
				font-size: 15px;
				line-height: 19px;
				text-transform: uppercase;
			}

			.icon {
				font-size: 39px;
				margin-right: 8px;
				color: rgba(98, 142, 47, 0.7);

				@include media( map-get( $media, md ) ) {
					margin-right: 0;
					display: flex;
					justify-content: center;
					margin-bottom: 8px;
				}
			}
		}

		&__main {
			line-height: 22px;
			color: rgba(75, 16, 0, 0.7);
			flex: 1;

			@include media( map-get( $media, md ) ) {
				font-size: 11px;
				line-height: 15px;
			}

			a {
				color: #628E2F;
				border-bottom: 1px dashed;
				line-height: 1.2;

				&:hover {

					@include media( map-get( $media-min, lg ), 'min' ) {
						border-bottom-color: transparent;
					}
				}
			}
		}

		&__list {
			display: flex;
			margin-top: 11px;

			@include media( map-get( $media, md ) ) {
				margin-top: 0;
				padding-bottom: 30px;
		
				&.scroll-wrapper {
					margin-left: -15px;
					margin-right: -15px;
					margin-top: 30px;
				}
		
				&.scroll-content {
					display: flex;
					flex-wrap: nowrap;
					min-width: calc(100vw - 30px);
		
					&:after,
					&:before {
						content: '';
						display: block;
						height: 10px;
						width: 15px;
						min-width: 15px;
					}
				}
			}

			ul {
				width: calc(33.33333% - 5px);
				max-width: calc(33.33333% - 5px);
				flex: 0 0 calc(33.33333% - 5px);
				margin-right: 7px;

				@include media( map-get( $media, md ) ) {
					min-width: 209px;
					margin-right: 20px;
					width: calc(33.33333% - 13px);
					max-width: calc(33.33333% - 13px);
					flex: 0 0 calc(33.33333% - 13px);

					&:last-child {
						margin-right: 0;
					}
				}

				&:last-child {
					margin-right: 0;
				}

				li {
					margin-bottom: 9px;

					&:last-child {
						margin-bottom: 0;
					}
				}
				
			}

			a {
				line-height: 25px;

				@include media( map-get( $media, md ) ) {
					line-height: 1;
				}
			}
		}

		&__line {
			line-height: 29px;
			color: rgba(75, 16, 0, 0.7);

			@include media( map-get( $media, md ) ) {
				font-size: 12px;
				line-height: 16px;
				text-align: center;
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-bottom: 20px;

				&:first-child {
					margin-top: -15px;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}