mixin footer()
	footer.footer
		.footer__top
			.container
				.promo
					.promo__title ПОДПИСАТЬСЯ НА ПРОМОКОДЫ
					.promo__area
						input(type="email" name="" placeholder="Введите Ваш e-mail").promo__input
						button
							+icon('angle-right')
					.promo__info
						span Нажимая кнопку, вы даете согласие на обработку ваших персональных данных. 
						a(href="#") Политика конфиденциальности
		.footer__main
			.container
				.footer__cols
					.footer__col
						+logo(false)
						.footer__copy © 2012-2020 «Мясной № 1»
					.footer__col.footer__col--lg
						ul.footer__nav
							each name in ["Доставка и оплата","Обмен и возврат","Качество продукции","Контакты ","Блог о мясе","О нас","Кейтеринг","Для бизнеса","Вакансии","Условия соглашения"]
								li
									a(href="#")= name
					.footer__col
						.phone-box
							.phone-box__title Заказ по телефону:
							.phone-box__val
								a(href="tel:74951776328") +7 (495) 177 63 28
						.phone-box
							.phone-box__title SMS / WhatsApp / Viber / Telegram:
							.phone-box__val
								a(href="#") +7 (926) 233 19 33
				.footer__cols.footer__cols--alt
					.footer__col
					.footer__col.footer__col--lg
						+social()
					.footer__col
						.footer__pay
							img(src="images/pay.svg", alt="")
	