.footer {
	color: #fff;
	margin-top: 70px;

	@include media( map-get( $media, md ) ) {
		margin-top: 35px;
	}

	@include media( map-get( $media, sm ) )  {
		.phone-box__title {
			margin-bottom: 7px;
		}
	}
	
	&__top {
		background: #AA282C;
		padding: 18px 0 14px;

		@include media( map-get( $media, sm ) ) {
			padding: 14px 0 17px;
			background: linear-gradient(180deg, #E2B234 0%, #EFC058 100%);
		}
	}
	
	&__main {
		background: linear-gradient(180deg, #790E0F 36.19%, #8D2627 100%);
		padding: 49px 0 30px;

		@include media( map-get( $media, sm ) ) {
			padding: 26px 0 21px;
		}

		.logo {
			filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.2));
			margin-bottom: 10px;
			margin-top: -5px;

			@include media( map-get( $media, sm ) ) {
				width: 102px;
				display: block;
				margin-top: 0;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 5px;
			}
		}
	}

	&__copy {
		color: rgba(255, 255, 255, 0.3);
		font-size: 14px;
		line-height: 1;

		@include media( map-get( $media, md ) ) {
			font-size: 9px;
		}

		@include media( map-get( $media, sm ) ) {
			text-align: center;
			margin-bottom: 26px;
		}
	}

	&__cols {
		display: flex;
		margin-bottom: 55px;

		@include media( map-get( $media, md ) ) {
			margin-bottom: 35px;
		}

		@include media( map-get( $media, sm ) ) {
			display: block;
			margin-bottom: 30px;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&--alt {
			align-items: flex-end;
		}
	}

	&__col {

		&:nth-child(1) {
			width: 183px;
			flex: 0 0 183px;

			@include media( map-get( $media, md ) ) {
				width: 118px;
				flex: 0 0 118px;
			}

			@include media( map-get( $media, sm ) ) {
				width: 100%;
			}
		}

		&:nth-child(3) {
			width: 266px;
			flex: 0 0 266px;

			@include media( map-get( $media, md ) ) {
				width: 205px;
				flex: 0 0 205px;
			}

			@include media( map-get( $media, sm ) ) {
				width: 100%;
			}
		}

		&--lg {
			flex: 1;
			margin: 0 129px 0 130px;

			@include media( map-get( $media, lg ) ) {
				margin: 0 50px;
			}

			@include media( map-get( $media, md ) ) {
				margin: 0 35px;
			}

			@include media( map-get( $media, sm ) ) {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}

	.social {
		@include media( map-get( $media, sm ) ) {
			
			ul {
				justify-content: center;
				margin-right: 0;
				margin-bottom: -10px;
			}

			li {
				margin: 0 5px 10px;
			}
		}
	}

	&__nav {
		column-count: 2;
		column-gap: 50px;

		@include media( map-get( $media, md ) ) {
			column-gap: 15px;
		}

		@include media( map-get( $media, sm ) ) {
			column-gap: 8px;
			margin-bottom: 31px;
			max-width: 290px;
			margin-left: auto;
			margin-right: auto;
		}

		li {
			margin-bottom: 10px;
			font-size: 18px;
			line-height: 1;

			@include media( map-get( $media, md ) ) {
				font-size: 13px;
			}

			@include media( map-get( $media, sm ) ) {
				margin-bottom: 7px;
			}
		}

		a {

			&:hover {
				
				@include media( map-get( $media-min, lg ), 'min' ) {
					color: inherit;
					text-decoration: underline;
				}
			}
		}
	}

	&__pay {
		padding-bottom: 9px;

		@include media( map-get( $media, md ) ) {
			padding-bottom: 0;
			max-width: 64px;
		}
		
		@include media( map-get( $media, sm ) ) {
			margin-left: auto;
			margin-right: auto;
			margin-top: 12px;
		}

		img {
			display: block;
			max-width: 100%;
		}
	}
}