.popup-favorite {
	max-width: 366px;

	.fancybox-button.fancybox-close-small {
		top: 26px;
		right: 23px;

		@include media( map-get( $media, md ) ) {
			top: 24px;
			right: 18px;
		}
	}

	.popup__content {
		padding: 22px 50px 25px 26px;

		@include media( map-get( $media, md ) ) {
			padding: 20px 40px 20px 20px;
		}
	}
}