.form {

	&__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		@include media( map-get( $media, md ) ) {
			// justify-content: flex-start;
			margin-right: -14px;
		}

		@include media( map-get( $media, xl ) ) {
			justify-content: flex-start;
		}

		.form__label {
			margin-left: 22px;
			margin-right: 22px;

			@include media( map-get( $media, md ) ) {
				margin-left: 0;
				margin-right: 14px;
				// min-width: 90px;
			}

			&:last-child {
				margin-bottom: 20px;

				@include media( map-get( $media, md ) ) {
					margin-bottom: 5px;
				}
			}
		}

		.form__label--check {
			display: flex;
			align-items: center;
			height: 20px;

			@include media( map-get( $media, md ) ) {
				height: auto;
			}
		}

		.form__label--check .form__label-name {
			font-size: 15px;
			line-height: 17px;
			color: rgba(75, 16, 0, 0.6);
			white-space: nowrap;
			height: 17px;

			@include media( map-get( $media, md ) ) {
				font-size: 12px;
				white-space: initial;
			}
		}
	}

	&__date {

		&--nomibile {

			@include media( map-get( $media, sm ) ) {
				display: none;
			}
		}
	}

	&__main-check {
		margin: 45px 0;
		display: flex;
		justify-content: center;

		@include media( map-get( $media, sm ) ) {
			margin: 24px 0 20px;

			.form__check-box {
				background: #fff;
			}
		}
	}

	&__label {
		display: block;
		margin-bottom: 16px;

		@include media( map-get( $media, sm ) ) {
			margin-bottom: 9px;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&s {
			display: flex;
			flex-wrap: wrap;
			margin-right: -11px;
			margin-bottom: -11px;

			.form__label {
				margin-bottom: 11px;
				margin-right: 11px;
				width: calc(33.3333% - 11px);
				max-width: calc(33.3333% - 11px);
				flex: 0 0 calc(33.3333% - 11px);
			}
		}

		&--mt {
			margin-top: 28px;

			@include media( map-get( $media, sm ) ) {
				margin-top: 13px;
			}
		}

		&--alt {

			.form__input {
				border-radius: 4px;
			}
		}

		&--comb {
			position: relative;

			.form__label-name {
				position: absolute;
				height: 100%;
				width: 100%;
				display: block;
				display: flex;
				align-items: center;
				padding: 0 23px;
				margin-bottom: 0;

				@include media( map-get( $media, sm ) ) {
					padding: 0 13px;
				}
			}

			&.edit {
				.form__label-name {
					display: none;
				}
			}
		}

		&--trigger {
			display: flex;
			align-items: center;
			margin: 26px 0;

			@include media( map-get( $media, sm ) ) {
				margin: 23px 0 16px;
				padding-left: 12px;
			}

			& > .form__label-name {
				margin-right: 18px;
				margin-bottom: 0;

				@include media( map-get( $media, sm ) ) {
					margin-right: 22px;
				}
			}

			.form__label {
				margin-bottom: 0;
				margin-right: 25px;

				@include media( map-get( $media, sm ) ) {
					margin-right: 15px;
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}

		&--arrow {
			position: relative;

			&:after {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 21px;
				z-index: 1;
				content: '';
				border-top: 7px solid #4B1000;
				border-left: 6px solid transparent;
				border-right: 6px solid transparent;

				@include media( map-get( $media, md ) )  {
					right: 12px;
					border-top: 4px solid #4B1000;
					border-left: 4px solid transparent;
					border-right: 4px solid transparent;
				}
			}

			.form__input {
				padding-right: 45px;

				@include media( map-get( $media, md ) ) {
					padding-right: 32px;
				}
			}
		}

		&-name {
			color: rgba(75, 16, 0, 0.6);
			margin-bottom: 9px;
			display: block;

			@include media( map-get( $media, sm ) ) {
				font-size: 12px;
				line-height: 14px;
				margin-bottom: 5px;
			}

			span {
				color: #AA282C;
				margin-right: 5px;

				@include media( map-get( $media, sm ) ) {
					margin-right: 4px;
				}
			}
		}

		&--check {
			display: flex;
			margin-bottom: 15px;
			cursor: pointer;

			@include media( map-get( $media, md ) ) {
				margin-bottom: 5px;
			}

			@include media( map-get( $media, sm ) ) {
				margin-bottom: 4px;
			}

			&:last-child {
				margin-bottom: 0;
			}

			.form__label-name {
				font-size: 16px;
				line-height: 18px;
				color: rgba(75, 16, 0, 0.6);
				margin-bottom: 0;

				@include media( map-get( $media, md ) ) {
					font-size: 12px;
					line-height: 14px;
				}
			}
		}

		&--blue {

			.form__label-name {
				color: #81B0DA;
			}

			.form__check-box {
				border-color: #588AB7;
			}

			.form__check:checked ~ .form__check-box {
				background: #588AB7;
			}
		}

		&--green {

			.form__label-name {
				color: #63A860;
			}

			.form__check-box {
				border-color: #82AE80;
			}

			.form__check:checked ~ .form__check-box {
				background: #82AE80;
			}
		}

		&--orange {

			.form__label-name {
				color: #EB873F;
			}

			.form__check-box {
				border-color: #F29857;
			}

			.form__check:checked ~ .form__check-box {
				background:#F29857;
			}
		}

		&--red {

			.form__label-name {
				color: #D04140;
			}

			.form__check-box {
				border-color: #D85756;
			}

			.form__check:checked ~ .form__check-box {
				background: #D85756;
			}
		}

		&--pink {

			.form__label-name {
				color: #FD8888;
			}

			.form__check-box {
				border-color: #FF9292;
			}

			.form__check:checked ~ .form__check-box {
				background: #FF9292;
			}
		}

		&-pic {
			display: inline-block;
			height: 17px;
			margin-left: 10px;
			vertical-align: middle;

			@include media( map-get( $media, sm ) ) {
				height: 10px;
			}
	
			img {
				display: block;
				max-width: 100%;
				max-height: 100%;
			}
		}
	}

	&-group {
		margin-bottom: 64px;

		@include media( map-get( $media, sm ) ) {
			margin-bottom: 24px;
		}

		&:last-child {
			margin-bottom: 0;
		}

		.form__label--check {

			@include media( map-get( $media, sm ) ) {
				margin-bottom: 12px;
			}
		}

		.form__label--check .form__label-name {
			color: #4B1000;
		}

		.form__textarea {
			height: 99px;
			
			@include media( map-get( $media, sm ) ) {
				height: 77px;
			}
		}

		&--sm {
			margin-bottom: 28px;

			@include media( map-get( $media, sm ) ) {
				margin-bottom: 20px;
			}
		}

		&--mt {
			@include media( map-get( $media-min, sm ), 'min' ) {
				margin-top: -21px;
			}

			@include media( map-get( $media, sm ) ) {
				margin-bottom: 35px;
			}
		}

		&--date {

			@include media( map-get( $media, sm ) ) {
				position: relative;

				.form-group__title {
					margin-bottom: 2px;
				}
			}
		}
			
		&--mob-cols {

			@include media( map-get( $media, sm ) ) {
				display: flex;
				flex-wrap: wrap;
				margin-right: -10px;

				.form-group__title {
					width: 100%;
					flex: 0 0 100%;
					margin-right: 10px;
				}

				.form__label {
					margin-right: 10px;
					width: calc(50% - 10px);
					max-width: calc(50% - 10px);
					flex: 0 0 calc(50% - 10px);
				}
			}
		}

		&__date {
			display: none;
			position: absolute;
			top: 0;
			left: 140px;
			width: 150px;

			@include media( map-get( $media, sm ) ) {
				display: block;
			}

			@include media( map-get( $media, min ) ) {
				width: calc(100% - 140px);
			}

			.form__date {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
			}

			&-btn {
				position: relative;
				z-index: 2;
				background: #FFFFFF;
				border-radius: 2px;
				height: 39px;
				display: flex;
				align-items: center;
				padding: 0 20px 0 12px;
				font-size: 12px;
				line-height: 14px;
				color: rgba(75, 16, 0, 0.6);

				&:after {
					content: '';
					position: absolute;
					right: 11px;
					top: 50%;
					transform: translateY(-50%);
					border-top: 4px solid #4B1000;
					border-left: 4px solid transparent;
					border-right: 4px solid transparent;
				}
			}

			&-val {
				display: none;
				font-size: 17px;
				line-height: 22px;
				color: #4B1000;

				@include media( map-get( $media, sm ) ) {
					display: block;
				}
			}
		}

		&__title {
			color: rgba(75, 16, 0, 0.4);
			margin-bottom: 15px;
			font-size: 15px;
			line-height: 17px;
			display: flex;
			align-items: center;

			@include media( map-get( $media, sm ) ) {
				color: #fff;
				font-size: 12px;
				line-height: 15px;
				margin-bottom: 8px;
			}

			.tooltip {
				margin-left: 8px;
			}
		}

		&--combo {
			display: flex;

			@include media( map-get( $media, sm ) ) {
				display: block;
			}

			.form-group {
				margin-bottom: 0;

				&:nth-child(1) {
					width: 283px;
					flex: 0 0 283px;
					margin-right: 123px;

					@include media( map-get( $media, sm ) ) {
						width: 100%;
						margin-right: 0;
						margin-bottom: 30px;
					}
				}

				&:nth-child(2) {}
			}
		}
	}
	
	&__input,
	&__select,
	&__textarea {}

	&__input {
		background: #F3ECEA;
		border-radius: 26px;
		height: 41px;
		padding: 0 23px;
		min-width: 0;
		width: 100%;
		display: block;
		font-size: 15px;

		@include media( map-get( $media, md ) ) {
			font-size: 11px;
		}

		@include media( map-get( $media, sm ) ) {
			border-radius: 2px;
			height: 39px;
			padding: 0 13px;
		}

		&--light {
			border-radius: 0;
			background-color: transparent;
			padding: 0;
			border-bottom: 1px solid rgba(75, 16, 0, 0.3);
		}

		&--white {
			background: #FFFFFF;
		}
	}

	&__select {}

	&__textarea {
		background: #F3ECEA;
		border-radius: 6px;
		height: 153px;
		padding: 15px 23px;
		width: 100%;
		display: block;
		font-size: 15px;

		@include media( map-get( $media, sm ) ) {
			background: #FFFFFF;
			border-radius: 2px;
			height: 98px;
			font-size: 12px;
			line-height: 14px;
			padding: 10px 13px;
		}

		&--white {
			background: #FFFFFF;
		}
	}

	&__check {
		display: none;

		&:checked ~ .form__check-box {
			background: rgba(75, 16, 0, 0.5);

			&:after {
				opacity: 1;
			}

			&--circle {
				background: #fff;

				&:after {
					background: #4B1000;
				}
			}
		}

		&-box {
			width: 18px;
			min-width: 18px;
			height: 18px;
			border-radius: 3px;
			border: 1px solid #A58780;
			display: block;
			margin-right: 11px;
			transition: .3s;
			position: relative;

			@include media( map-get( $media, md ) ) {
				width: 14px;
				min-width: 14px;
				height: 14px;
				margin-right: 8px;
			}

			&:after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				width: 8px;
				height: 8px;
				background: #FFFFFF;
				border-radius: 50%;
				opacity: 0;

				@include media( map-get( $media, md ) ) {
					width: 5px;
					height: 5px;
				}
			}

			&--circle {
				border-color: rgba(75, 16, 0, 0.3);
				border-radius: 50%;
				width: 20px;
				min-width: 20px;
				height: 20px;
				background: #fff;

				&:after {
					background: transparent;
					width: 10px;
					height: 10px;
				}
			}
		}
	}

	&__code {
		display: flex;
		align-items: flex-end;
		margin-top: 55px;
		margin-bottom: 27px;

		@include media( map-get( $media, sm ) ) {
			margin-top: 21px;
			display: block;
		}

		&--center {
			justify-content: center;
		}

		&-img {
			
			@include media( map-get( $media, sm ) ) {
				margin-bottom: 8px;
				margin-left: auto;
				margin-right: auto;
				text-align: center;
			}
		}

		.form__input {
			max-width: 199px;
			margin-left: 19px;

			@include media( map-get( $media, sm ) ) {
				margin-left: 0;
				max-width: 180px;
				margin-left: auto;
				margin-right: auto;
				border-bottom: none;
				font-size: 12px;
				padding: 0 12px;
			}
		}
	}

	&__info {
		font-size: 12px;
		line-height: 14px;
		text-align: center;
		color: rgba(75, 16, 0, 0.6);

		@include media( map-get( $media, sm ) ) {
			font-size: 11px;
			line-height: 13px;

			br {
				display: none;
			}
		}

		&--center {
			text-align: center;
		}

		a {
			color: #AA282C;

			&:hover {

				@include media( map-get( $media-min, lg ), 'min' ) {
					text-decoration: underline;
				}
			}
		}
	}

	&__action {
		margin-top: 44px;
		display: flex;

		@include media( map-get( $media, sm ) ) {
			margin-top: 9px;
		}

		&--center {
			justify-content: center;
		}

		.btn {
			height: 47px;
			font-size: 19px;
			width: 100%;
			max-width: 351px;
			justify-content: center;

			@include media( map-get( $media, sm ) ) {
				font-size: 15px;
			}
		}

		&--mtm {
			margin-top: 29px;

			@include media( map-get( $media, sm ) ) {
				margin-top: 22px;
			}

			.btn {
				max-width: 290px;
			}
		}
	}

	&__link {
		margin-top: 20px;
		text-align: center;
		line-height: 20px;
		color: #AA282C;

		a {

			&:hover {

				@include media( map-get( $media-min, lg ), 'min' ) {
					text-decoration: underline;
				}
			}
		}
	}
}