mixin sort()
	.sort
		.custom-select
			.custom-select__select
				.custom-select__text По популярности
				.custom-select__trigger
					.custom-select__arrow
			.custom-select__dropdown
				ul
					li.selected По популярности
					li По новинкам
					li По убывающей цене
						+icon('long-arrow-down')
					li По возрастающей цене
						+icon('long-arrow-up')