.sort {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: flex-end;
	position: absolute;
	bottom: 100%;
	margin-bottom: 24px;
	left: 0;
	width: 100%;

	@include media( map-get( $media, md ) ) {
		position: static;
		border: 1px solid rgba(0, 0, 0, 0.1);

		.custom-select {
			width: 100%;
		}

		.custom-select__select {
			width: 100%;
			justify-content: center;
		}

		.custom-select__dropdown {
			width: 100%;

			li {
				padding: 5px;
				display: flex;
				align-items: center;
				justify-content: center;

				.icon {
					position: relative;
					margin-left: 10px;
				}

				&.selected {
					display: none;
				}
			}
		}
	}
}