mixin stars(num)
	- var num = num || 5;
	.stars
		- for ( var s = 1; s <= num; s++ ) {
			.star.active
				+icon("star-full")
		- }
		- for ( var sf = 1; sf <= 5 - num; sf++ ) {
			.star
				+icon("star-full")
		- }