.popup-alert {
	max-width: 276px;

	.fancybox-button.fancybox-close-small {
		top: 11px;
		right: 11px;
	}

	.popup__content {
		padding: 28px 30px 15px;
		text-align: center;

		@include media( map-get( $media, md ) ) {
			padding: 20px 30px 20px 20px;
		}

		.btn {
			padding: 0 22px;
			height: 35px;
			font-size: 16px;
			margin-top: 13px;

			@include media( map-get( $media, md ) ) {
				font-size: 14px;
			}
		}
	}
}