.pic {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25px;

	&--burger {
		background-image: url('../images/burger-pic.svg');
	}

	&--user {
		background-image: url('../images/user-pic.svg');
		background-size: 21px;
	}

	&--heart {
		background-image: url('../images/heart-pic.svg');
		background-size: 24px;
	}

	&--heart-alt {
		background-image: url('../images/heart-alt-pic.svg');
		background-size: 24px;
	}

	&--heart-full {
		background-image: url('../images/heart-full-pic.svg');
		background-size: 24px;
	}

	&--basket {
		background-image: url('../images/basket-pic.svg');
		background-size: 28px;
		background-position: 45% center;
	}

	&--search {
		background-image: url('../images/search-pic.svg');
		background-size: 20px;
	}

	&--list {
		background-image: url('../images/list-pic.svg');
	}
}