mixin popup-success()
	#popup-success.popup-success.popup
		.popup__title.popup__title--alt ВАШ ЗАКАЗ ОФОРМЛЕН
		.popup__content
			.popup__header Спасибо за Ваш заказ!
			.popup__order Ваш заказ №12345 от 01.05.2020 успешно создан и скоро начнет комплектоваться.
			.popup__text.popup__text--simple
				p В ближайшее время с Вами свяжется наш оператор для подтверждения заказа. Если этого не произошло в течение 1 часа с момента заказа (мы работаем ежедневно с 09:00 до 19:30) просим Вас написать нам по адресу 
					a(href="#") info@primemeat.ru
					|  или позвонить нам по телефону.
				p Вы можете следить за выполнением своего заказа в 
					a(href="#") Персональном разделе
					|  сайта. Обратите внимание, что для входа в этот раздел вам необходимо будет ввести логин и пароль пользователя сайта.
			.popup__order Что бы Вы хотели видеть у нас в продаже?
			.popup__p Мы позаботимся о том, чтобы ваши пожелания по ассортименту были выполнены.
			.popup__area
				textarea
			.popup__info Нажимая кнопку, вы даете согласие на обработку ваших персональных данных. 
				br
				a(href="#") Политика конфиденциальности
			.form__action.form__action--center
				button.btn ОТПРАВИТЬ



