.popup-success {
	max-width: 746px;

	@include media( map-get( $media, md ) ) {
		max-width: 400px;

		.popup__title {
			font-size: 15px;
			line-height: 17px;
			padding-top: 17px;
			padding-bottom: 17px;
		}

		.fancybox-button.fancybox-close-small {
			top: 17px;
		}
	}

	.popup__content {
		padding: 27px 75px 40px;

		@include media( map-get( $media, md ) ) {
			padding: 19px 15px 30px;
		}
	}
}