.blog {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 80px 30px;

	@include media( map-get( $media, md ) ) {
		grid-gap: 30px 15px;
	}

	@include media( map-get( $media, sm ) ) {
		grid-template-columns: repeat(2, 1fr);
	}

	&.isLine {

		@include media( map-get( $media-min, sm ), 'min' ) {
			grid-template-columns: repeat(1, 1fr);
			grid-gap: 30px 30px;
	
			.blog-item {
				position: relative;
				padding-left: 283px;
				min-height: 263px;
	
				&__img {
					position: absolute;
					top: 0;
					left: 0;
					width: 263px;
				}
			}
		}
	}

	&-item {

		&__img {
			position: relative;
			display: block;
			overflow: hidden;
			margin-bottom: 18px;

			@include media( map-get( $media, md ) ) {
				margin-bottom: 10px;
			}

			&:before {
				content: '';
				display: block;
				padding-top: 100%;
			}

			img {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-position: center;
				object-fit: cover;
			}
		}

		&__title {
			margin-bottom: 15px;
			font-size: 18px;
			line-height: 21px;
			text-decoration-line: underline;
			color: #4B1000;
			min-height: 42px;

			@include media( map-get( $media, md ) ) {
				font-size: 15px;
				line-height: 17px;
				margin-bottom: 10px;
				min-height: 34px;
			}

			@include media( map-get( $media, xl ) ) {
				min-height: 0;
			}

			a:hover {

				@include media( map-get( $media-min, lg ), 'min' ) {
					text-decoration: none;
				}
			}
		}

		&__date {
			margin-bottom: 9px;
			font-weight: 500;
			font-size: 16px;
			line-height: 19px;
			color: #AA282C;
			font-family: map-get( $ff, alt );

			@include media( map-get( $media, md ) ) {
				font-size: 13px;
				line-height: 15px;
			}
		}

		&__text {
			color: rgba(75, 16, 0, 0.7);
			line-height: 1.36;

			@include media( map-get( $media, xl ) ) {
				display: none;
			}

			a {
				display: inline-block;
				color: #AA282C;
				font-weight: 500;

				&:hover {

					@include media( map-get( $media-min, lg ), 'min' ) {
						text-decoration: underline;
					}
				}
			}
		}
	}
}