block ../template/pug/vars
include ../template/pug/blocks

block styles
	style.
		@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
		.content {
			padding-top: 0 !important;
		}
		.content:before {
			display: none !important;
		}
		.s-box {
			max-width: 1200px;
			padding: 0 15px;
			margin: 50px auto;
			font-family: "Roboto", sans-serif;
		}
		.s-box__title {
			font-size: 26px;
			margin-bottom: .6em;
		}
		.s-box__list li {
			margin-bottom: 10px;
		}
		.s-box__list li:last-child {
			margin-bottom: 0;
		}
		.s-box__list a {
			color: inherit;
			font-size: 16px;
		}
		.s-box__list a.disabled {
			opacity: .5;
			pointer-events: none;
		}

doctype html
html(lang="ru")
	include ../template/pug/head

	body
		.wrapper
			main.content
				block content

				.s-box
					.s-box__title Страницы
					ul.s-box__list
						li
							a(href="index.html" target="_blank") Главная
						li
							a(href="catalog.html" target="_blank") Каталог
						li
							a(href="hits.html" target="_blank") Популярное
						li
							a(href="item.html" target="_blank") Карточка товара - max
						li
							a(href="item1.html" target="_blank") Карточка товара - min
						li
							a(href="basket.html" target="_blank") Корзина
						li
							a(href="basket1.html" target="_blank") Корзина (оформление)
						li
							a(href="quality.html" target="_blank") Качество
						li
							a(href="deliv.html" target="_blank") Доставка
						li
							a(href="profile.html" target="_blank") Профиль
						li
							a(href="orders.html" target="_blank") История заказов
						li
							a(href="favorite.html" target="_blank") Избранное
						li
							a(href="promocods.html" target="_blank") Промокоды
						li
							a(href="blog.html" target="_blank") Блог
						li
							a(href="post.html" target="_blank") Статья
						li
							a(href="search.html" target="_blank") Результат поиска
						li
							a(href="contacts.html" target="_blank") Контакты

				.s-box
					.s-box__title Попапы
					ul.s-box__list
						li
							a(href="#popup-success").js-popup Заказ оформлен
						li
							a(href="#popup-callback").js-popup Заказать звонок
						li
							a(href="#popup-login").js-popup Войти в личный кабинет
						li
							a(href="#popup-new").js-popup Новый покупатель
						li
							a(href="#popup-favorite").js-popup В избранное
						li
							a(href="#popup-alert").js-popup Минимальный заказ
						li
							a(href="#popup-added").js-popup В корзину

			.hidden
				+popup-callback()
				+popup-login()
				+popup-new()
				+popup-success()
				+popup-added()
				+popup-favorite()
				+popup-alert()
				block popup
		script(src="js/main.js")
		block script