extends ../template/pug/layout

block vars
	- var isPresent = true;
	- var pageType = "basket";

block content
	+breadcrumbs({
	"Корзина (2)": ""
	})

	.basket-page
		.container
			.title корзина
			.page-link
				a(href="#")
					+icon('list')
					span История заказов



			.inner
				.inner__main
					.basket-list
						each object in main.basket
							+basket-item(object)
					section.section.section--dark.section--slider
						.section__title.section__title--lg
							button.section-btn.section-btn__left
								+icon('long-arrow-left')
							+icon('present').icon--mobile
							| выберите подарок 
							span (5)
							.btn.btn--present Бесплатно
							button.section-btn.section-btn__right
								+icon('long-arrow-right')
						+card-slider()
					section.section.section--vis
						.section__title
							+icon('bag')
							| вам может понадобиться
						.cards-alt
							each object in main.cards.alt
								.card-alt
									.card-alt__view
										a(href="#").card-alt__img
											img(src="images/" + object.imgName, alt="")
										a(href="#").btn-favorite.card-alt__favorite
											.pic.pic--heart-alt
											.pic.pic--heart-full
									.card-alt__title
										a(href="#")= object.title
									.card-alt__price= object.price
									.card-alt__btn
										a(href="#").btn
											+icon('basket')
									.card-alt__counter
										+counter('шт')

					.title.title--nomobile оформление заказа
					button.title.title--basker-trigger
						+icon('list')
						| оформление заказа
						+icon('long-arrow-down')

					form.form.form--checkout
						.form__labels
							label.form__label.form__label--comb.form__label--alt
								span.form__label-name
									span *
									| Имя
								input(type="text" name="" required).form__input
							label.form__label.form__label--comb.form__label--alt
								span.form__label-name
									span *
									| Телефон
								input(type="tel" name="" required).form__input
							label.form__label.form__label--comb.form__label--alt
								span.form__label-name
									span *
									| E-mail
								input(type="email" name="" required).form__input

						.page-tabs
							.page-tabs__controls
								.page-tabs__btn.active.selected
									span Курьер
									+icon('long-arrow-down')
								.page-tabs__btn
									span Экспресс в день заказа
									+icon('long-arrow-down')
								.page-tabs__btn
									span Самовывоз
									+icon('long-arrow-down')
							.page-tabs__boxs
								.page-tabs__box.active
									.page-tabs__box-top Курьер
									.page-tabs__box-cont
										.form-group.form-group--sm
											label.form__label.form__label--check
												input(type="radio" name="rad1" checked).form__check
												span.form__check-box.form__check-box--circle
												span.form__label-name В пределах МКАД
											label.form__label.form__label--check
												input(type="radio" name="rad1").form__check
												span.form__check-box.form__check-box--circle
												span.form__label-name За пределы МКАД 10 км  
											label.form__label.form__label--check
												input(type="radio" name="rad1").form__check
												span.form__check-box.form__check-box--circle
												span.form__label-name За пределы МКАД 40 км
										.form-group
											label.form__label.form__label--comb.form__label--arrow
												span.form__label-name
													span *
													| Введите населенный пункт
												input(type="text" name="" required).form__input.form__input--white
											label.form__label.form__label--comb
												span.form__label-name
													span *
													| Улица, дом, корпус, строение 
												input(type="text" name="" required).form__input.form__input--white
											label.form__label.form__label--comb
												span.form__label-name
													span *
													| Подъезд, квартира, этаж
												input(type="text" name="" required).form__input.form__input--white
											label.form__label
												input(type="text" name="" placeholder="Домофон, парковка, как добраться (не обязательно) ").form__input.form__input--white
										.form-group.form-group--combo
											.form-group.form-group--date
												.form-group__title Дата доставки
													span.tooltip.accent.js-tooltip(title="Some text") ?
												.form__date.form__date--nomibile
												.form-group__date-val 16 февраля (ПТ)
												label.form-group__date
													input(type="text" name="").form__date
													span.form-group__date-btn Другая дата
											.form-group.form-group--mob-cols
												.form-group__title Интервал доставки
												label.form__label.form__label--check
													input(type="radio" name="rad2" checked).form__check
													span.form__check-box.form__check-box--circle
													span.form__label-name с 9:30 до 15:00
												label.form__label.form__label--check
													input(type="radio" name="rad2").form__check
													span.form__check-box.form__check-box--circle
													span.form__label-name с 12:00 до 18:00
												label.form__label.form__label--check
													input(type="radio" name="rad2").form__check
													span.form__check-box.form__check-box--circle
													span.form__label-name с 15:00 до 21:00
												label.form__label.form__label--check
													input(type="radio" name="rad2").form__check
													span.form__check-box.form__check-box--circle
													span.form__label-name в течение дня
										.form-group.form-group--mt
											.form-group__title Способ оплаты
											label.form__label.form__label--check
												input(type="radio" name="rad3" checked).form__check
												span.form__check-box.form__check-box--circle
												span.form__label-name Наличными курьеру
											label.form__label.form__label--check
												input(type="radio" name="rad3").form__check
												span.form__check-box.form__check-box--circle
												span.form__label-name Банковской картой курьеру 
													span.form__label-pic
														img(src="images/card-pay.jpg", alt="")
											label.form__label.form__label--check
												input(type="radio" name="rad3").form__check
												span.form__check-box.form__check-box--circle
												span.form__label-name Он-лайн оплата банковской картой после комплектации
													span.form__label-pic
														img(src="images/card-pay.jpg", alt="")
										.form-group
											textarea(placeholder="Комментарий к заказу (не обязательно)").form__textarea.form__textarea--white
								.page-tabs__box
									.page-tabs__box-top Экспресс В ДЕНЬ ЗАКАЗА
									.page-tabs__box-cont Экспресс В ДЕНЬ ЗАКАЗА
								.page-tabs__box
									.page-tabs__box-top Самовывоз
									.page-tabs__box-cont Самовывоз

				.inner__aside
					.inner__aside-content
						.page-link
							a(href="#")
								+icon('list')
								span История заказов
						.aside-box
							.aside-box__cont
								.aside-box__line
									| Товаров
									span 3 шт / 8,5 кг
								.aside-box__line
									| Скидка
									span.accent -100 ₽
								.aside-box__promo
									input(type="text" name="" placeholder="Введите ПРОМОКОД (если есть)")
									button
										+icon('angle-right')
								.aside-box__item.aside-box__item--empty
									.aside-box__item-top
										| Доставка
										span Еще не расссчитана
								.aside-box__item.aside-box__item--empty
									.aside-box__item-top
										| Оплата
										span Еще не расссчитана
								.aside-box__summa
									| итого
									span 32 029 ₽
								.aside-box__btn
									btn.btn.disabled оформить заказ
								.aside-box__info Нажимая кнопку, вы даете согласие на обработку ваших персональных данных. 
									br
									a(href="#") Политика конфиденциальности





