extends ../template/pug/layout

block content
	+breadcrumbs({
	"Блог о мясе": ""
	})

	.page-top
		.container
			.page-top__line
				.page-top__title
					| Блог о мясе
					+icon('long-arrow-down')
				.page-controls
					.page-controls__select
						.page-controls__select-title АРХИВ:
						select.form__select(data-placeholder="выберите месяц")
							option(value="" label="empty")
							option(value="") Ноябрь 2020
							option(value="") Октябрь 2020
							option(value="") Сентябрь 2020
							option(value="") Август 2020
							option(value="") Июль 2020
							option(value="") Июнь 2020
							option(value="") Май 2020
							option(value="") Апрель 2020
							option(value="") Март 2020
							option(value="") Февраль 2020
							option(value="") Январь 2020
							option(value="") Декабрь 2019
							option(value="") Ноябрь 2019
					.page-controls__btns
						button(data-type="boxs").active
							+icon('boxs')
						button(data-type="lines")
							+icon('lines')
	
	.container
		.blog.area-type
			each object in main.blog
				.blog-item
					a(href="#").blog-item__img
						img(src="images/" + object.imgName, alt="")
					.blog-item__title
						a(href="#")= object.title
					.blog-item__date 15 августа 2020
					.blog-item__text
						= object.text
						|  
						a(href="#") Читать далее...
		.page-more
			a(href="#").btn.btn--light ПОКАЗАТЬ ЕЩЕ
				+icon('long-arrow-down')

				