extends ../template/pug/layout

block content
	+breadcrumbs({
	"Мясо": "#",
	"Баранина (56)": ""
	})

	.page-info
		.container
			.page-title
				+icon('mutton')
				| баранина  
				span (38)
			.page-text-trigger
				button
					span Подробнее
			.page-text.text
				p Мы владеем собственным стадом в Калмыкии с более чем 2-х тысячным поголовьем и используем только молодых животных (ягнят) возрастом 6-8 месяцев.
				p Мясо ягненка отличается необычайной нежностью за счет натурального разведения наших животных в естественной среде обитания. Из ягнятины и баранины получаются замечательный шашлык, отбивные, мясные пальчики и множество других разнообразных блюд. "Мясной № 1" предлагает купить мясо ягнятина по удобной цене для Москвы. 

	section.section.section--dark.section--slider
		.container
			.section__stars
				+stars()
			.section__title
				button.section-btn.section-btn__left
					+icon('long-arrow-left')
				+icon('star-full').icon--mobile
				| популярное в категории 
				span (12)
				button.section-btn.section-btn__right
					+icon('long-arrow-right')
			+card-slider()

	.container
		.cards.cards--sort
			+filter()
			+sort()
			each object in main.card.catalog
				+card(object)

	section.section.section--dark.section--slider
		.container
			.section__title
				button.section-btn.section-btn__left
					+icon('long-arrow-left')
				+icon('like')
				| рекомендуем для вас 
				span (12)
				button.section-btn.section-btn__right
					+icon('long-arrow-right')
			+card-slider()
				
	.container
		.cards
			each object in main.card.catalog1
				+card(object)

	section.section.section--dark.section--slider
		.container
			.section__title
				button.section-btn.section-btn__left
					+icon('long-arrow-left')
				+icon('bag')
				| с этим товаром покупают
				span (12)
				button.section-btn.section-btn__right
					+icon('long-arrow-right')
			+card-slider()

	+deliv()

	.section.section--pb
		.container
			.text.text--simple
				p Натуральный травяной откорм, кристально чистая вода и раздолье бесснежной степи даже зимой - всё это создает идеальные условия для разведения нашей баранины в Калмыкии. Порода совершенствовалась в условиях сурового климата, кочевого пастбищного содержания под воздействием естественного отбора. 
				p В результате животные выработали ценнейшие биологические особенности. Единственным кормом для калмыцкого скота являются пастбищные травы на степных угодьях с разнотравной растительностью, среди которой немало ценных лекарственных растений. Поэтому мясо нашей молодой баранины (ягнятины) считается целебным.
					br
					| Кроме того, такое мясо считается диетическим продуктом и рекомендуется людям страдающим заболеваниями щитовидной и поджелудочной железы из-за отсутствия  в нем насыщенных жирных кислот. Положительно баранина действует и на выработку тестостерона, поэтому люди, работающие в условиях стресса должны употреблять его в пищу обязательно. Отлично влияет восстановление мужской потенции.
				h3 Каре ягненка
				p Настоящее мясо для праздничного стола! Каре ягненка – это оптимальный набор вкуса и полезных веществ. Только идеальная вырезка из молодых животных способна подарить истинное наслаждение всем любителям мяса. Наша витрина предлагает несколько видов каре,  среди которых можно отметить следующие:
				ul.accent
					li - каре ягненка;
					li - корона каре для запекания;
					li - лента баранье каре;
				p Купить каре ягненка в Москве можно в нашем магазине Primemeat по очень выгодной цене. А купить каре барана с доставкой на дом, значит сэкономить время для близких людей
				h3 Баранья корейка
				p Самой нежной частью бараньей туши является корейка. А корейка из ягненка – это еще и дополнительная сочность молодого мяса. Достаточно универсальный продукт для любого способа приготовления. Корейку можно запекать, жарить, готовить на углях или гриле, в любом случае блюдо получится отличным. 
				p Корейка барана цена, предлагаемая нашим магазином выгодна и доступна любому покупателю. Такое мясо хорошо сочетается с овощами, томатами, красным вином сухих сортов. Для придания особого аромата стоит использовать любимые специи, и большое количество зелени, не лишним будет и пара долек чеснока. 
				h3 Калмыцкая баранина
				p Особое внимание хотелось бы обратить на то, что вся представленная в интернет-магазине Прайммит баранина была выращена в экологически чистых районах Калмыкии!
				p
					b Достоинства и преимущества баранины из Калмыкии
				p Баранина из Калмыкии в Москве, из края с чистой экологической обстановкой, с широкой площадью пастбищ, где выращивается поголовье ягнят только в натуральных природных условиях. 
				p Купить настоящую калмыцкую баранину в Москве достаточно сложно, многие точки предлагают дагестанский или даже подмосковный вариант, но при этом вкус и аромат приготовленных блюд несколько отличается. Среди достоинств калмыцкой баранины, можно отметить:
				p Калмыцкая баранина обладает совершенным вкусом из-за правильного выращивания поголовья в естественных условиях.
					br
					| На убой идут только молодые ягнята и годовалые барашки, поэтому продукт обладает нежностью и не требует большой затраты времени для приготовления любого кулинарного шедевра.
					br
					| Теперь заказать и купить калмыцкую баранину можно в Москве воспользовавшись нашим предложением.
					br
					| Наша продукция приобретается у официального дилера, поэтому любой покупатель получает только натуральный продукт без обмана. 
					br
					| Заказать и купить баранину или ягнятину в Москве и Московской области можно на нашем сайте по привлекательно низкой цене. Доставка на дом выполняется в короткие сроки специальным транспортом оснащенным холодильниками и с соблюдением всех санитарных норм. 