extends ../template/pug/layout

block content
	+breadcrumbs({
	"Контакты": ""
	})

	.contacts
		.container
			.title.title--center контакты и магазины
			.contacts__info
				p Вы можете связаться с нами ежедневно, без выходных 
					span (кроме 1 и 2 января)
					| .
				p Консультант ответит Вам с 
					span.accent 9:00 до 19:30
				p По телефону: 
					a(href="tel:74951776328") +7 (495) 177 63 28
					br
					| SMS / WhatsApp / Viber / Telegram: 
					a(href="tel:79262331933") +7 (926) 233 19 33
				p Или через форму обратной связи.
			.page-center.contacts__form
				form.form
					label.form__label.form__label--comb
						span.form__label-name
							span *
							| Введите Имя
						input(type="text" name="" required).form__input
					label.form__label.form__label--comb
						span.form__label-name
							span *
							| E-mail для связи
						input(type="email" name="" required).form__input
					label.form__label.form__label--comb
						span.form__label-name
							span *
							| Телефон
						input(type="tel" name="" required).form__input
					.form__label.form__label--mt
						span.form__label-name
							span *
							| Сообщение
						textarea(required).form__textarea
					.form__code.form__code--center
						.form__code-img
							img(src="images/form__code.jpg", alt="")
						input(type="text" name="" placeholder="Введите слово на картинке").form__input.form__input--light
					.form__info.form__info--center
						| Нажимая кнопку, вы даете согласие на обработку ваших персональных данных.
						br
						a(href="#") Политика конфиденциальности
					.form__action.form__action--center
						button.btn ОТПРАВИТЬ СООБЩЕНИЕ

	.contacts-chops
		.container
			.contacts-chops__content
				.contacts-chops__info
					.contacts-chops__box.active
						.contacts-chops__title 
							+icon('address')
							| Московская область
						.contacts-chops__address Фермерский базар "Петровский", Новорижское шоссе 9 км. от МКАД
						.contacts-chops__line
							| Телефон: 
							a(href="tel:79252014998") + 7 (925) 201-49-98
						.contacts-chops__line
							| Режим работы: 
							span 9:00-21:00
					.contacts-chops__box.contacts-chops__box--alt
						.contacts-chops__title 
							+icon('address')
							| МОСКВА
							span Только САМОВЫВОЗ
						.contacts-chops__address Проектируемый проезд 1980 д. 2
						.contacts-chops__line
							| Телефон: 
							a(href="tel:79262331933") +7 (926) 233-19-33
						.contacts-chops__line
							| Режим работы: 
							span 11:00 - 18:00
					.contacts-chops__btn
						a(href="#").btn Скрыть адреса
				.contacts-chops__map
					iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d341781.65202556225!2d37.439358945485466!3d55.75267090301982!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1604939378084!5m2!1sru!2sru" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")


