extends ../template/pug/layout

block content
	+breadcrumbs({
	"Доставка": ""
	})

	.deliv-page
		.container
			.deliv__content
				.deliv-box.deliv-box--alt.active
					.deliv-box__title
						.deliv-box__trigger стоимость доставки 
							span *
						.deliv-box__alert Минимальная сумма заказа отсутствует.
					.deliv-box__content
						.deliv-box__present
							.deliv-box__present-pic
								+icon('present')
							.deliv-box__present-info
								| При заказе от 3000 руб. вы получаете 
								a(href="#") ПОДАРОК 1
								|  или 
								a(href="#") ПОДАРОК 2
								|  или 
								a(href="#") ПОДАРОК 3
								|  или 
								a(href="#") ПОДАРОК 4
								| .
								br
								| Выберите свой на странице оформления заказа.
						.deliv-box__item
							.deliv-box__item-line
								.deliv-box__item-title Доставка в пределах МКАД
								.deliv-box__item-price 350 ₽
							.deliv-box__item-line
								.deliv-box__item-title.deliv-box__item-title--alt Экспресс-доставка в день заказа
								.deliv-box__item-price 695 ₽
						.deliv-box__item
							.deliv-box__item-line
								.deliv-box__item-title Доставка за пределы МКАД до 10 км
								.deliv-box__item-price 490 ₽
							.deliv-box__item-line
								.deliv-box__item-title.deliv-box__item-title--alt Экспресс-доставка в день заказа 
								.deliv-box__item-price 1 195 ₽
						.deliv-box__item
							.deliv-box__item-line
								.deliv-box__item-title Доставка за пределы МКАД до 40 км 
								.deliv-box__item-price 790 ₽
							.deliv-box__item-line
								.deliv-box__item-title.deliv-box__item-title--alt Экспресс-доставка в день заказа
								.deliv-box__item-price 1 750 ₽
						.deliv-box__item
							.deliv-box__item-line
								.deliv-box__item-title Доставка за пределы МКАД более 40 км
								.deliv-box__item-price 30 ₽ за 1 км от МКАД
						.deliv-box__item.deliv-box__item--alt
							.deliv-box__item-line.deliv-box__item-line--mb
								.deliv-box__item-title 
									span САМОВЫВОЗ
										span.deliv-box__item-status Временно недоступно
									span.deliv-box__item-time (время работы 11:00 - 18:00, кроме CБ и ВС)
							.deliv-box__item-line.deliv-box__item-line--mb
								.deliv-box__item-title
									a(href="#") От Проектируемого проезда 1980 д. 2
								.deliv-box__item-price БЕСПЛАТНО при любой сумме заказа
							.deliv-box__item-line
								.deliv-box__item-title
									a(href="#") От Новорижского шоссе
								.deliv-box__item-price БЕСПЛАТНО от 3 900 ₽
							.deliv-box__item-line
								.deliv-box__item-title.deliv-box__item-title--simple При заказе до 
										b 3 900 руб 
								.deliv-box__item-price 350 ₽
							.deliv-box__item-line
								.deliv-box__item-title.deliv-box__item-title--simple Экспресс-доставка до точки самовывоза в день заказа
								.deliv-box__item-price 695 ₽
						.deliv-box__info
							span *
							|  Если Вам необходима индивидуальная доставка к точному времени или за пределы нашей зоны обслуживания, пожалуйста, обсудите эту возможность с нашими менеджерами. Мы с удовольствием постараемся организовать все так, как Вы пожелаете.
				.deliv-box
					.deliv-box__title
						.deliv-box__trigger Правила доставки и оплаты
					.deliv-box__content
						p Мы доставляем свежее охлаждённое мясо 
							b по Москве и Московской области
							|  на следующий день после заказа, ежедневно c 9.30 до 21.00 (кроме 1, 2 и 3 января). Пожалуйста, сделайте заказ до 19:00, чтобы мы успели подготовить его для Вас и доставить на следующий день. В связи с повышенным спросом сроки доставки могут быть скорректированы. 
						p Интервалы доставки: 
							b с 9:30 до 15:00, с 15:00 до 21:00, с 12:00 до 18:00
							|  или в течение дня. Выбирайте удобный для Вас интервал на странице оформления заказа. 
						p Вы можете воспользоваться услугой 
							b "Экспресс-доставка в день заказа"
							| . За дополнительную плату заказ будет доставлен вам в течение 3-х часов. Экспресс-доставка возможна, если заказ сделан в интервале с 9:00 до 18:00. Такой заказ может быть оплачен только банковской картой онлайн после его комплектации. 
				.deliv-box
					.deliv-box__title
						.deliv-box__trigger Обратите внимание
					.deliv-box__content
						p Итоговый вес заказанных продуктов может отличаться в пределах 10% в связи с тем, что мясо нарезается под Ваш заказ вручную. Как только Ваш заказ будет укомплектован, мы отправим Вам письмо с информацией о точной сумме к оплате. Вы всегда можете скорректировать заказ, отказаться от него целиком или от его части без объяснения причин.
				.deliv-box
					.deliv-box__title
						.deliv-box__trigger Оплата банковской картой
					.deliv-box__content
						p Оплатить банковской картой можно любой заказ или любую его часть.
							br
							a(href="#") Подробнее
							|  об оплате банковскими картами.
				.deliv-box
					.deliv-box__title
						.deliv-box__trigger Охлажденная доставка
					.deliv-box__content
						p Ваш заказ будет надежно упакован в специализированный контейнер, внутри которого будет поддерживаться 
							b температура не выше +2 С
							|. Все наши автомобили оборудованы рефрижераторами для оптимального контроля за температурой, чтобы поддерживать свежесть и отличное состояние вашего заказа даже в самый жаркий день.
				.deliv-box
					.deliv-box__title
						.deliv-box__trigger Гарантия качества
					.deliv-box__content
						p Мясной № 1 предлагает только высококачественную продукцию. Но порой нелегко совершить покупку, когда все, что Вы имеете перед собой - это компьютер и красивая фотография с описанием. Что, если вы останетесь недовольны покупкой? Мы хотим быть уверены, в том, что вы остались довольны каждой покупкой в нашей мясной лавке Мясной № 1. Если вдруг вы остались неудовлетворены товаром, просто верните его в течение 14 дней в любом виде. Мы гарантируем немедленную 100% компенсацию. Пожалуйста, свяжитесь с нами, чтобы узнать о способах возврата.

	section.section.section--dark.section--pmd.section--scroll
		.container
			.title.title--center как сделать заказ
			.order-steps
				.order-step
					.order-step__num 1
					.order-step__title Выбираем товар
					.order-step__text Выберите интересующую Вас категорию товаров в верхнем меню (например, Баранина). Для Вас откроется страница, где представлены товары с указанием цены, а также фотографией и кратким описанием. Нажав на фотографию или ссылку, Вы сможете ознакомиться с самым подробным описанием данного товара и всеми его характеристиками.
				.order-step
					.order-step__num 2
					.order-step__title Кладем товар <br>в корзину
					.order-step__text Выбрав понравившийся товар, нажмите кнопку «В корзину». Товар автоматически отправится в Вашу корзину. Вы можете положить в свою корзину любое количество товаров.
				.order-step
					.order-step__num 3
					.order-step__title Ваша корзина
					.order-step__text Для оформления заказа перейдите в раздел «Корзина» или нажмите кнопку Оформить заказ в правом верхнем углу. Просмотрите ее содержимое. Вы можете изменить количество товара в корзине или удалить то, что Вам не нужно.
				.order-step
					.order-step__num 4
					.order-step__title Оформляем заказ
					.order-step__text Для завершения оформления заказа Вам необходимо ввести свои контактные данные и нажать на кнопку «Оформить заказ». Он сразу будет передан для оформления нашему менеджеру, после чего он сам Вам перезвонит и уточнит все детали заказа.

	+deliv()