extends ../template/pug/layout

block vars
	- var cardIsClosed = true;
	- var pageType = "favorite";

block content
	+breadcrumbs({
	"Избранное": ""
	})

	.page-info.page-info--favorite
		.container
			.page-title
				+icon('heart-full')
				| ИЗБРАННОЕ 
				span (8)
			.page-reset
				a(href="#").btn.btn--light
					| Удалить все
					span.page-reset__close
		
	.page-sort.page-sort--alt
		.container
			.page-sort__content
				.form__items
					label.form__label.form__label--check
						input(type="checkbox" name="").form__check
						span.form__check-box
						span.form__label-name Мясо
					label.form__label.form__label--check
						input(type="checkbox" name="").form__check
						span.form__check-box
						span.form__label-name Птица
					label.form__label.form__label--check
						input(type="checkbox" name="").form__check
						span.form__check-box
						span.form__label-name Кулинария и шашлык
					label.form__label.form__label--check
						input(type="checkbox" name="").form__check
						span.form__check-box
						span.form__label-name Деликатесы
					label.form__label.form__label--check
						input(type="checkbox" name="").form__check
						span.form__check-box
						span.form__label-name Специи и соус

	.favorite-rezult
		.container
			.cards
				+card(main.card.catalog['1'])
				+card(main.card.catalog['2'])
				+card(main.card.catalog['3'])
				+card(main.card.catalog['4'])
				+card(main.card.catalog['5'])
				+card(main.card.catalog['6'])
				+card(main.card.catalog['7'])
				+card(main.card.catalog['8'])