extends ../template/pug/layout

block content
	+breadcrumbs({
	"Популярное (56)": ""
	})

	.page-info.page-info--mt
		.container
			.page-stars
				+stars()
			.page-title
				+icon('star-full')
				| популярные товары 
				span (128)
		
	.page-sort.page-sort--alt
		.container
			.page-sort__content
				.form__items
					label.form__label.form__label--check
						input(type="checkbox" name="").form__check
						span.form__check-box
						span.form__label-name Мясо
					label.form__label.form__label--check
						input(type="checkbox" name="").form__check
						span.form__check-box
						span.form__label-name Птица
					label.form__label.form__label--check
						input(type="checkbox" name="").form__check
						span.form__check-box
						span.form__label-name Кулинария и шашлык
					label.form__label.form__label--check
						input(type="checkbox" name="").form__check
						span.form__check-box
						span.form__label-name Деликатесы
					label.form__label.form__label--check
						input(type="checkbox" name="").form__check
						span.form__check-box
						span.form__label-name Специи и соус

	.container
		.cards.cards--sort
			+sort()
			+card(main.card.catalog['3'])
			+card(main.card.catalog['8'])
			each object in main.card.catalog
				+card(object)

	section.section.section--dark.section--slider
		.container
			.section__title
				button.section-btn.section-btn__left
					+icon('long-arrow-left')
				+icon('like')
				| рекомендуем для вас 
				span (12)
				button.section-btn.section-btn__right
					+icon('long-arrow-right')
			+card-slider()
				
	.container
		.cards
			each object in main.card.catalog1
				+card(object)

	section.section.section--dark.section--slider
		.container
			.section__title
				button.section-btn.section-btn__left
					+icon('long-arrow-left')
				+icon('bag')
				| с этим товаром покупают
				span (12)
				button.section-btn.section-btn__right
					+icon('long-arrow-right')
			+card-slider()

	+deliv()
