extends ../template/pug/layout

block content
	+breadcrumbs({
	"Мясо": "#",
	"Свинина (12)": ""
	})

	.item
		.container
			.item__top
				.item__view
					.item__sale.card__sale Акция
					.item__label.banner__label(style="background-image:url(images/ferm-ico-alt.svg);")
					.item__imgs
						a(href="images/item__img-1.jpg" data-fancybox="gallery").item__img
							img(src="images/item__img-1.jpg", alt="")
						a(href="images/item__img-2.jpg" data-fancybox="gallery").item__img
							img(src="images/item__img-2.jpg", alt="")
						a(href="images/item__img-1.jpg" data-fancybox="gallery").item__img
							img(src="images/item__img-1.jpg", alt="")
						a(href="images/item__img-2.jpg" data-fancybox="gallery").item__img
							img(src="images/item__img-2.jpg", alt="")
					.item__controls
				.item__info
					.item__title Рулет из каре ягненка в душистых травах (полуфабрикат)
					a(href="#").btn-favorite.item__favorite
						.pic.pic--heart-alt
						.pic.pic--heart-full
					.item__line
						ul.item__tags
							li.item__tag.item__tag--pink на фарш
							li.item__tag.item__tag--green Тушить
							li.item__tag.item__tag--blue Варить
							li.item__tag.item__tag--red Жарить
							li.item__tag.item__tag--orange Запекать
						.item__stars
							+stars("4")

					.item__scroll-wrap
						.item__sale-wrap
							.item__sale.card__sale Акция
						.item__label.banner__label(style="background-image:url(images/ferm-ico-alt.svg);")
						.item__scroll
							a(href="images/item__img-1.jpg" data-fancybox="gallery")
								img(src="images/item__img-1.jpg", alt="")
							a(href="images/item__img-2.jpg" data-fancybox="gallery")
								img(src="images/item__img-2.jpg", alt="")
							a(href="images/item__img-1.jpg" data-fancybox="gallery")
								img(src="images/item__img-1.jpg", alt="")
							a(href="images/item__img-2.jpg" data-fancybox="gallery")
								img(src="images/item__img-2.jpg", alt="")

					.item-tabs
						.item-tabs__controls
							button.item-tabs__btn.active ЗАКАЗАТЬ ПО ВЕСУ
							button.item-tabs__btn ЗАКАЗАТЬ ПО-ШТУЧНО
						.item-tabs__boxs
							.item-tabs__box.active
								.item-tabs__box-btn ЗАКАЗАТЬ ПО ВЕСУ
								.item-tabs__box-cont
									.item-tabs__box-area
										+counter()
										.item-tabs__box-price 1 029 ₽
									.item-tabs__box-items
										.item-tabs__box-item
											label.form__label.form__label--check
												input(type="checkbox" name="").form__check
												span.form__check-box
												span.form__label-name Замариновать для запекания
											.item-tabs__box-text + 60 ₽/кг
											.tooltip.js-tooltip(data-tipped-options="position: 'righttop', maxWidth: 130", title="По вашему желанию мы профессионально разделаем на части выбранный товар так, чтобы вам было удобно его приготовить.") ?
										.item-tabs__box-item
											label.form__label.form__label--check
												input(type="checkbox" name="").form__check
												span.form__check-box
												span.form__label-name Снять с кости
											.item-tabs__box-text + 40 ₽/кг
											.tooltip.js-tooltip(data-tipped-options="position: 'righttop', maxWidth: 130", title="По вашему желанию мы профессионально разделаем на части выбранный товар так, чтобы вам было удобно его приготовить.") ?
										.item-tabs__box-item
											label.form__label.form__label--check
												input(type="checkbox" name="").form__check
												span.form__check-box
												span.form__label-name Нарезать кусочками
											.item-tabs__box-text + 50 ₽/кг
											.tooltip.js-tooltip(data-tipped-options="position: 'righttop', maxWidth: 130", title="По вашему желанию мы профессионально разделаем на части выбранный товар так, чтобы вам было удобно его приготовить.") ?
										.item-tabs__box-item
											label.form__label.form__label--check
												input(type="checkbox" name="").form__check
												span.form__check-box
												span.form__label-name Сделать без соли
											.item-tabs__box-text + 0 ₽/кг
											.tooltip.js-tooltip(data-tipped-options="position: 'righttop', maxWidth: 130", title="По вашему желанию мы профессионально разделаем на части выбранный товар так, чтобы вам было удобно его приготовить.") ?
									.item-tabs__box-bottom
										.item-tabs__box-summa
											| ИТОГО
											span 6 354 ₽
										a(href="#").btn
											| В корзину
											+icon('basket')
							.item-tabs__box
								.item-tabs__box-btn ЗАКАЗАТЬ ПО-ШТУЧНО
								.item-tabs__box-cont
									.item-tabs__box-area
										+counter("шт")
										.item-tabs__box-price 1 029 ₽
									.item-tabs__box-items
										.item-tabs__box-item
											label.form__label.form__label--check
												input(type="checkbox" name="").form__check
												span.form__check-box
												span.form__label-name Замариновать для запекания
											.item-tabs__box-text + 60 ₽/кг
											.tooltip.js-tooltip(data-tipped-options="position: 'righttop', maxWidth: 130", title="По вашему желанию мы профессионально разделаем на части выбранный товар так, чтобы вам было удобно его приготовить.") ?
										.item-tabs__box-item
											label.form__label.form__label--check
												input(type="checkbox" name="").form__check
												span.form__check-box
												span.form__label-name Снять с кости
											.item-tabs__box-text + 40 ₽/кг
											.tooltip.js-tooltip(data-tipped-options="position: 'righttop', maxWidth: 130", title="По вашему желанию мы профессионально разделаем на части выбранный товар так, чтобы вам было удобно его приготовить.") ?
										.item-tabs__box-item
											label.form__label.form__label--check
												input(type="checkbox" name="").form__check
												span.form__check-box
												span.form__label-name Нарезать кусочками
											.item-tabs__box-text + 50 ₽/кг
											.tooltip.js-tooltip(data-tipped-options="position: 'righttop', maxWidth: 130", title="По вашему желанию мы профессионально разделаем на части выбранный товар так, чтобы вам было удобно его приготовить.") ?
										.item-tabs__box-item
											label.form__label.form__label--check
												input(type="checkbox" name="").form__check
												span.form__check-box
												span.form__label-name Сделать без соли
											.item-tabs__box-text + 0 ₽/кг
											.tooltip.js-tooltip(data-tipped-options="position: 'righttop', maxWidth: 130", title="По вашему желанию мы профессионально разделаем на части выбранный товар так, чтобы вам было удобно его приготовить.") ?
									.item-tabs__box-bottom
										.item-tabs__box-summa
											| ИТОГО
											span 6 354 ₽
										a(href="#").btn
											| В корзину
											+icon('basket')
			.item__bottom
				.tabs
					.tabs__controls
						button.tabs__btn.accent
							+icon('hat')
							| Повар рекомендует
							+icon('long-arrow-down')
						button.tabs__btn.active Описание товара
							+icon('long-arrow-down')
						button.tabs__btn Информация о доставке
							+icon('long-arrow-down')
					.tabs__boxs
						.tabs__box
							.tabs__box-btn.accent
								+icon('hat')
								| Повар рекомендует
							.tabs__box-cont Повар рекомендует
						.tabs__box.active
							.tabs__box-btn Описание товара
							.tabs__box-cont
								.tabs__box-cols
									.tabs__box-col
										p
											b Происхождение:
											|  Республика Калмыкия, Яшкульский район
										p
											b Состав:
											|  мякоть бараньей голяшки. Полуфабрикат мясной из баранины, без кости, охлаждённый.
										p
											b Хранение:
											|  Хранить при температуре от 0 до +4 С
										br
										p
											b Энергетическая и пищевая ценность на 100 грамм продукта:
										.item-stats
											.item-stats__boxs
												.item-stats__box
													span
														| кКал
														span 209
												.item-stats__box
													span
														| кДж
														span 875
											ul.item-stats__list
												li.accent
													| Белки
													span 15 г
												li.accent
													| Жиры
													span 16,3 г
												li
													| Углеводы
													span 0 г
												li
													| Клетчкатка
													span 0 г
									.tabs__box-col
										p
											b Описание:
											|  Быстро готовиться и прекрасно подходит для тушения. Небольшое количество жира делает мясо нежным и заставляет таить во рту. Вкус очень насыщенный с неповторимым мясным ароматом.
										p Вкус очень насыщенный с неповторимым мясным ароматом приобретут такие блюда как: гуляш, азу, шурпа, жаркое. При добавлении картофеля в качестве гарнира можно получить замечательное блюдо на обед. С рисом или гречневой кашей мякоть баранья для тушения может стать сытным ужином. Употреблять лучше в горячем виде добавив к блюду зелень или овощную нарезку.
										p
											b Cертификаты и документы качества:
										ul.tabs__box-links
											li
												a(href="#") Декларация о соответствии качества продукции
											li
												a(href="#") Ветеринарное свидетельства
						.tabs__box
							.tabs__box-btn Информация о доставке
							.tabs__box-cont Информация о доставке

	section.section.section--dark.section--slider
		.container
			.section__title
				button.section-btn.section-btn__left
					+icon('long-arrow-left')
				+icon('like')
				| рекомендуем для вас 
				span (12)
				button.section-btn.section-btn__right
					+icon('long-arrow-right')
			+card-slider()
	

	section.section.section--slider
		.container
			.section__title
				button.section-btn.section-btn__left
					+icon('long-arrow-left')
				+icon('bag')
				| с этим товаром покупают
				span (12)
				button.section-btn.section-btn__right
					+icon('long-arrow-right')
			+card-slider()

	section.section.section--dark.section--slider
		.container
			.section__title
				button.section-btn.section-btn__left
					+icon('long-arrow-left')
				+icon('eye')
				| ВЫ НЕДАВНО СМОТРЕЛИ
				span (8)
				button.section-btn.section-btn__right
					+icon('long-arrow-right')
			+card-slider()

	+deliv()