extends ../template/pug/layout

block vars
	- var newHeader = true;
	- var pageClass = 'isHeaderLight';

block content
	.site-title-wrap
		.container
			h1.site-title главная мясная лавка москвы
	.main-slider
		.main-slider__item
			a(href="#")
				img(src="images/main-slider__img-1.jpg", alt="")
		.main-slider__item
			a(href="#")
				img(src="images/main-slider__img-2.jpg", alt="")
		.main-slider__item
			a(href="#")
				img(src="images/main-slider__img-3.jpg", alt="")
		.main-slider__item
			a(href="#")
				img(src="images/main-slider__img-4.jpg", alt="")
		.main-slider__item
			a(href="#")
				img(src="images/main-slider__img-5.jpg", alt="")


	section.section.section--dark.section--slider
		.container
			.section__stars
				+stars()
			.section__title.section__title--alt.section__title--md
				button.section-btn.section-btn__left
					+icon('long-arrow-left')
				+icon('star-full').icon--mobile
				| популярные товары
				button.section-btn.section-btn__right
					+icon('long-arrow-right')
				.section__more
					a(href="#") Посмотреть 
						span все
					span  (34)
			+card-slider()

	.category
		.container
			.category__list
				a(href="#").category-item
					span.category-item__title новинки
					span.category-item__img(style="background-image:url(images/category__img-1.jpg);")
				a(href="#").category-item
					span.category-item__title детское меню
					span.category-item__img(style="background-image:url(images/category__img-2.jpg);")
				a(href="#").category-item
					span.category-item__title товары <br>по промокоду
					span.category-item__box.category-item__box--sale %
					span.category-item__img(style="background-image:url(images/category__img-3.jpg);")
				a(href="#").category-item.category-item--big
					span.category-item__title.category-item__title--blue экологичная молочная продукция
					span.category-item__box.category-item__box--new new
					span.category-item__img
						span.category-item__img-desktop(style="background-image:url(images/category__img-4-1.jpg);")
						span.category-item__img-mobile(style="background-image:url(images/category__img-4-2.jpg);")
				a(href="#").category-item
					span.category-item__title все для шашлыка
					span.category-item__img(style="background-image:url(images/category__img-5.jpg);")
	

	section.section.section--dark.section--slider
		.container
			.section__title.section__title--alt.section__title--lg
				button.section-btn.section-btn__left
					+icon('long-arrow-left')
				+icon('mutton')
				| баранина
				button.section-btn.section-btn__right
					+icon('long-arrow-right')
				.section__more
					a(href="#") Посмотреть 
						span все
					span  (38)
			+card-slider()


	section.section.section--slider
		.container
			.section__title.section__title--alt.section__title--lg
				button.section-btn.section-btn__left
					+icon('long-arrow-left')
				+icon('beef')
				| говядина
				button.section-btn.section-btn__right
					+icon('long-arrow-right')
				.section__more
					a(href="#") Посмотреть 
						span все
					span  (38)
			+card-slider()


	section.section.section--img(style="background-image:url(images/section__bg-1.jpg);")
		.container
			.section__title.section__title--alt.section__title--light.section__title--lg
				button.section-btn.section-btn__left
					+icon('long-arrow-left')
				+icon('cooking')
				| мраморная говядина
				button.section-btn.section-btn__right
					+icon('long-arrow-right')
				.section__more
					a(href="#") Посмотреть 
						span все
					span  (38)
			+card-slider()
			.banner.banner--meat.banner-js
				.banner__img
					img(src="images/banner__img-1.jpg", alt="")
				.banner__info
					.banner__title выбираем стейк
					.banner__text Мы отобрали и заготовили для вас лучшие стейки из российского, аргентинского и уругвайского мяса на любой даже самый взыскательный вкус.
					a(href="#").btn.banner__btn выбрать 

	section.section.section--slider
		.container
			.section__title.section__title--alt.section__title--lg
				button.section-btn.section-btn__left
					+icon('long-arrow-left')
				+icon('meat')
				| телятина
				button.section-btn.section-btn__right
					+icon('long-arrow-right')
				.section__more
					a(href="#") Посмотреть 
						span все
					span  (38)
			+card-slider()

	section.section.section--img(style="background-image:url(images/section__bg-2.jpg);")
		.container
			.section__title.section__title--alt.section__title--lg
				button.section-btn.section-btn__left
					+icon('long-arrow-left')
				+icon('bird')
				| птица
				button.section-btn.section-btn__right
					+icon('long-arrow-right')
				.section__more
					a(href="#") Посмотреть 
						span все
					span  (38)
			+card-slider()
			.banner.banner--ferm.banner-js
				.banner__info
					.banner__title фермерский продукт
					.banner__text Только фермерская продукция, заботливо выращенная увлеченными своим делом людьми и бережно заготовленная нашими профессиональными мясниками и кулинарами... 
					a(href="#").btn.banner__btn выбрать 
				.banner__img
					img(src="images/banner__img-2.jpg", alt="")
					.banner__label(style="background-image:url(images/ferm-ico-alt.svg);")


	section.section.section--slider
		.container
			.section__title.section__title--alt.section__title--lg
				button.section-btn.section-btn__left
					+icon('long-arrow-left')
				+icon('pork')
				| свинина
				button.section-btn.section-btn__right
					+icon('long-arrow-right')
				.section__more
					a(href="#") Посмотреть 
						span все
					span  (38)
			+card-slider()


	section.section.section--dark.section--slider
		.container
			.section__title.section__title--alt.section__title--lg
				button.section-btn.section-btn__left
					+icon('long-arrow-left')
				+icon('rabbit')
				| кролик
				button.section-btn.section-btn__right
					+icon('long-arrow-right')
				.section__more
					a(href="#") Посмотреть 
						span все
					span  (38)
			+card-slider()

	.category
		.container
			.category__list
				a(href="#").category-item
					span.category-item__title наваристый <br>бульон
					span.category-item__img(style="background-image:url(images/category__img-6.jpg);")
				a(href="#").category-item
					span.category-item__title мясная <br>гастрономия
					span.category-item__img(style="background-image:url(images/category__img-7.jpg);")
				.category-item.category-item--combo
					a(href="#").category-item
						span.category-item__title маринады и масла
						span.category-item__img(style="background-image:url(images/category__img-8-1.jpg);")
					a(href="#").category-item
						span.category-item__title специи
						span.category-item__img(style="background-image:url(images/category__img-8-2.jpg);")
					a(href="#").category-item
						span.category-item__title соусы
						span.category-item__img(style="background-image:url(images/category__img-8-3.jpg);")
				a(href="#").category-item.category-item--sm
					span.category-item__title сладости
					span.category-item__img(style="background-image:url(images/category__img-9.jpg);")
				a(href="#").category-item.category-item--sm
					span.category-item__title кулинария
					span.category-item__img(style="background-image:url(images/category__img-10.jpg);")
				a(href="#").category-item.category-item--sm
					span.category-item__title колбаски
					span.category-item__img(style="background-image:url(images/category__img-11.jpg);")
				a(href="#").category-item.category-item--sm
					span.category-item__title котлеты
					span.category-item__img(style="background-image:url(images/category__img-12.jpg);")
	
	.section.section--dark.section--simple.section--info
		.container
			.info
				.info__item.info__item--lg
					.info__q
						.info__q-text Ежедневно мы и наша команда трудимся для того, чтобы в вашем рационе было самое лучшее отборное высококачественное мясо...
						.info__q-user
							.info__q-avatar
								img(src="images/info__img-1.jpg", alt="")
							.info__q-name Олег и Ксения Пинские, основатели
				.info__item.info__item--question
					.info__question Почему Мясной № 1 продает лучшую в России свинину, говядину, телятину, баранину и птицу?
				.info__item
					.info__text Мы работаем вместе с небольшими семейными фермерскими хозяйствами, которые понимают, что их работа – это большая ответственность перед вами, нашими покупателями. У наших партнеров-фермеров своя земля, все животные растут на вольном выгуле и питаются свежей травой. Только наша общая с ними мотивация производить и поставлять экологически чистое мясо способствует непревзойденному качеству продукции, которая попадет на ваш стол.
				.info__item
					.info__text Качество мяса напрямую зависит от того, что едят животные, поэтому наши друзья фермеры выращивают свои собственные корма, на собственной земле, чистой от пестицидов, в местах, где животные всегда могут свободно передвигаться по пастбищам так, как делают это в природе, и никогда не знакомятся ни с гормонами, ни с антибиотиками, ни со стимуляторами аппетита. 

	+deliv()