extends ../template/pug/layout

block content
	+breadcrumbs({
	"Профиль пользователя": ""
	})


	.page-top.page-top--orders
		.container
			.page-center.page-center--alt
				.page-top__line
					ul.page-top__links
						li
							a(href="#").page-top__link
								+icon('user')
								span.page-top__link-name Личные данные
								+icon('long-arrow-down')
						li
							a(href="#").page-top__link.active
								+icon('list')
								span.page-top__link-name История заказов
								+icon('long-arrow-down')
	.orders
		.container
			.page-center.page-center--alt
				.orders__list
					.orders-item
						.orders-item__top
							.orders-item__num №12345  
							.orders-item__date от 01.12.2020
							.orders-item__status.orders-item__status--green сформирован
							.orders-item__price 3 400 ₽
						.orders-item__content
							.orders-item__info
								.orders-item__info-top
									.orders-item__info-box
										| Доставка
										span Экспресс-доставка
									.orders-item__info-box
										| Оплата
										span Он-лайн оплата
								.orders-item__info-main
									.orders-item__info-block
										.orders-item__info-line
											+icon('address')
											|  Россия, Московская область, Щелково, Проспект Мира, 8, кв. 234 подъезд 5, этаж 4,  +7 (916) ***-**-66
										.orders-item__info-line
											+icon('clock')
											|  Пятница (24 июл) c 11 до 13 ч
									.orders-item__info-btn
										a(href="#").btn повторить заказ
							.orders-item__items
								.orders-item__item
									a(href="#").orders-item__item-img
										img(src="images/orders__img-1.jpg", alt="")
									.orders-item__item-info
										.orders-item__item-title
											a(href="#") Шницель свиной из окорока
										.orders-item__item-price 1029 ₽/кг
										.orders-item__item-dop
											| 10,5 кг / 
											span 6 429 ₽
										ul.orders-item__item-stats
											li Разделать на части
											li Замариновать
									.orders-item__item-val 10,5 кг
									.orders-item__item-summa 6 429 ₽
								.orders-item__item
									a(href="#").orders-item__item-img
										img(src="images/orders__img-2.jpg", alt="")
									.orders-item__item-info
										.orders-item__item-title
											a(href="#") Рулет из каре ягненка в душистых травах (полуфабрикат)
										.orders-item__item-price 546 ₽/шт
										.orders-item__item-dop
											| 10 шт / 
											span 3 400 ₽
										ul.orders-item__item-stats
											li Замариновать для гриля
									.orders-item__item-val 10 шт
									.orders-item__item-summa 3 400 ₽

					each price in ["6 400 ₽","54 345 ₽","12 400 ₽","1 400 ₽"]
						.orders-item
							.orders-item__top
								.orders-item__num №12345  
								.orders-item__date от 01.12.2020
								.orders-item__status доставлен
								.orders-item__price= price
							.orders-item__content
								.orders-item__info
									.orders-item__info-top
										.orders-item__info-box
											| Доставка
											span Экспресс-доставка
										.orders-item__info-box
											| Оплата
											span Он-лайн оплата
									.orders-item__info-main
										.orders-item__info-block
											.orders-item__info-line
												+icon('address')
												|  Россия, Московская область, Щелково, Проспект Мира, 8, кв. 234 подъезд 5, этаж 4,  +7 (916) ***-**-66
											.orders-item__info-line
												+icon('clock')
												|  Пятница (24 июл) c 11 до 13 ч
										.orders-item__info-btn
											a(href="#").btn повторить заказ
								.orders-item__items
									.orders-item__item
										a(href="#").orders-item__item-img
											img(src="images/orders__img-1.jpg", alt="")
										.orders-item__item-info
											.orders-item__item-title
												a(href="#") Шницель свиной из окорока
											.orders-item__item-price 1029 ₽/кг
											.orders-item__item-dop
												| 10 шт / 
												span 3 400 ₽
											ul.orders-item__item-stats
												li Разделать на части
												li Замариновать
										.orders-item__item-val 10,5 кг
										.orders-item__item-summa 6 429 ₽
									.orders-item__item
										a(href="#").orders-item__item-img
											img(src="images/orders__img-2.jpg", alt="")
										.orders-item__item-info
											.orders-item__item-title
												a(href="#") Рулет из каре ягненка в душистых травах (полуфабрикат)
											.orders-item__item-price 546 ₽/шт
											.orders-item__item-dop
												| 10 шт / 
												span 3 400 ₽
											ul.orders-item__item-stats
												li Замариновать для гриля
										.orders-item__item-val 10 шт
										.orders-item__item-summa 3 400 ₽
