extends ../template/pug/layout

block content
	.page-back.breadcrumbs
		.container
			a(href="#") < Назад к Блогу
	
	.post
		.container
			.post__title Что приготовить из филе бедра индейки?
			.post__date 15 августа 2020
			.post__q
				.post__q-avatar
					img(src="images/post__avatar.jpg", alt="")
				.post__q-text
					.post__q-text-cont Для приготовления блюд из фарша индейки вы можете купить мясо сразу в виде фарша или сделать его самостоятельно. Безусловно, готовить самостоятельно дольше, и надо приложить больше сил. Но если вы готовите ребенку, то для уверенности лучше потратить больше времени. 
			.post__alert
				p Не забывайте, что индейка - достаточно сухое мясо, поэтому добавьте немного жира. Это может быть жир из самой индейки.  
				p Основными составляющими хорошего фарша будет лучок, вымоченный в молоке хлеб, чеснок, соль, зелень и перец. Все вышеперечисленное стоит измельчить. Для того, чтобы убрать лишний воздух из мяса, отбейте его. Кроме этого, фарш станет намного сочнее и эластичнее. С ним будет намного проще работать.
				p Есть множество блюд с использованием фарша индейки. Его используют в изготовлении лазаньи, пельменей, тефтелей, ежиков, кебабов, фрикаделек, пирогов, терринов, гамбургеров и обычных котлет. Также пекут мясной хлеб и добавляют в итальянские пасты.
				p Именно фарш из индейки часто употребляют приверженцы диет, а также люди с плохим обменом веществ. Итак, что можно приготовить из фарша индейки – читаем рецепты ниже.

			.post-box
				.post-box__main
					.post-box__title
						.post-box__pic
							+icon('hat')
						| Гнезда из макарон в мультиварке
						+icon('long-arrow-down')
					.post-box__img
						img(src="images/post__img-1.jpg", alt="")
					.post-box__text
						p Удивляйте свою семью не только вкусными, но и креативными блюдами. Давно первой помощницей на кухне многих хозяек стала мультиварка. Именно в ней можно приготовить гнезда из макарон. Вы приготовите все быстро и вкусно. 
						p Вам нужно всего 20 мин, и шикарный стол накрыт. Хотя макароны и варятся немного меньше, но стоит помнить о том, что должно провариться мясо. Заливать блюдо нужно холодной водой. В качестве сырной корочки можно взять моцареллу. Готовим гнезда из макарон и жидкого фарша индейки.
						h3 Набор продуктов:
						p
							| лук - 2 шт.;
							br
							| гнезда макароны - 0.5 кг.;
							br
							| подсолнечное масло - 3 ст. л.;
							br
							| фарш из грудки индейки - 0.3 кг.;
							br
							| черный перец;
							br
							| соль;
							br
							| моцарелла - 0.1 кг.;
							br
							| пармезан - 2 ст.л.;
							br
							| томаты - 0,5 кг
						h3 Шаги приготовления:
						p
							| Подготовьте мясо, помойте и просушите. Потом нарежьте на ломтики.
							br
							| Необходимо перемолоть мясо в мясорубке.
							br
							| Очистить лук. Нарезать на маленькие кусочки.
							br
							| В мультиварку необходимо налить подсолнечное масло. На дисплее выбираем режим «Жарка».
							br
							| Жарим лук до золотистого цвета.
							br
							| К луку добавляем измельченное мясо. Обжариваем. Для однородности постоянно помешиваем деревянной лопаткой.
							br
							| Жарка займет примерно 20 мин. При этом солим и перчим.
							br
							| Все, что обжарили, положите на тарелку.
							br
							| В мультиварке же начинаем варить гнезда.
							br
							| В гнездо закладываем обжаренный фарш и лук, наверх кладем моцареллу. Начинки должно быть примерно 2-3 ст. л.
							br
							| Заливаем гнезда водой. Но при этом фарш не следует покрывать. Это нужно для того, чтобы фарш не стал водянистым.
							br
							| Воду нужно посолить, добавить лавровый лист. На дисплее выбираем режим «Варка» и готовим 20 мин.
							br
							| Как только указанное время пройдет, кладем блюдо на тарелку. Натираем сыр, посыпаем гнезда. Томаты используем для украшения.

			.post-box
				.post-box__main
					.post-box__title
						.post-box__pic
							+icon('hat')
						| Паровые котлеты из фарша индейки с твердым сыром
						+icon('long-arrow-down')
					.post-box__img
						img(src="images/post__img-2.jpg", alt="")
					.post-box__text
						h3 Нужные продукты для приготовления котлет из рубленного фарша индейки:
						p
							| фарш из индейки - 0,5 кг.;
							br
							| сыр - 2 ст. л.;
							br
							| лук – 2 шт.;
							br
							| масло сливочное - 30 гр.;
							br
							| приправы.
						h3 Шаги приготовления:
						p
							| Если вы купили готовый фарш, то можно сразу приступать к готовке.
							br
							| Перемешайте фарш, сформируйте котлеты.
							br
							| Положите их в пароварку, покройте сыром.
							br
							| Время приготовления: 40 мин.
							br
							| Параллельно приготовьте картофель. Это может быть пюре или картофель по-селянски, украсьте все зеленым луком или укропом.

			.post-box
				.post-box__main
					.post-box__title
						.post-box__pic
							+icon('hat')
						| Котлеты из индейки с болгарским перцем и сыром в духовке
						+icon('long-arrow-down')
					.post-box__img
						img(src="images/post__img-1.jpg", alt="")
					.post-box__text
						h3 Продукты для приготовления 8 порций:
						p
							| фарш из индейки - 0,7 кг.;
							br
							| молоко - 100 мл.;
							br
							| яйца - 1 шт.;
							br
							| масло сливочное - 30 гр.;
							br
							| хлеб - 2 кусочка;
							br
							| лук - 1 шт.;
							br
							| перец болгарский - 1 шт.;
							br
							| плавленый сыр - 1 шт.;
							br
							| соль и перец.
							br
							| Котлеты из индейки с болгарским перцем и сыром в духовке
						h3 Шаги приготовления:
						p
							| Заливаем хлеб молоком.
							br
							| Перец режем на кубики.
							br
							| Нарезаем лук.
							br
							| Добавляем чеснок и все вышеперечисленное в блендер и измельчаем.
							br
							| Добавляем плавленый сыр, смешиваем с фаршем и овощами, добавляем хлеб и яйцо.
							br
							| Приправляем по вкусу. Все очень хорошо перемешиваем.
							br
							| Противень нужно застелить фольгой, взбрызнуть подсолнечным маслом.
							br
							| Для лучшего формирования котлет смочите руки водой.
							br
							| Запекаем в духовом шкафу на протяжении сорока минут. Держим при температуре 200 градусов.
							br
							| Контролируйте блюдо в духовке, чтобы оно не пересушилось.

