extends ../template/pug/layout

block content
	+breadcrumbs({
	"Профиль пользователя": ""
	})

	.page-top.page-top--profile
		.container
			.page-center
				.page-top__line
					ul.page-top__links
						li
							a(href="#").page-top__link.active
								+icon('user')
								span.page-top__link-name Личные данные
								+icon('long-arrow-down')
						li
							a(href="#").page-top__link
								+icon('list')
								span.page-top__link-name История заказов
								+icon('long-arrow-down')

	.profile-page
		.container
			.page-center
				form.form
					label.form__label.form__label--comb
						span.form__label-name
							span *
							| Введите Имя
						input(type="text" name="" required).form__input
					label.form__label.form__label--comb
						span.form__label-name
							span *
							| E-mail для связи
						input(type="email" name="" required).form__input
					label.form__label.form__label--comb
						span.form__label-name
							span *
							| Телефон
						input(type="tel" name="" required).form__input
					label.form__label.form__label--arrow
						input(type="text" name="" placeholder="Дата рождения" required).form__input.form__date
					.form__label.form__label--trigger
						span.form__label-name Пол
						label.form__label.form__label--check
							input(type="radio" name="gender" checked).form__check
							span.form__check-box.form__check-box--circle
							span.form__label-name Мужской
						label.form__label.form__label--check
							input(type="radio" name="gender").form__check
							span.form__check-box.form__check-box--circle
							span.form__label-name Женский
					label.form__label.form__label--comb.form__label--arrow
						span.form__label-name
							span *
							| Адрес доставки
						input(type="text" name="" required).form__input
					label.form__label.form__label--comb
						span.form__label-name
							span *
							| Подъезд, квартира, этаж
						input(type="text" name="" required).form__input
					label.form__label.form__label--comb
						span.form__label-name
							| Домофон, парковка, как добраться
						input(type="text" name="").form__input
					.form__main-check
						label.form__label.form__label--check
							input(type="checkbox" name="").form__check
							span.form__check-box
							span.form__label-name Подписаться на рассылку
					.form__info Нажимая кнопку, вы даете согласие на обработку ваших персональных данных.
						br
						a(href="#") Политика конфиденциальности
					.form__action.form__action--center.form__action--mtm
						button.btn сохранить данные