extends ../template/pug/layout

block content
	+breadcrumbs({
	"Промокоды": ""
	})

	.promo-banner(style="background-image:url(images/promo-banner__img.jpg);")
		.container
			.promo-banner__content
				.promo-banner__title
					| Подпишись <br>на промокоды
					span и получай СКИДКи!
				form.promo-banner__form
					input(type="email" name="" placeholder="Введите Ваш e-mail")
					button
						+icon('angle-right')

	.page-top.page-top--promo
		.container
			.page-top__line
				ul.page-top__links
					li
						a(href="#").page-top__link.active
							span.page-top__link-name Все промокоды
							span.page-top__link-val (352)
							+icon('long-arrow-down')
					li
						a(href="#").page-top__link
							span.page-top__link-name Действующие
							span.page-top__link-val (8)
							+icon('long-arrow-down')
					li
						a(href="#").page-top__link
							span.page-top__link-name Архивные
							span.page-top__link-val (345)
							+icon('long-arrow-down')
	
	.page-sort
		.container
			.page-sort__content
				.form__items
					label.form__label.form__label--check
						input(type="radio" name="rad1").form__check
						span.form__check-box.form__check-box--circle
						span.form__label-name Телятина
					label.form__label.form__label--check
						input(type="radio" name="rad1").form__check
						span.form__check-box.form__check-box--circle
						span.form__label-name Говядина
					label.form__label.form__label--check
						input(type="radio" name="rad1").form__check
						span.form__check-box.form__check-box--circle
						span.form__label-name Свинина
					label.form__label.form__label--check
						input(type="radio" name="rad1").form__check
						span.form__check-box.form__check-box--circle
						span.form__label-name Баранина
					label.form__label.form__label--check
						input(type="radio" name="rad1").form__check
						span.form__check-box.form__check-box--circle
						span.form__label-name Птица
					label.form__label.form__label--check
						input(type="radio" name="rad1").form__check
						span.form__check-box.form__check-box--circle
						span.form__label-name Все

	.promo-result
		.container
			.cards.cards--alt
				each object in main['card-promo']
					+card-promo(object)
				each object in main['card-promo']
					+card-promo(object)
				each object in main['card-promo']
					+card-promo(object)
			
			.cards-more.cards-more--mobile
				a(href="#")
					| Показать ещё
					+icon('long-arrow-down')
