extends ../template/pug/layout

block content
	+breadcrumbs({
	"Качество": ""
	})

	.quality
		.container
			.quality__content
				.quality__box
					.quality__box-title Качество продукции
					.quality__box-img
						img(src="images/quality__img-1.jpg", alt="")
					.quality__box-info
						.quality__box-text
							p Более 7 лет мы ответственно работаем вместе с несколькими тщательно отобранными фермерскими хозяйствами центральной части России и вместе производим по-настоящему лучшее мясо для наших покупателей по доступной цене.
							p Качество мяса напрямую зависит от того, что едят животные, поэтому наши партнеры-фермеры выращивают свои собственные корма, на собственной земле, чистой от пестицидов, в местах, где животные всегда могут свободно передвигаться по пастбищам так, как делают это в природе, и никогда не знакомятся ни с гормонами, ни с антибиотиками, ни со стимуляторами аппетита. Такое качество требует жизни без стресса и естественной диеты, а процесс выращивания здоровых животных не может быть поспешным. Результат – это лучшее в России мясо, выращенное со всей ответственностью, отобранное профессионалами и разделанное вручную нашими опытными мясниками. Каждый день нам поставляют свежее мясо исключительно молодых животных, которое наши мясники профессионально разделывают. 
				.quality__items
					.quality__col
						.quality__item
							.quality__item-pic
								+icon('mutton')
							.quality__item-title Баранина 
							.quality__item-text Наша гордость из Калмыкии, где мы владеем собственным возобновляемым стадом с более чем 2-х тысячным поголовьем и используем только молодых животных (ягнят) возрастом 6-8 месяцев. Натуральный травяной откорм, кристально чистая вода и раздолье бесснежной степи даже зимой - всё это создает идеальные условия для разведения нашей калмыцкой баранины.
						.quality__item
							.quality__item-pic
								+icon('meat')
							.quality__item-title Телятина 
							.quality__item-text Калужская область, Перемышльский район. Все наши телята питаются только натуральным кормом и молоком, поэтому мы по праву называем нашу телятину молочной. Собственное возобновляемое стадо.
					.quality__col
						.quality__item
							.quality__item-pic
								+icon('beef')
							.quality__item-title Говядина
							.quality__item-text Смоленская область, Велижский район. Эти живописные места вдохновили семью фермеров на выращивание скота экологически чистым способом. Молодая говядина производится на базе нашего собственного возобновляемого стада численностью более 100 голов. Используются только натуральные корма для животных - пшеница, ячмень, овес, которые не знакомы с гербицидами и удобрениями. Все выращивается на собственной земле, что гарантирует высокое качество мяса для вас - наших покупателей.
						.quality__item
							.quality__item-pic
								+icon('pork')
							.quality__item-title Свинина
							.quality__item-text Частные хозяйства по разведению беконной породы свиней в Курской, Белгородской и Рязанской областях.
					.quality__col
						.quality__item
							.quality__item-pic
								+icon('cooking')
							.quality__item-title Мраморная <br>Говядина 
							.quality__item-text от двух ведущих производителей премиальной мраморной говядины ПраймБиф (Воронежская область) и Мираторг (Брянская область).
						.quality__item
							.quality__item-pic
								+icon('bird')
							.quality__item-title Птица
							.quality__item-text поставляется нам из домашних хозяйств солнечного Краснодарского края, а также из Ленинградской области.

	.section.section--dark.section--quality
		.container
			.banner.banner--ferm.banner--revers.banner--page
				.banner__img
					img(src="images/banner__img-3.jpg", alt="")
				.banner__info
					.banner__title.banner__title--md гарантия качества 100%
					.banner__text Мясной № 1 предлагает только высококачественную продукцию. Но порой нелегко совершить покупку, когда все, что Вы имеете перед собой - это компьютер и красивая фотография с описанием. Что, если вы останетесь недовольны покупкой? Мы хотим быть уверены, в том, что вы остались довольны каждой покупкой в нашей мясной лавке Мясной № 1. Если вдруг вы остались неудовлетворены товаром, просто верните его в течение 14 дней в любом виде. Мы гарантируем немедленную 100% компенсацию. Пожалуйста, свяжитесь с нами, чтобы узнать о способах возврата.
					a(href="#").btn.banner__btn связаться с нами

			.quality-block
				.quality-block__title Официальная документация о качестве
				.quality-block__main Каждую поставку в наши магазины сопровождает специальный документ государственного образца - Ветеринарное свидетельство. Этот документ выдается государственным ветеринарным врачом, который выпускает товар животного происхождения к месту его реализации. В документе содержится информация о виде мяса, откуда и куда оно направляется, отметки о благополучии местности, каким лабораторным испытаниям подвергнуто мясо и с какими результатами, состояние транспортного средства и режима транспортировки. Все актуальные документы хранятся у нас в магазинах, где реализуется продукция и предоставляются по первому требованию покупателя.
			.quality-block
				.quality-block__title
					+icon('quality')
					| Ветеринарные свидетельства
				.quality-block__main
					.quality-block__list
						ul
							each name in ['Калмыцкая баранина','Калужская телятина','Смоленская говядина','Свинина','Субпродукты говяжьи','Стейк "Рибай" Праймбиф','Стейк "Нью-Йорк" Праймбиф','Стейк Денвер "Праймбиф"','Стейк Пиканья "Праймбиф"','Фарш из мраморной говядины "Праймбиф"','Мраморная говядина из Аргентины']
								li
									a(href="#")= name
						ul
							each name in ["Язычки бараньи","Кролик фермерский","Филе кролика","Ножки кролика","Лопатки кролика","Печень кролика","Продукция Су-вид \"Мясодел\"","Краснодарские домашние куры","Яйца куриные домашние","Куры птицефабрика Северная","Печень куриная","Сердечки куриные"]
								li
									a(href="#")= name
						ul
							each name in ["Желудки куриные","Индейка домашняя","Субпродукты индейки домашней","Индейка птицефабрика Евродон","Гусь и утка домашние","Утка промышленной выработки","Цесарка фермерская","Яйца цесарки фермерские","Перепелка фермерская","Яйца перепелиные фермерские","Нутрия фермерская","Соусы icancook"]
								li
									a(href="#")= name
			.quality-block
				.quality-block__title
					+icon('quality')
					| Декларации
				.quality-block__main
					.quality-block__line
						a(href="#") Полуфабрикаты мясные
						|  ТУ 10.13.14−001−0187049378-2017
					.quality-block__line
						a(href="#") Полуфабрикаты из мяса птицы
						|  ТУ 10.13.14−002−0187049378-2017

	.section
		.container
			.banner.banner--meat.banner--page
				.banner__info
					.banner__title партнерам
					.banner__text Благодаря высоком спросу на нашу продукцию мы стабильно удерживаем цены в периоды ажиотажных покупок (праздники).  А выбрав нас в качестве партнера по бизнесу Вы можете быть уверены в том, что получаете по-настоящему качественное мясо по всем правилам. 
					a(href="#").btn.banner__btn узнать подробнее 
				.banner__img
					img(src="images/banner__img-4.jpg", alt="")

			.quality-cont
				.quality-cont__main Все мясо мы привозим только в целых тушах. Никакой предварительной разделки на чужих базах, никаких вакуумных упаковок, никакой замороженной продукции.
				.quality-cont__items
					.quality-cont__item
						.quality-cont__item-title Только качественная кулинария и полуфабрикаты
						.quality-cont__item-text Наша кулинария производится из того же высококачественного охлажденного мяса с добавлением только натуральных ингредиентов. Используются только натуральные  специи  для производства котлет и колбасок для гриля. В состав наших полуфабрикатов входит только свежее мясо, специи, свежие овощи и зелень, поэтому срок их реализации составляет всего 24 часа и мы изготавливаем их индивидуально, под каждый заказ.
					.quality-cont__item
						.quality-cont__item-title Правильное хранение и транспортировка
						.quality-cont__item-text Правильное хранение мяса возможно только в особых условиях — и мы об этом позаботились. Мы тщательно следим за тем, чтобы то, что Вы выберете в нашем интернет-магазине, будет доставлено в специализированном охлаждённом контейнере, где мясо сохраняет первую свежесть. Мы с трепетом следим за качеством поставляемого мяса. Контроль осуществляется не только на складах, но и на стадиях выращивания, забоя и транспортировки. Автомобили, принимающие участие в перевозке охлажденного мяса, оборудованы холодильными установками для поддержания строгого температурного режима. Мы методично и скрупулезно делаем все, чтобы донести до конечного потребителя всю природную свежесть и пользу охлаждённого мяса.


