extends ../template/pug/layout

block content
	+breadcrumbs({
	"Результат поиска": ""
	})

	.page-top
		.container
			.page-top__line
				.page-top__title
					| Результаты поиска “Ребра”
					+icon('long-arrow-down')
			.page-top__text По вашему запросу найдены товары в категориях (кол-во результатов 8):
			ul.page-btns
				each name in ["Мясо","Птица","Кулинария и шашлык"]
					li
						a(href="#")= name

	.search
		.container
			.cards
				- for ( var i = 1; i <= 8; i++ ) {
					+card(main.card.catalog[i])
				- }