.breadcrumbs {
	margin-top: 23px;
	margin-bottom: 43px;

	@include media( map-get( $media, md ) ) {
		margin-bottom: 26px;
	}

	@include media( map-get( $media, sm ) ) {
		margin-top: 11px;
	}
	
	ul {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: -8px;
		margin-right: -6px;

		@include media( map-get( $media, sm ) ) {
			margin-right: -8px;
		}
	}

	li {
		position: relative;
		font-weight: 300;
		font-size: 15px;
		line-height: 17px;
		padding-right: 20px;
		margin-right: 6px;
		margin-bottom: 8px;

		@include media( map-get( $media, md ) ) {
			font-size: 12px;
			line-height: 14px;
			padding-right: 15px;
			margin-right: 8px;
		}

		&:after {
			content: ">";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			margin-top: -2px;
			right: 0;
			color: rgba(75, 16, 0, 0.3);

			@include media( map-get( $media, sm ) ) {
				margin: 0;
			}
		}

		&:last-child {
			
			&:after {
				display: none;
			}
		}
	}

	a {
		color: #AA282C;

		&:hover {

			@include media( map-get( $media-min, lg ), 'min' ) {
				text-decoration: underline;
			}
		}
	}

	span {		
		color: rgba(75, 16, 0, 0.3);
	}
}