mixin breadcrumbs(object)
	.breadcrumbs
		.container
			ul
				li
					a(href="index.html") Главная
				each isLink,name in object
					li
						if isLink
							a(href="#")= name
						else
							span= name