$icon_font_name:"iconFont";

@font-face {
  font-family:$icon_font_name;
  src: url('../fonts/iconFont.eot');
  src: url('../fonts/iconFont.eot?#iefix') format('eot'),
  url('../fonts/iconFont.woff') format('woff'),
  url('../fonts/iconFont.ttf') format('truetype'),
  url('../fonts/iconFont.svg#iconFont') format('svg');
}

%icon-address,
%icon-angle-left-alt,
%icon-angle-left,
%icon-angle-right-alt,
%icon-angle-right,
%icon-bag,
%icon-basket,
%icon-beef,
%icon-bird,
%icon-boxs,
%icon-burger-alt,
%icon-burger,
%icon-clock,
%icon-close,
%icon-cooking,
%icon-delicacies,
%icon-eye,
%icon-facebook,
%icon-filter,
%icon-fixed,
%icon-hat,
%icon-heart-full,
%icon-heart,
%icon-instagram,
%icon-like,
%icon-lines,
%icon-list,
%icon-long-arrow-down,
%icon-long-arrow-left,
%icon-long-arrow-right,
%icon-long-arrow-up,
%icon-meat,
%icon-mutton,
%icon-odn,
%icon-pork,
%icon-present,
%icon-quality,
%icon-rabbit,
%icon-search,
%icon-share,
%icon-spices,
%icon-star-full,
%icon-star,
%icon-telegram,
%icon-user-alt,
%icon-user,
%icon-vk,
%icon-youtube,
%last_selector {
    &:before {
      font-family:$icon_font_name;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      text-decoration: none;
      text-transform: none;
    }
  }

%icons_before_after {
  &:before,
  &:after {
    font-family: $icon_font_name;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

%icons_after {
  &:after {
    font-family: $icon_font_name;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

%icon-address:before {
  content:'\E001';
}
%icon-angle-left-alt:before {
  content:'\E002';
}
%icon-angle-left:before {
  content:'\E003';
}
%icon-angle-right-alt:before {
  content:'\E004';
}
%icon-angle-right:before {
  content:'\E005';
}
%icon-bag:before {
  content:'\E006';
}
%icon-basket:before {
  content:'\E007';
}
%icon-beef:before {
  content:'\E008';
}
%icon-bird:before {
  content:'\E009';
}
%icon-boxs:before {
  content:'\E00A';
}
%icon-burger-alt:before {
  content:'\E00B';
}
%icon-burger:before {
  content:'\E00C';
}
%icon-clock:before {
  content:'\E00D';
}
%icon-close:before {
  content:'\E00E';
}
%icon-cooking:before {
  content:'\E00F';
}
%icon-delicacies:before {
  content:'\E010';
}
%icon-eye:before {
  content:'\E011';
}
%icon-facebook:before {
  content:'\E012';
}
%icon-filter:before {
  content:'\E013';
}
%icon-fixed:before {
  content:'\E014';
}
%icon-hat:before {
  content:'\E015';
}
%icon-heart-full:before {
  content:'\E016';
}
%icon-heart:before {
  content:'\E017';
}
%icon-instagram:before {
  content:'\E018';
}
%icon-like:before {
  content:'\E019';
}
%icon-lines:before {
  content:'\E01A';
}
%icon-list:before {
  content:'\E01B';
}
%icon-long-arrow-down:before {
  content:'\E01C';
}
%icon-long-arrow-left:before {
  content:'\E01D';
}
%icon-long-arrow-right:before {
  content:'\E01E';
}
%icon-long-arrow-up:before {
  content:'\E01F';
}
%icon-meat:before {
  content:'\E020';
}
%icon-mutton:before {
  content:'\E021';
}
%icon-odn:before {
  content:'\E022';
}
%icon-pork:before {
  content:'\E023';
}
%icon-present:before {
  content:'\E024';
}
%icon-quality:before {
  content:'\E025';
}
%icon-rabbit:before {
  content:'\E026';
}
%icon-search:before {
  content:'\E027';
}
%icon-share:before {
  content:'\E028';
}
%icon-spices:before {
  content:'\E029';
}
%icon-star-full:before {
  content:'\E02A';
}
%icon-star:before {
  content:'\E02B';
}
%icon-telegram:before {
  content:'\E02C';
}
%icon-user-alt:before {
  content:'\E02D';
}
%icon-user:before {
  content:'\E02E';
}
%icon-vk:before {
  content:'\E02F';
}
%icon-youtube:before {
  content:'\E030';
}


.icon:before {
  font-family: $icon_font_name;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

.icon-address:before {
  content:'\E001';
}
.icon-angle-left-alt:before {
  content:'\E002';
}
.icon-angle-left:before {
  content:'\E003';
}
.icon-angle-right-alt:before {
  content:'\E004';
}
.icon-angle-right:before {
  content:'\E005';
}
.icon-bag:before {
  content:'\E006';
}
.icon-basket:before {
  content:'\E007';
}
.icon-beef:before {
  content:'\E008';
}
.icon-bird:before {
  content:'\E009';
}
.icon-boxs:before {
  content:'\E00A';
}
.icon-burger-alt:before {
  content:'\E00B';
}
.icon-burger:before {
  content:'\E00C';
}
.icon-clock:before {
  content:'\E00D';
}
.icon-close:before {
  content:'\E00E';
}
.icon-cooking:before {
  content:'\E00F';
}
.icon-delicacies:before {
  content:'\E010';
}
.icon-eye:before {
  content:'\E011';
}
.icon-facebook:before {
  content:'\E012';
}
.icon-filter:before {
  content:'\E013';
}
.icon-fixed:before {
  content:'\E014';
}
.icon-hat:before {
  content:'\E015';
}
.icon-heart-full:before {
  content:'\E016';
}
.icon-heart:before {
  content:'\E017';
}
.icon-instagram:before {
  content:'\E018';
}
.icon-like:before {
  content:'\E019';
}
.icon-lines:before {
  content:'\E01A';
}
.icon-list:before {
  content:'\E01B';
}
.icon-long-arrow-down:before {
  content:'\E01C';
}
.icon-long-arrow-left:before {
  content:'\E01D';
}
.icon-long-arrow-right:before {
  content:'\E01E';
}
.icon-long-arrow-up:before {
  content:'\E01F';
}
.icon-meat:before {
  content:'\E020';
}
.icon-mutton:before {
  content:'\E021';
}
.icon-odn:before {
  content:'\E022';
}
.icon-pork:before {
  content:'\E023';
}
.icon-present:before {
  content:'\E024';
}
.icon-quality:before {
  content:'\E025';
}
.icon-rabbit:before {
  content:'\E026';
}
.icon-search:before {
  content:'\E027';
}
.icon-share:before {
  content:'\E028';
}
.icon-spices:before {
  content:'\E029';
}
.icon-star-full:before {
  content:'\E02A';
}
.icon-star:before {
  content:'\E02B';
}
.icon-telegram:before {
  content:'\E02C';
}
.icon-user-alt:before {
  content:'\E02D';
}
.icon-user:before {
  content:'\E02E';
}
.icon-vk:before {
  content:'\E02F';
}
.icon-youtube:before {
  content:'\E030';
}