html {
	font-size: map-get($font, size);
	line-height: map-get($font, lineHeight);
	height: 100%;

	@include media( map-get( $media, md ) ) {
		font-size: 12px;
		line-height: 14px;
	}
}

body {
	font-family: map-get($ff, main), Arial, sans-serif;
	font-weight: map-get($font, weight);
	background-color: map-get($color, bg);
	color: map-get($color, text);
	min-width: 320px;
	height: 100%;

	&.mob-menu-opened {

		@include media( map-get( $media, lg ) ) {
			overflow: hidden;

			.header {
				display: block;
			}

			.tpd-tooltip {
				display: none !important;
			}
		}
	}
}

.hidden {
	display: none;
}

p {
	margin-bottom: 18px;

	@include media( map-get( $media, md ) ) {
		margin-bottom: 10px;
	}

	&:last-child {
		margin-bottom: 0;
	}

	a {
		text-decoration: underline;
		color: inherit;

		&:hover {
			text-decoration: none;
			color: map-get($color, accent);
		}
	}
}

a {
	color: inherit;

	&:hover {
		
		@include media( map-get( $media-min, lg ), 'min' ) {
			color: map-get( $color, accent );
		}
	}
}
