.wrapper {
	width: 100%;
	overflow: hidden;

	@supports (flex-direction: column) {
		display: flex;
		flex-direction: column;
		min-height: 100%;
	}
}

.content {
	flex: 1;
	padding-top: 205px;

	@include media( map-get( $media-min, lg ), 'min' ) {	
		position: relative;
		
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 205px;
			background: #AA282C;
			z-index: -1;
		}
	}

	@include media( map-get( $media, lg ) ) {
		padding-top: 46px;
	}
}

.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 map-get( $margin, alt );

	@include media( map-get( $media, md ) ) {

		& + .section--slider {
			margin-top: 0;
			margin-bottom: 20px;
		}
	}

	&--full {
		padding: 0 map-get($margin, main);
		max-width: 100%;

		@include media( map-get( $media, big ) ) {
			padding: 0 map-get( $margin, alt );
		}
	}
}