@mixin media($val, $type: false) {
	@if $type {
		$type: "min-width: ";
	}
	@else {
		$type: "max-width: ";
	}
	@media ($type + $val) {
		@content
	}
}

@mixin placeholder($color) {
	&::placeholder {
		color: $color;
	}
}

@mixin row($num) {
	display: flex;
	flex-wrap: wrap;
	margin-left: $num;
	margin-right: $num;
}

@mixin row-m($num) {
	margin-left: $num;
	margin-right: $num;
}

@mixin col($a,$b:false) {
  @if $b {
    $b: (100 / $b) * $a + "%";
  }
  @else {
    $b: $a;
  }
  width: $b;
  max-width: $b;
  flex: 0 0 $b;
}