
.slick-arrow {
	position: absolute;
	z-index: 10;
	top: 50%;
	transform: translateY(-50%);
	width: 138px;
	height: 138px;
	background: #AA282C;
	color: #fff;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0.8;
	font-size: 34px;

	@include media( map-get( $media, md ) ) {
		width: 66px;
		height: 66px;
		font-size: 17px;
	}
}

.slick-prev {
	left: -90px;
	justify-content: flex-end;
	padding-right: 17px;

	@include media( map-get( $media, md ) ) {
		left: -40px;
		padding-right: 9px;
	}
}

.slick-next {
	right: -90px;
	justify-content: flex-start;
	padding-left: 17px;

	@include media( map-get( $media, md ) ) {
		right: -40px;
		padding-left: 9px;
	}
}

.slick-dots {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: trnaslateX(-50%);
	display: flex;
	justify-content: center;
}

/******************* SCROLLBAR *******************/
.scroll-element.scroll-y.scroll-scrolly_visible {
	background: rgba(#9E2828,.3);
	cursor: pointer;
	position: absolute;
	height: 100%;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	width: 4px;
	border-radius: 0px;
 }
 
 .prof-box__res .scroll-element.scroll-y.scroll-scrolly_visible {
	right: 0;
 }
 
 .scroll-element.scroll_y.scroll-scrolly_visible div {
	  height: 100%;
	  left: 0;
	  top: 0;
	  position: absolute;
	  width: 100%;
 }
 
 .scroll-element.scroll-y.scroll-scrolly_visible .scroll-bar {
	  background: #890307;
	  z-index: 12;
	//   height: 125px;
	  border-radius: 0px !important;
	  cursor: pointer;
 }

 .scroll-element.scroll-x.scroll-scrollx_visible {
	background: transparent;
	cursor: pointer;
	position: absolute;
	height: 5px;
	width: 100%;
	border-radius: 0px;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
 }
 .scroll-element.scroll_x.scroll-scrollx_visible div {
	  height: 100%;
	  left: 0;
	  top: 0;
	  position: absolute;
	  width: 100%;
 }

 .scroll-element.scroll-x.scroll-scrollx_visible .scroll-bar {
	background: #C9B7B3;
	width: 92px !important;
 }



.jq-selectbox {

	&:hover {
		box-shadow: none;
	}

	&:active {
		outline: none;
	}
}

.jq-selectbox {
	width: 100%;
	font-family: map-get( $ff, main );
	font-size: 14px;

	&:hover,
	&.focused,
	&:focus {

		.jq-selectbox__select {
			box-shadow: none;
			background: #ffff;
			border: none;
			outline: none;
		}
	}
}

.jq-selectbox__select {
	box-shadow: none;
	background: transparent;
	outline: none;
	border: none;
	padding: 0 15px 0 0;
	min-width: 150px;
}

.jq-selectbox__select-text {
	
	&.placeholder {
		color: #5F5F5F;
		color: rgba(75, 16, 0, 0.4);
	}
}

.jq-selectbox__trigger {
	border: none;
	height: 100%;
	width: 15px;
}

.jq-selectbox__trigger-arrow {
	right: 0;
	border-top-color: #4B1000;
}

.jq-selectbox__dropdown {
	box-shadow: none;
	border-radius: 0;
	border: none;

	ul {}

	li {
		background: #FFFFFF;
		border: 1px solid #E4DBD9;
		border-bottom: none;
		font-size: 14px;
		line-height: 200%;
		padding: 5px 35px 5px 10px;
		position: relative;
		color: rgba(75, 16, 0, 0.6);
		cursor: pointer;
		border-radius: 2px;

		@include media( map-get( $media, md ) ) {
			font-size: 12px;
		}

		&:last-child {
			border-bottom: 1px solid #E4DBD9;
		}

		&:hover {
			font-weight: bold;
			background: #FFFFFF;
			color: inherit;
		}

		&.sel {
			display: none;
		}
	}
}


.datepicker--nav {
	border-bottom: none;
}

.datepicker {
	width: 283px;
}



.fancybox-slide--html {
	padding-left: 0;
	padding-right: 0;
}
.fancybox-bg {
	background: rgba(100, 85, 81, 0.5);
}
.fancybox-button.fancybox-close-small {
	top: 17px;
	right: 22px;
	padding: 0;
	width: 17px;
	height: 17px;
	opacity: 1;

	@include media( map-get( $media, md ) ) {
		top: 9px;
		right: 13px;
	}

	&:after,
	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		height: 1px;
		background: #fff;
	}

	&:after {
		transform: translate(-50%,-50%) rotate(45deg);
	}

	&:before {
		transform: translate(-50%,-50%) rotate(-45deg);
	}

	svg {
		display: none;
	}
}


.tpd-content {
	padding: 7px 14px !important;
}
.tpd-content-spacer {
	// box-shadow: 0px 0px 15px rgba(75, 16, 0, 0.4) !important;
}

.tpd-tooltip {
	@include media( map-get( $media, md ) ) {
		// display: none !important;
	}
}

.datepicker--nav-title {
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	color: #AA282C;

	i {
		// display: none;
	}
}

.datepicker--days-names {
	margin: 0 11px;
	padding: 2px;
	border-top: 1px solid rgba(75, 16, 0, 0.2);
	border-bottom: 1px solid rgba(75, 16, 0, 0.2);
}

.datepicker--day-name {
	font-size: 14px;
	line-height: 16px;
	text-transform: lowercase;
	color: rgba(75, 16, 0, 0.4);
}

.datepicker--cell.datepicker--cell-day {
	font-size: 14px;
	line-height: 18px;
	color: #4B1000;
	border-radius: 50%;
	width: 38px;
	height: 38px;

	&.-disabled- {
		color: rgba(75, 16, 0, 0.4);
	}

	&.-selected- {
		background: #AA282C;
		color: #fff;
	}
}

.datepicker--nav {
	padding-bottom: 0;
	padding-top: 12px;
}

.datepicker--nav-action path {
	stroke: #AA282C;
}

.datepicker.active {
	@include media( map-get( $media, min ) ) {
		left: 15px !important;
	}
}