include ../../blocks/header/header
include ../../blocks/footer/footer
include ../../blocks/btn/btn
include ../../blocks/icon/icon
include ../../blocks/logo/logo
include ../../blocks/burger/burger
include ../../blocks/popup/popup
include ../../blocks/form/form
include ../../blocks/title/title
include ../../blocks/text/text
include ../../blocks/phone-box/phone-box
include ../../blocks/social/social
include ../../blocks/promo/promo
include ../../blocks/nav/nav
include ../../blocks/search-box/search-box
include ../../blocks/menu/menu
include ../../blocks/pic/pic
include ../../blocks/main-slider/main-slider
include ../../blocks/breadcrumbs/breadcrumbs
include ../../blocks/page/page
include ../../blocks/inner/inner
include ../../blocks/sort/sort
include ../../blocks/filter/filter
include ../../blocks/cards/cards
include ../../blocks/card/card
include ../../blocks/custom-select/custom-select
include ../../blocks/counter/counter
include ../../blocks/section/section
include ../../blocks/card-slider/card-slider
include ../../blocks/stars/stars
include ../../blocks/deliv/deliv
include ../../blocks/category/category
include ../../blocks/info/info
include ../../blocks/banner/banner
include ../../blocks/blog/blog
include ../../blocks/post/post
include ../../blocks/contacts/contacts
include ../../blocks/item/item
include ../../blocks/tooltip/tooltip
include ../../blocks/tabs/tabs
include ../../blocks/card-promo/card-promo
include ../../blocks/order/order
include ../../blocks/quality/quality
include ../../blocks/orders/orders
include ../../blocks/basket/basket
include ../../blocks/card-alt/card-alt
include ../../blocks/popup-callback/popup-callback
include ../../blocks/popup-login/popup-login
include ../../blocks/popup-new/popup-new
include ../../blocks/popup-success/popup-success
include ../../blocks/popup-added/popup-added
include ../../blocks/popup-alert/popup-alert
include ../../blocks/popup-favorite/popup-favorite
