block vars
include blocks

doctype html
html(lang="ru")
	include head

	body
		.wrapper
			+header()
			main.content
				block content
			+footer()
			.hidden
				+popup-callback()
				+popup-login()
				+popup-new()
				+popup-success()
				+popup-added()
				+popup-favorite()
				+popup-alert()
				block popup
		script(src="js/main.js")
		block script