.orders {
	@include media( map-get( $media-min, lg ), 'min' ) {
		margin-bottom: 150px;
	}

	@include media( map-get( $media, lg ) ) {
		margin-bottom: 30px;
	}

	&-item {

		@include media( map-get( $media, sm ) ) {

			&:first-child {
				border-top: 1px solid rgba(75, 16, 0, 0.2);
			}
		}

		&.active {

			@include media( map-get( $media, sm ) ) {
				background: #F3ECEA;
				margin-left: -15px;
				margin-right: -15px;
				margin-top: -1px;
				padding-top: 1px;
				position: relative;

				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 15px;
					right: 15px;
					border-top: 1px solid #fff;
				}

				&:first-child {
					border-top: none;

					&:before {
						display: none;
					}
				}
			}

			.orders-item__top {
				padding-bottom: 7px;

				@include media( map-get( $media, sm ) ) {
					border-bottom-color: transparent;
					margin-left: 15px;
					margin-right: 15px;
					flex-wrap: wrap;
					padding-top: 19px;
				}

				&:after {
					transform: rotate(180deg);

					@include media( map-get( $media, sm ) ) {
						top: 20px;
					}
				}
			}

			.orders-item__content {
				display: block;
				margin-bottom: 40px;

				@include media( map-get( $media, sm ) ) {
					padding: 1px 15px 118px;
					margin-bottom: 10px;
				}
			}

			.orders-item {

				@include media( map-get( $media, sm ) ) {

					&__num {
						font-weight: 500;
					}

					&__date {
						min-width: 50%;
						margin-right: 0;
						font-weight: 500;
					}

					&__status,
					&__price {
						display: block;
						margin-top: 12px;
						height: 28px;
						font-size: 16px;
						line-height: 19px;
						display: flex;
						align-items: center;
						padding-left: 19px;
						padding-right: 19px;
					}

					&__status {
						width: 63%;
						max-width: 63%;
						flex: 0 0 63%;
					}
					
					&__price {
						width: 37%;
						max-width: 37%;
						flex: 0 0 37%;
						margin-right: 0;
						background: #AA282C;
						color: #fff;
						font-weight: 500;
					}
				}
			}
		}

		&__top {
			display: flex;
			align-items: baseline;
			padding-right: 21px;
			position: relative;
			cursor: pointer;
			padding: 19px 0;
			border-bottom: 1px solid rgba(75, 16, 0, 0.2);

			@include media( map-get( $media, sm ) ) {
				padding: 14px 0;
			}

			&:after {
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 0;
				border-top: 7px solid #4B1000;
				border-right: 6px solid transparent;
				border-left: 6px solid transparent;

				@include media( map-get( $media, sm ) ) {
					border-top: 4px solid #4B1000;
					border-right: 4px solid transparent;
					border-left: 4px solid transparent;
					right: 10px;
				}
			}
		}

		&__num {
			font-size: 28px;
			line-height: 32px;
			text-transform: uppercase;
			margin-right: 6px;
			color: #4B1000;

			@include media( map-get( $media, sm ) ) {
				font-size: 15px;
				line-height: 17px;
			}
		}

		&__date {
			font-size: 20px;
			line-height: 23px;
			text-transform: uppercase;
			margin-right: 19px;
			color: #4B1000;

			@include media( map-get( $media, sm ) ) {
				font-size: 12px;
				line-height: 14px;
			}
		}

		&__status {
			border-radius: 2px;
			height: 36px;
			display: flex;
			align-items: center;
			padding: 0 16px;
			text-transform: uppercase;
			font-size: 20px;
			color: #FFFFFF;
			background: rgba(75, 16, 0, 0.3);

			@include media( map-get( $media, sm ) ) {
				display: none;
			}

			&--green {
				background: #93C030;
			}
		}

		&__price {
			margin-left: auto;
			width: 125px;
			font-weight: 500;
			font-size: 25px;
			line-height: 29px;
			font-family: map-get( $ff, alt );
			color: #AA282C;
			margin-right: 25px;

			@include media( map-get( $media, sm ) ) {
				display: none;
			}
		}

		&__content {
			background: #FFFFFF;
			border: 1px solid rgba(75, 16, 0, 0.15);
			border-top: none;
			display: none;

			@include media( map-get( $media, sm ) ) {
				border: none;
				background: #F3ECEA;
			}
		}

		&__info {
			background: #F3ECEA;
			padding: 18px 24px 24px 35px;

			@include media( map-get( $media, sm ) ) {
				padding: 0;
				margin-bottom: 23px;
			}

			&-top {
				display: flex;
				flex-wrap: wrap;
				margin-bottom: 13px;

				@include media( map-get( $media, sm ) ) {
					display: block;
					margin-bottom: 22px;
				}
			}

			&-box {
				font-weight: 500;
				font-size: 16px;
				line-height: 18px;
				color: #4B1000;
				display: flex;
				margin-right: 17px;

				@include media( map-get( $media, sm ) ) {
					margin-right: 0;
					margin-bottom: 4px;
					font-weight: 400;
					font-size: 12px;
					min-height: 18px;
					align-items: center;
					position: relative;

					&:last-child {
						margin-bottom: 0;
					}
				}

				&:last-child {
					margin-right: 0;
				}

				span {
					display: inline-block;
					margin-left: 8px;
					background: #FFFFFF;
					height: 20px;
					display: flex;
					align-items: center;
					padding: 0 12px;
					line-height: 1;
					font-size: 13px;
					color: rgba(75, 16, 0, 0.7);

					@include media( map-get( $media, sm ) ) {
						position: absolute;
						top: 0;
						left: 62px;
						height: 18px;
						font-size: 11px;
						padding: 0 10px;
						margin-left: 0;
					}
				}
			}

			&-main {
				display: flex;
				align-items: flex-start;

				@include media( map-get( $media, sm ) ) {
					display: block;
				}
			}

			&-block {
				flex: 1;

				@include media( map-get( $media, sm ) ) {
					padding-right: 30px;
				}
			}

			&-line {
				margin-bottom: 2px;
				font-size: 13px;
				line-height: 1;
				color: rgba(75, 16, 0, 0.7);

				@include media( map-get( $media, sm ) ) {
					font-size: 11px;
					line-height: 13px;
				}

				&:last-child {
					margin-bottom: 0;
				}

				.icon {
					font-size: 15px;
					color: #AA282C;
					vertical-align: middle;
					margin-left: -3px;

					@include media( map-get( $media, sm ) ) {
						font-size: 13px;
					}

					&-address {
						font-size: 19px;

						@include media( map-get( $media, sm ) ) {
							font-size: 15px;
						}
					}

					&-clock {
						@include media( map-get( $media, sm ) ) {
							margin-left: 0;
						}
					}
				}
			}

			&-btn {
				margin-left: 60px;

				@include media( map-get( $media, sm ) ) {
					margin-left: 0;
					position: absolute;
					bottom: 38px;
					left: 15px;
					right: 15px;
				}

				.btn {
					width: 176px;
					height: 39px;
					font-size: 15px;
					white-space: nowrap;
					justify-content: center;

					@include media( map-get( $media, sm ) ) {
						width: 100%;
						height: 48px;
						font-weight: 500;
						font-size: 15px;
						padding-left: 30px;

						&:after {
							content: '';
							display: block;
							width: 47px;
							height: 42px;
							background: url('../images/hand.png');
							background-repeat: no-repeat;
							background-position: center;
						}
					}
				}
			}
		}

		&__items {
			padding: 30px 35px 35px;

			@include media( map-get( $media, sm ) ) {
				padding: 0;
			}
		}

		&__item {
			display: flex;
			padding-bottom: 27px;
			border-bottom: 1px solid rgba(75, 16, 0, 0.2);
			margin-bottom: 34px;

			@include media( map-get( $media, sm ) ) {
				display: block;
				padding-left: 76px;
				position: relative;
				font-size: 0;
				padding-bottom: 15px;
				margin-bottom: 22px;
			}

			&:last-child {
				margin-bottom: 0;
				padding-bottom: 0;
				border-bottom: none;
			}

			&-img {
				margin-right: 25px;
				width: 88px;
				min-width: 88px;
				height: 88px;
				display: flex;
				align-items: center;
				justify-content: center;

				@include media( map-get( $media, sm ) ) {
					width: 60px;
					height: 60px;
					min-width: 60px;
					position: absolute;
					top: 0;
					left: 0;
				}

				img {
					display: block;
					max-width: 100%;
					max-height: 100%;
				}
			}

			&-info {
				flex: 1;
			}

			&-title {
				font-size: 18px;
				line-height: 21px;
				color: #4B1000;
				margin-bottom: 7px;
				margin-top: -5px;

				@include media( map-get( $media, sm ) ) {
					font-size: 12px;
					line-height: 14px;
					margin-top: 0;
				}

				a {
					&:hover {

						@include media( map-get( $media-min, lg ), 'min' ) {
							text-decoration: underline;
						}
					}
				}
			}

			&-price {
				font-weight: 500;
				font-size: 20px;
				line-height: 23px;
				font-family: map-get( $ff, alt );
				color: #AA282C;
				margin-bottom: 7px;

				@include media( map-get( $media, sm ) ) {
					font-size: 17px;
					margin-bottom: 4px;
				}
			}

			&-stats {
				font-size: 15px;
				line-height: 17px;
				color: rgba(75, 16, 0, 0.7);

				li {
					margin-bottom: 4px;

					@include media( map-get( $media, sm ) ) {
						font-size: 12px;
						line-height: 14px;

						&:before {
							content: '+';
							display: inline-block;
							margin-right: 4px;
						}
					}

					&:last-child {
						margin-bottom: 0;
					}
				}
			}

			&-dop {
				display: none;

				@include media( map-get( $media, sm ) ) {
					font-family: map-get( $ff, alt );
					font-weight: normal;
					font-size: 16px;
					line-height: 19px;
					color: #4B1000;
					display: inline-flex;
					background: #fff;
					height: 41px;
					align-items: center;
					padding-left: 13px;
					min-width: 171px;
					margin-bottom: 9px;

					span {
						font-size: 17px;
						font-weight: 500;
						margin-left: 6px;
					}
				}
			}

			&-val {
				width: 65px;
				flex: 0 0 65px;
				max-width: 65px;
				white-space: nowrap;
				font-weight: 300;
				font-size: 22px;
				line-height: 25px;
				letter-spacing: -0.05em;
				color: #4B1000;
				margin-left: 30px;

				@include media( map-get( $media, sm ) ) {
					margin-left: 0;
					width: auto;
					max-width: 100%;
					background: #fff;
					height: 41px;
					display: inline-flex;
					align-items: center;
					font-size: 16px;
					padding-left: 13px;
					margin-top: 12px;
					margin-bottom: 9px;
					display: none;

					&:after {
						content: '/';
						display: inline-block;
						margin: 0 5px;
					}
				}

			}

			&-summa {
				width: 119px;
				flex: 0 0 119px;
				max-width: 119px;
				margin-left: 60px;
				font-weight: 500;
				font-size: 25px;
				line-height: 29px;
				font-family: map-get( $ff, alt );
				color: #4B1000;
				white-space: nowrap;

				@include media( map-get( $media, sm ) ) {
					margin-left: 0;
					width: auto;
					max-width: 100%;
					background: #fff;
					height: 41px;
					display: inline-flex;
					align-items: center;
					font-size: 16px;
					min-width: 98px;
					margin-top: 12px;
					margin-bottom: 9px;
					display: none;
				}
			}
		}
	}
}