mixin card-promo(object)
	.card-promo
		.card__view
			.card__sale Акция
			a(href="#").card__img
				img(src="images/" + object.imgName, alt="")
		.card-promo__info
			.card-promo__title
				a(href="#")= object.title
			.card-promo__line
				.card-promo__sale= object.sale
				.card-promo__date= object.date
			.card-promo__text
				= object.text
				span
					b Купоны и подарки не суммируются.
			.card-promo__bottom
				.card-promo__code= object.code
				.card-promo__btn-wrap
					button.btn.card-promo__btn Скопировать
				button.share(title="Поделиться").js-tooltip
					+icon('share')
				.share-drop
					form.share-drop__cont
						input(type="email" name="" placeholder="Введите e-mail")
						button
							+icon('telegram')