.card-promo {

	@supports (flex-direction: column) {
		display: flex;
		flex-direction: column;
	}

	.card__view {

		&:before {
			padding-top: 100%;
		}
	}

	&__info {
		margin-top: 18px;

		@include media( map-get( $media, sm ) ) {
			margin-top: 7px;
		}

		@supports (flex-direction: column) {
			flex: 1;
			display: flex;
			flex-direction: column;
		}
	}

	&__title {
		margin-bottom: 15px;
		font-size: 16px;
		line-height: 18px;

		@include media( map-get( $media, md ) ) {
			font-size: 11px;
			line-height: 13px;
		}

		@supports (flex-direction: column) {
			@include media( map-get( $media, md ) ) {
				margin-bottom: auto;
			}
		}

		a {
			text-decoration-line: underline;
			color: #4B1000;

			&:hover {
				@include media( map-get( $media-min, lg ), 'min' ) {
					text-decoration: none;
				}
			}
		}
	}

	&__line {
		display: flex;
		align-items: center;
		margin-bottom: 12px;

		@include media( map-get( $media, md ) ) {
			display: block;
			margin-top: 8px;
			margin-bottom: 10px;
		}
	}

	&__sale {
		background: #EFC059;
		border-radius: 2px;
		height: 28px;
		display: flex;
		align-items: center;
		line-height: 1;
		font-weight: 500;
		font-size: 20px;
		font-family: map-get( $ff, alt );
		color: #FFFFFF;
		padding: 0 8px;
		margin-right: 12px;

		@include media( map-get( $media, md ) ) {
			display: inline-flex;
			font-size: 13px;
			line-height: 15px;
			margin-right: 0;
			height: 18px;
			padding: 0 6px;
		}

	}

	&__date {
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		font-family: map-get( $ff, alt );
		color: #AA282C;

		@include media( map-get( $media, md ) ) {
			font-size: 12px;
			line-height: 14px;
			margin-top: 3px;
		}
	}

	&__text {
		font-size: 13px;
		line-height: 15px;
		color: rgba(75, 16, 0, 0.7);
		margin-bottom: 18px;

		@include media( map-get( $media, md ) ) {
			font-size: 10px;
			line-height: 11px;
			margin-bottom: 13px;
		}

		span {
			display: block;
		}
	}

	&__bottom {
		display: flex;
		align-items: center;
		position: relative;

		@supports (flex-direction: column)  {
			margin-top: auto;

			@include media( map-get( $media, md ) ) {
				margin-top: 0;
			}
		}

		@include media( map-get( $media, lg ) ) {
			flex-wrap: wrap;

			& > * {
				margin-bottom: 10px;
			}
		}
	}

	&__code {
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		text-transform: uppercase;
		font-family: map-get( $ff, alt );
		color: rgba(75, 16, 0, 0.7);
		margin-right: 8px;

		@include media( 1439px ) {
			font-size: 14px;
		}

		@include media( map-get( $media, lg ) ) {
			order: 1;
		}

		@include media( map-get( $media, md ) ) {
			font-size: 12px;
			line-height: 14px;
		}
	}

	&__btn {
		background: #BFA8A2;
		height: 32px;
		font-size: 13px;
		padding: 0 15px;
		margin-left: 10px;

		@include media( 1439px ) {
			padding: 0 10px;
		}

		@include media( map-get( $media, md ) ) {
			text-transform: none;
			background: #BFA8A2;
			height: 27px;
			padding: 0 16px;
			font-weight: 400 !important;
			font-size: 13px !important;
		}

		@include media( map-get( $media, sm ) ) {
			text-transform: none;
			background: #BFA8A2;
		}

		&-wrap {

			@include media( map-get( $media, lg ) ) {
				order: 3;
				flex: 0 0 100%;
				margin-bottom: 0;
			}
		}

		@include media( map-get( $media, lg ) ) {
			margin-left: 0;
		}
	}

	.share {
		background: transparent;
		display: flex;
		margin-left: 10px;
		font-size: 24px;
		color: #DDBFB8;
		position: relative;

		@include media( map-get( $media, lg ) ) {
			order: 2;
			margin-right: 10px;
		}

		@include media( map-get( $media, md ) ) {
			font-size: 16px;
			margin-left: 0;
		}

		&.active {

			&:after,
			&:before,
			& ~ .share-drop {
				opacity: 1;
				visibility: visible;
			}
		}

		&:after {
			content: '';
			position: absolute;
			top: 100%;
			left: 50%;
			transform: translateX(-50%) rotate(45deg);
			width: 17px;
			height: 17px;
			border-radius: 2px;
			background: #F1E9E7;
			z-index: 43;
			margin-top: 16px;
			// box-shadow: 0px 0px 10px rgba(75, 16, 0, 0.3);
			opacity: 0;
			visibility: hidden;
			transition: .3s;

			@include media( map-get( $media, lg ) ) {
				margin-top: 8px;
			}
		}

		&-drop {
			position: absolute;
			top: 100%;
			margin-top: 20px;
			left: 0;
			width: 100%;
			z-index: 40;
			border-radius: 2px;
			background: #F1E9E7;
			padding: 15px 10px;
			box-shadow: 0px 0px 20px rgba(75, 16, 0, 0.5);
			opacity: 0;
			visibility: hidden;
			transition: .3s;

			@include media( map-get( $media, lg ) ) {
				margin-top: 0;
				top: 40px;
			}

			@include media( map-get( $media, md ) ) {
				top: 30px;
			}

			@include media( map-get( $media, xl ) ) {
				left: auto;
				right: 0;
				width: calc(100vw - 30px);
			}

			&__cont {
				height: 39px;
				display: flex;
				align-items: center;
				background: #fff;
				border-radius: 40px;
			}

			input {
				flex: 1;
				min-width: 0;
				height: 100%;
				padding: 0 10px 0 15px;
				font-size: 15px;
				line-height: 17px;
				background: none;
			}

			button {
				background: none;
				display: flex;
				align-items: center;
				width: 35px;
				min-width: 35px;
				font-size: 22px;
				color: #AA282C;
			}
		}
	}
}