.contacts {
	margin-top: 57px;

	@include media( map-get( $media, md ) ) {
		margin-top: 22px;
	}

	@include media( map-get( $media, sm ) ) {
		margin-top: 17px;
	}

	&__info {
		text-align: center;
		margin-bottom: 60px;
		font-size: 20px;
		line-height: 1.4;
		color: #4B1000;

		@include media( map-get( $media, lg ) ) {
			font-size: 18px;
		}

		@include media( map-get( $media, sm ) ) {
			font-size: 12px;
			line-height: 14px;
			color: #4B1000;
			margin-bottom: 28px;
		}

		p {
			margin-bottom: 0;

			@include media( map-get( $media, sm ) ) {
				margin-bottom: 14px;
			}
		}

		span {
			color: rgba(75, 16, 0, 0.6);

			&.accent {
				color: #AA282C;
			}
		}

		a {
			color: #AA282C;
			text-decoration: none;
			white-space: nowrap;

			&:hover {

				@include media( map-get( $media-min, lg ), 'min' ) {
					text-decoration: underline;
				}
			}
		}
	}

	&-chops {
		margin-top: 115px;
		margin-bottom: 50px;

		@include media( map-get( $media, lg ) ) {
			margin-bottom: 0;
			margin-top: 80px;
		}

		@include media( map-get( $media, sm ) ) {
			margin-top: 41px;
			margin-bottom: -35px;
		}

		&__content {
			display: flex;

			@include media( map-get( $media, sm ) ) {
				display: block;
			}
		}

		&__info {
			width: 324px;
			flex: 0 0 324px;
			margin-right: 34px;

			@include media( map-get( $media, lg ) ) {
				margin-right: 15px;
			}

			@include media( map-get( $media, sm ) ) {
				margin-right: 0;
				margin-bottom: 30px;
				width: auto;
			}
		}

		&__map {
			flex: 1;

			@include media( map-get( $media, sm ) ) {
				margin-left: -15px;
				margin-right: -15px;
				height: 311px;
			}
		}

		&__btn {
			display: none;

			@include media( map-get( $media, sm ) ) {
				display: block;
				margin-top: 27px;
				
				.btn {
					background: #BFA8A2;
					border-radius: 2px;
					width: 100%;
					justify-content: center;
					height: 39px;
					font-size: 12px;
					text-transform: none;
				}
			}
		}

		&__box {
			min-height: 194px;
			background: #FFFFFF;
			border: 1px solid #C4C4C4;
			border-radius: 2px;
			margin-bottom: 27px;
			padding: 28px 35px 24px;
			cursor: pointer;
			transition: .3s;

			@include media( map-get( $media, lg ) ) {
				margin-bottom: 15px;
			}

			@include media( map-get( $media, sm ) ) {
				margin-bottom: 22px;
				min-height: 0;
				padding: 23px 50px 24px;
				position: relative;
			}

			&--alt {
				@include media( map-get( $media, sm ) ) {
					padding-bottom: 56px;
				}
			}

			&:last-child {
				margin-bottom: 0;
			}

			&.active {

				@include media( map-get( $media-min, sm ), 'min' ) {
					background: #F3ECEA;
					border-color: #F3ECEA;
				}
			}
		}

		&__title {
			font-size: 20px;
			line-height: 23px;
			color: #AA282C;
			margin-bottom: 15px;

			@include media( map-get( $media, sm ) ) {
				font-size: 15px;
				line-height: 17px;
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: 15px;
			}

			.icon {
				display: none;

				@include media( map-get( $media, sm ) ) {
					display: inline-block;
					font-size: 17px;
					margin-right: 4px;
				}
			}

			span {
				display: inline-block;
				margin-left: 10px;
				background: #AA282C;
				border-radius: 2px;
				padding: 4px 13px;
				font-size: 13px;
				line-height: 15px;
				color: #FFFFFF;
				vertical-align: middle;
				margin-top: -4px;

				@include media( map-get( $media, sm ) ) {
					position: absolute;
					left: 50%;
					bottom: 23px;
					transform: translateX(-50%);
					white-space: nowrap;
					font-size: 11px;
					line-height: 13px;
					margin: 0;
				}
			}
		}

		&__address {
			color: rgba(75, 16, 0, 0.6);
			margin-bottom: 15px;

			@include media( map-get( $media, sm ) ) {
				font-size: 11px;
				line-height: 13px;
				margin-bottom: 13px;
				text-align: center;
			}
		}

		&__line {
			margin-bottom: 15px;
			color: #4B1000;

			@include media( map-get( $media, sm ) ) {
				font-size: 11px;
				line-height: 13px;
				margin-bottom: 13px;
				text-align: center;
			}

			&:last-child {
				margin-bottom: 0;
			}

			span {
				color: rgba(75, 16, 0, 0.6);
			}

			a {
				color: #AA282C;

				&:hover {

					@include media( map-get( $media-min, lg ), 'min' ) {
						// text-decoration: underline;
					}
				}
			}
		}
	}

	&__form {

		@include media( map-get( $media, sm ) ) {
			background: #F3ECEA;
			padding: 29px 15px 54px;
			margin-left: -15px;
			margin-right: -15px;
		}

		.form__input {

			@include media( map-get( $media, sm ) ) {
				background: #fff;
			}
		}
	}
}