.phone-box {
	font-family: map-get( $ff, alt );
	margin-bottom: 44px;

	@include media( map-get( $media, md ) ) {
		margin-bottom: 18px;
	}

	@include media( map-get( $media, sm ) ) {
		text-align: center;
	}

	&:last-child {
		margin-bottom: 0;
	}

	&__title {
		font-weight: 500;
		line-height: 1;
		font-size: 16px;
		color: rgba(255, 255, 255, 0.3);
		margin-bottom: 1px;

		@include media( map-get( $media, md ) ) {
			font-size: 12px;
		}
	}

	&__val {
		font-size: 30px;
		font-weight: 300;

		@include media( map-get( $media, md ) ) {
			font-size: 16px;
			font-weight: 400;
		}
	}
}