.card-alt {
	width: 20%;
	max-width: 20%;
	flex: 0 0 20%;
	background: #FFFFFF;
	border: 1px solid rgba(233, 174, 161, 0.4);
	border-radius: 2px;
	padding: 13px 13px 23px;

	@include media( map-get( $media, md ) ) {
		width: 112px;
		max-width: 112px;
		flex: 0 0 112px;
		margin-right: 5px;
		padding: 0;
		border: none !important;

		&:last-child {
			margin-right: 0;
		}
	}

	@supports (flex-direction: column) {
		display: flex;
		flex-direction: column;
	}

	&.active {

		.card-alt__btn {
			display: none;
		}

		.card-alt__counter {
			display: flex;
		}
	}

	& + .card-alt {
		border-left: none;
	}

	&:nth-child(n + 6) {
		margin-top: -1px;
	}

	&:nth-child(6n) {
		border-left: 1px solid rgba(233, 174, 161, 0.4);
	}

	&__view {
		position: relative;
		overflow: hidden;
		margin-bottom: 11px;

		&:before {
			content: '';
			display: block;
			padding-top: 100%;

			@include media( map-get( $media, md ) ) {
				padding-top: 87px;
			}
		}
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;

		@include media( map-get( $media, md ) ) {
			max-width: 89px;
			left: 50%;
			transform: translateX(-50%);
		}

		img {
			display: block;
			max-width: 100%;
			max-height: 100%;
		}
	}

	&__favorite {
		top: 2px;
		right: 2px;
		position: absolute;
		z-index: 2;

		@include media( map-get( $media, md ) ) {
			top: 2px;
			right: 12px;
		}
	}

	&__title {
		font-size: 14px;
		line-height: 16px;
		text-align: center;
		color: #4B1000;

		@include media( map-get( $media, md ) ) {
			font-size: 11px;
			line-height: 13px;
			max-width: 89px;
			margin-left: auto;
			margin-right: auto;
		}

		@supports (flex-direction: column){
			margin-bottom: auto;
		}

		a {

			&:hover {

				@include media( map-get( $media-min, lg ), 'min' ) {
					text-decoration: underline;
				}
			}
		}
	}

	&__price {
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;
		text-align: center;
		color: #AA282C;
		font-family: map-get( $ff, alt );
		margin-bottom: 9px;
		margin-top: 4px;

		@include media( map-get( $media, md ) ) {
			font-size: 16px;
			line-height: 19px;
		}
	}

	&__btn {
		display: flex;
		justify-content: center;

		.btn {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			font-size: 22px;
			padding: 0;
			justify-content: center;
			padding-right: 2px;

			@include media( map-get( $media, md ) ) {
				width: 30px;
				height: 30px;
				font-size: 18px;
			}
		}
	}

	&__counter {
		height: 40px;
		justify-content: center;
		align-items: center;
		display: none;

		@include media( map-get( $media, md ) ) {
			height: 30px;
		}
	}
}