.item {
	
	@include media( map-get( $media-min, lg ), 'min' ) {
		margin-top: 93px;
	}

	@include media( map-get( $media, md ) ) {
		margin-top: -15px;
	}

	&__top {
		display: flex;
		margin-bottom: 72px;

		@include media( map-get( $media, md ) ) {
			display: block;
			margin-bottom: 22px;
		}
	}

	&__view {
		width: 555px;
		max-width: calc(50% - 15px);
		flex: 0 0 555px;
		margin-right: 30px;
		position: relative;
		overflow: hidden;

		@include media( map-get( $media, lg ) ) {
			max-width: calc(40% - 15px);
		}

		@include media( map-get( $media, md ) ) {
			display: none;
		}
	}

	&__label,
	&__sale {
		z-index: 3;
	}

	&__sale {

		&-wrap {
			position: absolute;
			top: 0;
			left: 15px;
			overflow: hidden;
			width: 60px;
			height: 60px;
		}
	}

	&__imgs {
		position: relative;

		.slick-arrow {
			font-size: 20px;
			width: 50px;
			height: 50px;
			padding: 0;
			justify-content: center;
			top: 277px;

			@include media( map-get( $media, lg ) ) {
				top: 220px;
			}

			@include media(1100px ) {
				top: 190px;
			}

			&.slick-prev {
				left: 10px;
				padding-right: 3px;
			}

			&.slick-next {
				right: 10px;
				padding-left: 3px;
			}
		}

		.slick-dots {
			position: static;
			justify-content: flex-start;
			margin-top: 14px;
			margin-right: -10px;
			padding-bottom: 1px;

			li {
				width: 67px;
				min-width: 67px;
				height: 67px;
				margin-right: 10px;
				margin-bottom: 10px;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;

				&:after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 1;
					border: 1px solid #AA282C;
					opacity: 0;
				}

				&.slick-active {

					&:after {
						opacity: 1;
					}
				}

				img {
					display: block;
					max-width: 100%;
					max-height: 100%;
				}
			}
		}
	}

	&__img {
		position: relative;
		display: block;

		&:before {
			content: '';
			display: block;
			padding-top: 100%;
		}

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			width: auto;
			max-width: 100%;
			max-height: 100%;
			display: block;
		}
	}

	&__controls {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: -11px;
		margin-right: -11px;

		a {
			display: block;
			width: 67px;
			height: 67px;
			margin-right: 11px;
			margin-bottom: 11px;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border: 1px solid map-get( $color, accent );
				opacity: 0;
				transition: .3s;
			}

			&.active {

				&:after {
					opacity: 1;
				}
			}

			img {
				display: block;
				max-width: 100%;
				max-height: 100%;
			}
		}
	}

	&__info {
		position: relative;
		flex: 1;
	}

	&__title {
		padding-right: 40px;
		font-weight: 300;
		font-size: 30px;
		line-height: 34px;
		margin-bottom: 22px;
		color: #4B1000;
		margin-top: -8px;

		@include media( map-get( $media, md ) ) {
			margin-top: 0;
			font-weight: normal;
			font-size: 15px;
			line-height: 17px;
			margin-bottom: 15px;
		}
	}

	&__favorite {
		position: absolute;
		top: 0;
		right: 0;
		width: 25px;
		height: 25px;
	}

	&__line {
		margin-bottom: 21px;
		display: flex;
		flex-wrap: wrap;
		margin-right: -20px;
		margin-top: -10px;

		@include media( map-get( $media, md ) ) {
			display: block;
			margin-right: 0;
			margin-top: 0;
			margin-bottom: 10px;
		}

		& > * {
			margin-right: 20px;
			margin-top: 10px;

			@include media( map-get( $media, md ) ) {
				margin-right: 0;
				margin-bottom: 0;
			}
		}
	}

	&__scroll {

		&-wrap {
			margin-bottom: 21px;
			position: relative;
			overflow: hidden;
			margin-left: -15px;
			margin-right: -15px;
		
			@include media( map-get( $media-min, md ), 'min' ) {
				display: none !important;
			}
		}

		.scroll-element.scroll-x.scroll-scrollx_visible {
			width: calc(100vw - 30px);
		}

		&.scroll-wrapper {
			padding-bottom: 27px;
		}

		&.scroll-content {
			display: flex;
			align-items: flex-start;
			flex-wrap: nowrap;

			&:after,
			&:before {
				content: '';
				display: block;
				height: 10px;
				width: 15px;
				min-width: 15px;
			}
		}

		a {
			display: block;
			position: relative;
			overflow: hidden;
			min-width: 289px;
			width: calc(100vw - 30px);
			flex: 0 0 calc(100vw - 30px);
			max-width: 500px;

			&:before {
				content: '';
				display: block;
				padding-top: 100%;
			}

			img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				max-width: 100%;
				max-height: 100%;
			}
		}
	}

	&__tags {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;

		@include media( map-get( $media, md ) ) {
			flex-wrap: wrap;
		}
	}

	&__tag {
		font-weight: 500;
		font-size: 10px;
		line-height: 11px;
		text-transform: uppercase;
		color: #FFFFFF;
		display: flex;
		align-items: center;
		white-space: nowrap;
		height: 26px;
		padding: 0 22px 0 44px;
		margin-left: -30px;
		border-top-right-radius: 26px;
		border-bottom-left-radius: 26px;

		@include media( map-get( $media, md ) ) {
			font-size: 6px;
			height: 18px;
			padding-right: 16px;
		}

		&:last-child {
			margin-left: 0;
			padding: 0 21px;

			@include media( map-get( $media, md ) ) {
				padding: 0 17px;
			}
		}

		&--pink {
			background: linear-gradient(270deg, #FF7C7C 0%, #FFBBBB 88.64%);
		}
		
		&--green {
			background: linear-gradient(270deg, #809F5B 0%, #ADCF85 88.64%);
		}
		
		&--blue {
			background: linear-gradient(269.88deg, #6394BF -7.87%, #ADCEEB 91.03%);
		}
		
		&--red {
			background: linear-gradient(270deg, #C74146 -0.08%, #FF7977 91.66%);
		}
		
		&--orange {
			background: linear-gradient(270deg, #FF9C40 -0.16%, #FFCC91 106.39%);
		}
		
	}

	&__stars {

		.stars {
			@include media( map-get( $media, md ) ) {
				font-size: 14px;
			}
		}
	}

	&-tabs {

		&__controls {
			display: flex;
			margin-bottom: -1px;
			position: relative;
			z-index: 1;

			@include media( map-get( $media, md ) ) {
				display: none;
			}
		}

		&__btn {
			margin-right: 8px;
			width: calc(50% - 4px);
			background: #C9B7B3;
			border-radius: 2px 2px 0 0;
			height: 52px;
			font-weight: 500;
			font-size: 16px;
			line-height: 18px;
			text-transform: uppercase;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #FFFFFF;

			@include media( map-get( $media, md ) ) {
				height: 48px;
				font-size: 15px;
			}

			&:last-child {
				margin-right: 0;
			}

			&.active {
				background: #F3ECEA;
				border: 1px solid #C9B7B3;
				border-bottom: none;
				color: #4B1000;
			}
		}

		&__box {
			display: none;

			@include media( map-get( $media, md ) ) {
				display: block;
				margin-bottom: 8px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			&-btn {
				display: none;

				@include media( map-get( $media, md ) ) {
					display: flex;
					height: 48px;
					background: linear-gradient(0deg, #931014 0%, #B93A3E 100%);
					border-radius: 2px;
					align-items: center;
					justify-content: center;
					font-weight: 500;
					font-size: 15px;
					line-height: 17px;
					text-transform: uppercase;
					color: #FFFFFF;

					&:after {
						content: '';
						margin-left: 10px;
						border-top: 4px solid;
						border-right: 4px solid transparent;
						border-left: 4px solid transparent;
					}

					&.active {
						background: #BFA8A2;

						&:after {
							opacity: 0;
						}

						& ~ .item-tabs__box-cont {
							display: block;
							margin-bottom: 24px;
						}
					}
				}
			}

			&-cont {
				background: #F3ECEA;
				border: 1px solid #C9B7B3;
				border-radius: 0 0 2px 2px;
				padding: 10px 12px 19px;

				@include media( map-get( $media, md ) ) {
					padding: 7px 7px 0;
				}

				@include media( map-get( $media, md ) ) {
					display: none;
				}
			}

			&.active {
				display: block;
			}

			&-area {
				display: flex;
				align-items: center;
				background: #FFFFFF;
				height: 100px;
				padding-left: 54px;
				margin-bottom: 25px;

				@include media( map-get( $media, md ) ) {
					padding-left: 34px;
					height: 60px;
					margin-bottom: 21px;
				}

				.counter {
					margin-right: 20px;
					
					@include media( map-get( $media, md ) ) {
						margin-right: 10px;
					}
				}
			}

			&-price {
				font-weight: 500;
					font-size: 27px;
					line-height: 32px;
					color: #AA282C;
					font-family: map-get( $ff, alt );

					@include media( map-get( $media, md ) ) {
						font-size: 20px;
					}
			}

			&-items {
				padding-bottom: 21px;
				border-bottom: 2px solid #fff;
				margin-bottom: 21px;

				@include media( map-get( $media, md ) ) {
					border-bottom: none;
					padding-bottom: 0;
				}
			}

			&-item {
				margin-bottom: 14px;
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				padding-left: 54px;

				@include media( map-get( $media, md ) ) {
					padding-left: 34px;
					margin-bottom: 16px;
				}

				&:last-child {
					margin-bottom: 0;
				}

				.form__check-box {
					background: #fff;

					@include media( map-get( $media, md ) ) {
						position: absolute;
						top: 100%;
						margin-top: 5px;
						left: 0;
					}
				}

				.form__label {
					margin-bottom: 0;

					@include media( map-get( $media, md ) ) {
						position: relative;
						order: 1;
					}

					&-name {
						margin-bottom: 0;

						@include media( map-get( $media, md ) ) {
							font-size: 13px;
							font-weight: 400;
							line-height: 15px;
						}
					}
				}

				.tooltip {
					
					@include media( map-get( $media, md ) ) {
						order: 2;
						margin-left: 4px;
						width: 17px;
						height: 17px;
						font-size: 12px;
					}
				}
			}

			&-text {
				margin-left: 5px;
				font-weight: 500;
				font-size: 18px;
				line-height: 21px;
				font-family: map-get( $ff, alt );
				color: #AA282C;
				margin-right: 6px;
				position: relative;
				bottom: -2px;

				@include media( map-get( $media, md ) ) {
					margin-right: 0;
					margin-left: 0;
					font-size: 15px;
					line-height: 18px;
					order: 3;
					flex: 0 0 100%;
					padding-left: 15px;
				}
			}

			&-bottom {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding-left: 54px;
				padding-right: 16px;

				@include media( map-get( $media, md ) ) {
					padding-left: 0;
					background: #b84546;
					border-radius: 2px;
					overflow: hidden;
					margin-left: -7px;
					margin-right: -7px;
					height: 48px;
					padding-right: 0;
				}

				.btn {
					height: 47px;
					padding: 0 23px 0 30px;
					font-size: 19px;

					@include media( map-get( $media, md ) ) {
						width: 49%;
						flex: 0 0 49%;
						justify-content: flex-start;
						padding-left: 27px;
						font-weight: 40;
						font-size: 15px;
						line-height: 17px;
						text-transform: none;
						border-radius: 2px;
					}

					.icon {
						font-size: 30px;
						margin-left: 5px;

						@include media( map-get( $media, md ) ) {
							display: none;
						}
					}
				}
			}

			&-summa {
				font-weight: 300;
				font-size: 24px;
				line-height: 28px;
				text-transform: uppercase;
				color: rgba(75, 16, 0, 0.3);
				display: flex;
				align-items: baseline;

				@include media( map-get( $media, md ) ) {
					font-size: 0;
					align-items: center;
				}

				span {
					margin-left: 11px;
					font-weight: 500;
					font-size: 27px;
					line-height: 32px;
					font-family: map-get( $ff, alt );
					color: #AA282C;

					@include media( map-get( $media, md ) ) {
						font-size: 20px;
						color: #fff;
						padding-left: 29px;
						white-space: nowrap;
						margin-left: 0;
					}
				}
			}
		}
	}


	&__bottom {
		margin-bottom: 85px;

		@include media( map-get( $media, md ) ) {
			margin-bottom: 65px;
		}
	}

	&-stats {
		padding-top: 4px;
		display: flex;

		@include media( map-get( $media, md ) ) {
			padding-top: 0;
			display: block;
			margin-top: -2px;
		}

		&__boxs {
			margin-right: 33px;
			display: flex;

			@include media( map-get( $media, md ) ) {
				margin-right: 0;
				margin-bottom: 15px;
			}
		}

		&__box {
			width: 90px;
			height: 90px;
			margin-right: 6px;
			text-align: center;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			background: #F9E5E5;
			color: #AA282C;
			line-height: 17px;

			@include media( map-get( $media, md ) ) {
				width: 100%;
				height: auto;
				margin-right: 0;
			}

			&:last-child {
				margin-right: 0;

				@include media( map-get( $media, md ) ) {
					position: relative;

					&:before {
						content: '';
						position: absolute;
						top: 50%;
						left: 0;
						border-left: 1px solid #E9AEA1;
						height: 16px;
						transform: translateY(-50%);
					}
				}
			}

			& > span {

				@include media( map-get( $media, md ) ) {
					display: flex;
					flex-direction: row-reverse;
					align-items: baseline;
					font-size: 16px;
					line-height: 18px;
					font-weight: 400;
					padding: 7px 5px;
					color: #AA282C;
				}

				span {
					display: block;
					width: 100%;
					font-size: 28px;
					line-height: 32px;
					color: #AA282C;

					@include media( map-get( $media, md ) ) {
						font-size: inherit;
						line-height: inherit;
						color: inherit;
						margin-right: 5px;
					}
				}
			}
		}

		&__list {
			flex: 1;
			margin-top: -5px;
			max-width: 237px;
			width: 100%;

			@include media( map-get( $media, md ) ) {
				max-width: 100%;
				margin-top: 0;
			}

			li {
				border-bottom: 1px solid rgba(75, 16, 0, 0.15);
				color: rgba(75, 16, 0, 0.6);
				line-height: 17px;
				padding: 3px 0;
				display: flex;

				span {
					margin-left: auto;
				}

				&.accent {
					color: #AA282C;
				}
			}
		}
	}
}