.main-slider {
	position: relative;

	& + .section {
		margin-top: 0;
	}

	&__item {
		padding: 0 7px;
		
		a {
			overflow: hidden;
			display: block;
			position: relative;
			width: 100vw;
			max-width: 1440px;

			&:before {
				content: '';
				display: block;
				padding-top: 30.27%;

				@include media( map-get( $media, lg ) ) {
					padding-top: 36%;
				}

				@include media( map-get( $media, sm ) ) {
					padding-top: 42.18%;
				}
			}

			img {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-position: center;
				object-fit: cover;
			}
		}
	}

	@include media( map-get( $media-min, lg ), 'min' ) {
		// .slick-arrow {
		// 	width: 58px;
		// 	height: 58px;
		// 	opacity: 1;
		// 	padding: 0;
		// 	justify-content: center;
		// 	font-size: 15px;
		// }
		
		// .slick-prev {
		// 	left: 30px;
		// }
		
		// .slick-next {
		// 	right: 30px;
		// }
	}

	.slick-dots {
		width: 100%;
		left: 0;
		transform: none;

		li {
			flex: 1;

			&.slick-active {
				button {
					background: #AA282C;
				}
			}
		}

		button {
			display: block;
			width: 100%;
			background: transparent;
			font-size: 0;
			height: 9px;
			transition: .3s;

			@include media( map-get( $media, sm ) ) {
				height: 5px;
			}
		}
	}
}