.card-slider {
	margin-top: 35px;
	margin-left: - map-get( $margin, alt );
	margin-right: - map-get( $margin, alt );
	padding-left: map-get( $margin, alt );
	padding-right: map-get( $margin, alt );

	@include media( map-get( $media, md ) ) {
		margin-top: 12px;
	}

	.slick-list {
		overflow: visible;
		margin-left: -15px;
		margin-right: -15px;

		@include media( map-get( $media, lg ) ) {
			margin-left: -7px;
			margin-right: -7px;
		}
	}

	.slick-arrow {
		top: calc((100% - 108px) / 2);
		transform: translateY(-50%);

		@include media( map-get( $media-min, lg ), 'min' ) {

			&.slick-prev {
				left: calc((100vw - 1170px) / -2 - 80px);
			}

			&.slick-next {
				right: calc((100vw - 1170px) / -2 - 80px);
			}
		}
	}

	.card-wrap {
		padding: 0 15px;

		@include media( map-get( $media, lg ) ) {
			padding: 0 7px;
		}
	}

	.card {

		&__view {
			height: auto;

			&:before {
				padding-top: 100%;
			}
		}
	}

	&.scroll-wrapper {
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 29px;
	}

	.scroll-content {
		display: flex;

		&:before,
		&:after {
			content: '';
			height: 10px;
			display: block;
			width: 15px;
			min-width: 15px;
		}

		.card {
			width: 130px;
			min-width: 130px;

			&-wrap {
				margin-right: 15px;
				padding: 0;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}