.banner {
	display: flex;
	position: relative;

	&--page {

		@include media( map-get( $media, md ) ) {
			margin-left: -15px;
			margin-right: -15px;

			& + .quality-block {
				margin-top: 39px;
			}

			.banner {

				&__info {
					padding: 34px 17px 29px;
					min-height: 0;
					min-width: 0;
					width: 100%;
				}

				&__title {
					text-align: center;
					font-weight: normal;
					font-size: 21px;
					line-height: 24px;
					margin-bottom: 17px;
				}

				&__text {
					font-size: 11px;
					line-height: 15px;
					margin-bottom: 18px;
				}

				&__btn {
					height: 48px;
					width: 100%;
					border-radius: 2px;
					justify-content: center;
					font-weight: 500;
					font-size: 15px;
					line-height: 17px;
				}
			}
		}
	}

	&--ferm {
		background: linear-gradient(180deg, #B0CC9E -18.16%, #829E70 118.99%);

		.banner__btn {
			background: rgba(168, 197, 151, 0.54);
			border: 1.5px solid rgba(255, 255, 255, 0.2);
			font-size: 17px;
			padding: 0 20px;

			&:hover {

				@include media( map-get( $media-min, lg ), 'min' ) {
					background: rgba(168, 197, 151, 0.54);
					border: 1.5px solid rgba(255, 255, 255, 0.2);
				}
			}
		}
	}

	&--meat {
		background: linear-gradient(180deg, #AA282C -24.3%, #870004 114.8%);

		.banner__btn {
			background: rgba(233, 174, 161, 0.26);
			border: 1.5px solid rgba(255, 255, 255, 0.2);

			&:hover {

				@include media( map-get( $media-min, lg ), 'min' ) {
					background: rgba(233, 174, 161, 0.26);
					border: 1.5px solid rgba(255, 255, 255, 0.2);
				}
			}
		}

		.banner__info {
			padding-left: 45px;
			padding-right: 45px;
		}
	}

	&--revers {
		.banner__img {
			width: 360px;
			flex: 0 0 360px;
		}
		.banner__info {
			flex: 1;
			font-size: 16px;
			line-height: 22px;
			padding-left: 50px;
			padding-right: 56px;
			padding-top: 47px;
		}
		.banner__text {
			font-size: 16px;
			line-height: 22px;
			margin-bottom: 30px;
		}
	}

	&__info {
		width: 361px;
		min-width: 361px;
		color: #fff;
		padding: 38px 50px;
		min-height: 360px;

		@supports (flex-direction: column) {
			display: flex;
			flex-direction: column;
		}
	}

	&__img {
		flex: 1;
		position: relative;
		overflow: hidden;

		@include media( map-get( $media, md ) ) {
			display: none;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			z-index: 1;
		}
	}

	&__label {
		position: absolute;
		z-index: 2;
		top: 28px;
		right: 47px;
		width: 105px;
		height: 105px;
		background-position: center;
		background-repeat: no-repeat;

		@include media( map-get( $media, md ) ) {
			height: 62px;
			width: 62px;
			background-size: 91px;
			top: 13px;
			right: 21px;
		}
	}

	&__title {
		font-weight: 300;
		font-size: 31px;
		line-height: 36px;
		text-transform: uppercase;
		margin-bottom: 14px;

		&--md {
			font-size: 38px;
		}
	}

	&__text {
		line-height: 18px;
		margin-bottom: 50px;
	}

	&__btn {
		font-size: 17px;
		padding: 0 20px;
		align-self: flex-start;

		@supports (flex-direction: column) {
			margin-top: auto;
		}
	}
}