.deliv {
	display: flex;
	margin-bottom: -10px;

	&-page {
		margin-bottom: 38px;
		margin-top: -20px;
		
		@include media( map-get( $media-min, lg ), 'min' ) {
			margin-top: 78px;
			margin-bottom: 94px;
		}
	}

	&-item {
		position: relative;

		&__img {
			position: absolute;
			top: 0;
			left: 0;
			background-size: contain;
			background-repeat: no-repeat;
			width: 85px;
			height: 100%;

			@include media( map-get( $media, lg ) ) {
				height: 55px;
				margin-bottom: 5px;
				background-position: center;
			}

			@include media( map-get( $media, md ) ) {
				position: static;
				width: 100%;
			}
		}

		&__title {
			font-size: 20px;
			line-height: 23px;
			color: #AA282C;
			margin-bottom: 17px;

			@include media( map-get( $media, md ) ) {
				text-align: center;
				font-size: 12px;
				line-height: 14px;
			}
		}

		&__text {
			color: rgba(75, 16, 0, 0.6);
			line-height: 1.36;

			@include media( map-get( $media, md ) ) {
				display: none;
			}
		}

		&:nth-child(1) {
			max-width: 30.5%;
			margin-right: 62px;
			padding-left: 105px;

			@include media( map-get( $media, lg ) ) {
				margin-right: 30px;
				padding-left: 90px;
			}

			@include media( map-get( $media, md ) ) {
				padding-left: 0;
			}
		}

		&:nth-child(2) {
			flex: 1;
			margin-right: 50px;
			padding-left: 100px;

			@include media( map-get( $media, lg ) ) {
				margin-right: 30px;
				padding-left: 80px;
			}

			@include media( map-get( $media, md ) ) {
				padding-left: 0;
			}

			.deliv-item__img {
				width: 80px;

				@include media( map-get( $media, md ) ) {
					width: 100%;
				}
			}
		}

		&:nth-child(3) {
			max-width: 31.5%;
			padding-left: 121px;
			
			@include media( map-get( $media, lg ) ) {
				padding-left: 100px;
			}

			@include media( map-get( $media, md ) ) {
				padding-left: 0;
			}

			.deliv-item__img {
				width: 101px;

				@include media( map-get( $media, md ) ) {
					width: 100%;
				}
			}
		}
	}

	&__content {
		position: relative;

		&:after {
			content: '';
			display: block;
			height: 0;
			clear: both;
		}
	}

	&-box {
		width: calc(50% - 16px);
		max-width: calc(50% - 16px);
		margin-bottom: 38px;

		@include media( map-get( $media, md ) ) {
			width: 100%;
			max-width: 100%;
			margin-bottom: 0;

			&.active {

				.deliv-box {

					&__trigger {
						border-bottom-color: transparent;
					}

					&__alert {
						display: block;
					}

					&__content {
						display: block;
						margin-bottom: 21px;
					}
				}
			}
		}

		&:last-child {
			margin-bottom: 0;
		}

		&--alt {
			float: right;

			@include media( map-get( $media, md ) ) {
				float: none;
				margin-left: -15px;
				margin-right: -15px;
				width: auto;
				max-width: 100vw;
			}

			.deliv-box {

				&__title {
					margin-bottom: 0;
					text-align: center;
					padding: 17px 20px 14px;
					background: #AA282C;

					@include media( map-get( $media, md ) ) {
						background: none;
						padding: 0;
						text-align: left;
					}
				}

				&__trigger {
					font-weight: 500;
					font-size: 20px;
					line-height: 23px;
					text-transform: uppercase;
					color: #FFFFFF;

					@include media( map-get( $media, md ) ) {
						color: #4B1000;
						font-size: 15px;
						font-weight: 400;
						line-height: 1;
						margin-left: 15px;
						margin-right: 15px;

						span {
							display: none;
						}
					}
				}

				&__alert {
					font-size: 16px;
					line-height: 22px;
					color: #FFFFFF;

					@include media( map-get( $media, md ) ) {
						display: none;
						background: #AA282C;
						text-align: center;
						font-weight: 500;
						font-size: 11px;
						line-height: 13px;
						color: #FFFFFF;
						padding: 7px 0;
						margin-top: -5px;
					}
				}

				&__content {
					padding: 14px 40px 30px;
					background: rgba(241, 233, 231, 0.9);

					@include media( map-get( $media, md ) ) {
						padding-left: 22px;
						padding-right: 22px;
						padding-top: 11px;
						padding-bottom: 24px;
					}
				}
			}
		}

		&__present {
			background: #FFFFFF;
			margin-left: -25px;
			margin-right: -25px;
			display: flex;
			align-items: flex-start;
			padding: 12px 25px 10px;
			margin-bottom: 21px;

			@include media( map-get( $media, md ) ) {
				margin-left: 0;
				margin-right: 0;
				padding: 13px 8px;
				margin-bottom: 12px;
			}

			&-pic {
				width: 48px;
				min-width: 48px;
				height: 48px;
				border-radius: 50%;
				margin-right: 20px;
				display: flex;
				align-items: center;
				justify-content: center;
				background: #FFC738;
				font-size: 24px;
				color: #fff;

				@include media( map-get( $media, md ) ) {
					width: 32px;
					min-width: 32px;
					height: 32px;
					font-size: 18px;
					margin-right: 13px;
				}
			}

			&-info {
				line-height: 22px;
				color: rgba(75, 16, 0, 0.6);

				@include media( map-get( $media, md ) ) {
					font-size: 11px;
					line-height: 13px;

					br {
						display: none;
					}
				}
				
				a {
					color: #E39C00;
					border-bottom: 1px dashed;

					&:hover {

						@include media( map-get( $media-min, lg ), 'min') {
							border-bottom-color: transparent;
						}
					}
				}
			}
		}

		&__title {
			margin-bottom: 17px;

			@include media( map-get( $media, md ) ) {
				margin-bottom: 0;
			}
		}

		&__trigger {
			font-weight: 300;
			font-size: 28px;
			line-height: 32px;
			color: #4B1000;

			@include media( map-get( $media, md ) ) {
				font-size: 15px;
				line-height: 1;
				text-transform: uppercase;
				color: #4B1000;
				font-weight: 400;
				padding: 15px 20px 16px 0;
				border-bottom: 1px solid rgba(75, 16, 0, 0.3);
				position: relative;

				&:after {
					content: '';
					position: absolute;
					top: 50%;
					right: 0;
					margin-top: -2px;
					border-top: 4px solid #4B1000;
					border-right: 4px solid transparent;
					border-left: 4px solid transparent;
				}
			}
		}

		&__content {
			color: rgba(75, 16, 0, 0.7);
			line-height: 1.36;

			@include media( map-get( $media, md ) ) {
				display: none;
			}
		}

		&__info {
			font-size: 13px;
			line-height: 18px;
			color: rgba(75, 16, 0, 0.6);
			margin-top: 17px;

			@include media( map-get( $media, md ) ) {
				line-height: 13px;
				font-size: 11px;
				margin-top: 12px;
			}

			span {
				color: #AA282C;
			}
		}

		&__item {
			margin-bottom: 11px;
			padding-bottom: 11px;
			border-bottom: 2px solid #FFFFFF;

			@include media( map-get( $media, md ) ) {
				padding-bottom: 5px;
				margin-bottom: 5px;
			}

			&:hover {

				@include media( map-get( $media-min, lg ), 'min' ) {
					.deliv-box__item-status {
						opacity: 1;
						visibility: visible;
					}
				}
			}

			&-line {
				display: flex;
				justify-content: space-between;
				margin-bottom: 2px;

				@include media( map-get( $media, md ) ) {
					margin-bottom: 0;
				}

				&:last-child {
					margin-bottom: 0;
				}

				&--mb {
					margin-bottom: 20px;

					@include media( map-get( $media, md ) ) {
						margin-bottom: 10px;

						&:first-child {
							margin-top: 16px;
						}

						& ~ .deliv-box__item-line {
							margin-top: 5px;
						}
					}

					&:last-child {
						margin-bottom: 0;
					}
				}
			}

			&-title {
				font-weight: 500;
				font-size: 16px;
				line-height: 18px;
				color: #4B1000;

				@include media( map-get( $media, md ) ) {
					font-size: 11px;
					line-height: 13px;
				}

				&--alt {
					font-size: 15px;
					line-height: 22px;
					font-weight: 400;
					color: rgba(75, 16, 0, 0.6);
				}

				&--simple {
					font-size: 15px;
					line-height: 22px;
					font-weight: 400;
					color: rgba(75, 16, 0, 0.6);
				}

				& > span {
					position: relative;
				}

				a {
					font-size: 15px;
					line-height: 17px;
					text-decoration-line: underline;
					font-weight: 400;
					color: #AA282C;
					display: inline-block;
					max-width: 190px;

					@include media( map-get( $media, md ) ) {
						font-size: 11px;
						line-height: 13px;
					}

					&:hover {

						@include media( map-get( $media-min, lg ), 'min' ) {
							text-decoration: none;
						}
					}
				}
			}

			&-time {
				font-size: 15px;
				line-height: 21px;
				font-weight: 400;
				color: rgba(75, 16, 0, 0.6);
				margin-left: 8px;

				@include media( map-get( $media, md ) ) {
					font-size: 11px;
					line-height: 13px;
				}
			}

			&-status {
				position: absolute;
				z-index: 1;
				top: 50%;
				transform: translateY(-50%);
				left: 100%;
				margin-left: 5px;
				background: #C9B7B3;
				border-radius: 2px;
				white-space: nowrap;
				font-size: 13px;
				line-height: 15px;
				color: #FFFFFF;
				height: 20px;
				display: flex;
				align-items: center;
				padding: 0 14px;
				opacity: 0;
				visibility: hidden;
				transition: .3s;
			}

			&-price {
				font-weight: 500;
				font-size: 15px;
				line-height: 18px;
				text-align: right;
				font-family: map-get( $ff, alt );
				color: #AA282C;
				max-width: 111px;
				margin-left: 40px;
				min-width: 40px;
				margin-right: 5px;

				@include media( map-get( $media, md ) ) {
					font-size: 11px;
					line-height: 13px;
					margin-right: 0;
					margin-left: 20px;
				}
			}

			&--alt {

				@include media( map-get( $media, md ) ) {
					padding-bottom: 12px;
				}

				.deliv-box__item-price {
					max-width: 185px;

					@include media( map-get( $media, md ) ) {
						max-width: 125px;
					}
				}
			}
		}
	}
}