mixin deliv()
	section.section
		.container
			.section__title доставка продуктов на дом
			.deliv
				.deliv-item
					.deliv-item__img(style="background-image: url(images/deliv__img-1.svg);")
					.deliv-item__title Уникальный ассортимент
					.deliv-item__text Более 7 лет мы ответственно работаем вместе с несколькими тщательно отобранными фермерскими хозяйствами центральной части России и вместе производим по-настоящему лучшее мясо для наших покупателей по доступной цене.
				.deliv-item
					.deliv-item__img(style="background-image: url(images/deliv__img-2.svg);")
					.deliv-item__title Гарантия качества
					.deliv-item__text Мы хотим быть уверены, в том, что вы остались довольны каждой покупкой. Если вдруг вы остались неудовлетворены товаром, просто верните его в течение 14 дней в любом виде. Мы гарантируем немедленную 100% компенсацию.
				.deliv-item
					.deliv-item__img(style="background-image: url(images/deliv__img-3.svg);")
					.deliv-item__title Первоклассный сервис
					.deliv-item__text Мы доставляем свежее охлаждённое мясо по Москве и Московской области на следующий день после заказа, ежедневно c 9.30 до 21.00 (кроме 1, 2 и 3 января). Так же Вы можете воспользоваться услугой "Экспресс-доставка в день заказа". 