mixin card(object)
	.card(class= object.isBig ? "card--big" : "", class= object.type ? "card--" + object.type : "")
		.card__view
			if !isPresent
				if object.sale
					.card__sale Акция
				if (object.type == "new")
					.card__status.card__status--new new
				if (object.type == "sale")
					.card__status.card__status--sale %
				if (object.type == "ferm")
					.card__status.card__status--img.card__status--ferm %
				if cardIsClosed
					button.card__remove
				else
					a(href="#").btn-favorite.card__favorite
						.pic.pic--heart-alt
						.pic.pic--heart-full
			a(href="#").card__img
				img(src="images/" + object.imgName, alt="")
			if !isPresent
				.card__tags
					button.card__tags-btn
						+icon('fixed')
						+icon('close')
					ul.card__tags-list
						- var tags = object.tags || {"Тушить":"green","Жарить":"red","на фарш":"pink"};
						each type,name in tags
							li.card__tag(class="card__tag--" + type)= name
		.card__bottom
			if !isPresent
				if (object.type == "new")
					.card__text РЕКОМЕНДУЕМ ПОПРОБОВАТЬ
				if (object.type == "sale")
					.card__text ТОВАР ПО ПРОМОСКИДКЕ
				if (object.type == "ferm")
					.card__text ФЕРМЕРСКИЙ ПРОДУКТ
			.card__info
				.card__title
					a(href="#")= object.title
				if !isPresent
					.card__line
						.card__price(data-price= object.price)
							span= object.price
							|  ₽
						span  / 
						.card__val= object.val
						.card__counter
							+counter(object.val)
					a(href="#").card__btn.btn
						span В корзину
						+icon('basket')
				else
					a(href="#").card__btn.btn.btn--present
						span Бесплатно
						+icon('present')