.card {

	@supports (flex-direction: column) {
		display: flex;
		flex-direction: column;
	}

	&:hover {

		.card__tags {

			@include media( map-get( $media-min, lg ), 'min' ) {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__remove {
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		width: 30px;
		height: 30px;
		background-color: transparent;

		@include media( map-get( $media, md ) ) {
			width: 20px;
		}

		&:hover {

			@include media( map-get( $media-min, lg ), 'min' ) {

				&:after,
				&:before {
					background: #AA282C;
				}
			}
		}

		&:after,
		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			height: 1px;
			width: 100%;
			background: rgba(75, 16, 0, 0.3);
			transform-origin: center;
			transition: .3s;
		}

		&:after {
			transform: translate(-50%,-50%) rotate(45deg);
		}

		&:before {
			transform: translate(-50%,-50%) rotate(-45deg);
		}
	}

	&.added {

		.card__btn,
		.card__val,
		.card__line > span {
			display: none;
		}

		.card__counter {
			display: block;
		}
	}

	&__view {
		overflow: hidden;
		position: relative;

		&:before {
			content: '';
			display: block;
			padding-top: 263px;

			@include media( 1100px ) {
				padding-top: 243px;
			}

			@include media( 1000px ) {
				padding-top: 220px;
			}

			@include media( map-get( $media, md ) ) {
				padding-top: 100%;
			}
		}
	}

	&__sale {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		background: #CC5EBA;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		color: #FFFFFF;
		padding: 5px 0;
		width: 200px;
		text-align: center;
		transform: rotate(-45deg) translate(-21%, -470%);
		transform-origin: top right;

		@include media( map-get( $media, md ) ) {
			font-weight: 500;
			font-size: 9px;
			line-height: 10px;
			width: 100px;
			padding: 3px 0;
			transform: rotate(-45deg) translate(-21%, -375%);
		}
	}

	&__favorite {
		position: absolute;
		z-index: 2;
		top: 16px;
		right: 18px;

		@include media( map-get( $media, md ) ) {
			top: 6px;
			right: 9px;
		}
	}

	&__status {
		position: absolute;
		top: 19px;
		left: 33px;
		z-index: 2;
		width: 83px;
		height: 83px;
		border-radius: 50%;
		font-weight: 300;
		text-transform: uppercase;
		line-height: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;

		@include media( map-get( $media, md ) ) {
			top: 2px;
			left: 6px;
			width: 64px;
			height: 64px;
		}

		&--new {
			font-size: 28px;
			background: #EEC3B9;

			@include media( map-get( $media, md ) ) {
				font-size: 19px;
			}
		}

		&--sale {
			font-size: 54px;
			background: #F5D095;

			@include media( map-get( $media, md ) ) {
				font-size: 37px;
			}
		}

		&--img {
			background-color: transparent;
			background-repeat: no-repeat;
			background-position: center;
			width: 109px;
			height: 109px;
			top: 9px;
			left: 16px;
		}

		&--ferm {
			background-image: url('../images/ferm-ico.svg');

			@include media( map-get( $media, md ) ) {
				background-size: 120px;
			}
		}
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		overflow: hidden;

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	&__tags {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 2;
		display: flex;
		align-items: flex-end;
		opacity: 0;
		visibility: hidden;
		transition: .3s;

		&.active {

			@include media( map-get( $media-min, lg ), 'min' ) {
				opacity: 1;
				visibility: visible;

				.card__tags-btn {
					background: rgba(75, 16, 0, 0.6);

					.icon {

						&-fixed {
							display: none;
						}

						&-close {
							display: block;
						}
					}
				}
			}
		}

		&-btn {
			cursor: pointer;
			background: rgba(170, 40, 44, 0.9);
			width: 23px;
			min-width: 23px;
			height: 22px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #fff;
			font-size: 13px;

			.icon-close {
				display: none;
			}
		}

		&-list {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row-reverse;
			justify-content: flex-end;
			opacity: 0.7;
		}
	}

	&__tag {
		padding: 0 14px 0 29px;
		line-height: 22px;
		border-top-right-radius: 22px;
		margin-left: -22px;
		position: relative;
		z-index: 1;
		color: #fff;
		font-weight: 500;
		font-size: 9px;
		text-transform: uppercase;

		&:last-child {
			padding-left: 11px;
			margin-left: 0;
		}

		&--green {
			background-color: #7AA978;
		}

		&--red {
			background-color: #D85756;
		}

		&--pink {
			background-color: #F98F78;
		}

		&--orange {
			background-color: #F98A3A;
		}

		&--blue {
			background-color: #67A2D8;
		}
	}

	&__bottom {
		padding-top: 19px;
		padding-bottom: 18px;

		@include media( map-get( $media, md ) ) {
			padding-top: 5px;
		}

		@supports (flex-direction: column) {
			flex: 1;
		}
	}

	&__info {
		position: relative;
		
		@supports (flex-direction: column) {
			height: 100%;
			display: flex;
			flex-direction: column;
		}
	}

	&__title {
		font-size: 16px;
		line-height: 18px;
		color: #4B1000;
		margin-bottom: 5px;
		height: 36px;
		overflow: hidden;
		padding-right: 77px;

		@include media( map-get( $media, md ) ) {
			font-size: 11px;
			line-height: 13px;
			margin-bottom: 5px;
			padding-right: 0;
			height: 27px;
		}

		a {

			&:hover {
				@include media( map-get( $media-min, lg ), 'min' ) {
					text-decoration: underline;
				}
			}
		}
	}

	&__line {
		display: flex;
		align-items: center;
		min-height: 30px;

		@include media( map-get( $media, md ) ) {
			min-height: 0;
			flex-wrap: wrap;
		}

		@supports (flex-direction: column) {
			margin-top: auto;
		}

		& > span {
			font-family: map-get( $ff, alt );
			font-weight: 500;
			font-size: 25px;
			line-height: 29px;
			color: #AA282C;

			@include media( map-get( $media, md ) ) {
				font-weight: 500;
				font-size: 16px;
				line-height: 19px;
			}
		}
	}

	&__val,
	&__price {
		font-family: map-get( $ff, alt );
		font-weight: 500;
		font-size: 25px;
		line-height: 29px;
		color: #AA282C;

		@include media( map-get( $media, md ) ) {
			font-size: 16px;
			line-height: 19px;
		}
	}

	&__counter {
		display: none;
		margin-left: 11px;

		@include media( map-get( $media, md ) ) {
			margin-left: 0;
			margin-top: 7px;
			width: 100%;
		}
	}

	&__btn {
		border-radius: 50%;
		position: absolute;
		top: 3px;
		right: 3px;
		width: 52px;
		height: 52px;
		min-width: 52px;
		font-size: 30px;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;

		@include media( map-get( $media, md ) ) {
			position: static;
			width: 100%;
			max-width: 112px;
			height: 27px;
			margin-top: 7px;
			border-radius: 2px;
		}

		span {
			display: none;

			@include media( map-get( $media, md ) ) {
				display: block;
				font-weight: 400;
				text-transform: none;
				font-size: 13px;
			}
		}

		.icon {
			position: relative;
			left: -1px;

			@include media( map-get( $media, md ) ) {
				left: 0;
				font-size: 20px;
				margin-left: 6px;
			}
		}

		&.btn--present {
			padding-bottom: 2px;
			padding-left: 2px;
		}
	}

	&__text {
		text-transform: uppercase;
		max-width: 202px;
		font-weight: 300;
		font-size: 25px;
		line-height: 30px;
		color: #fff;
		max-height: 70px;
		overflow: hidden;

		@include media( map-get( $media, md ) ) {
			display: none;
		}
	}

	&--big {

		.card__view {
			margin-bottom: 0;

			&:before {

				@include media( map-get( $media, md ) ) {
					padding-top: 47%;
				}
			}
		}

		.card__bottom {
			padding-right: 15px;
			padding-left: 32px;
			display: flex;
			align-items: center;

			@include media( map-get( $media, md ) ) {
				padding-top: 13px;
				padding-bottom: 15px;
				padding-left: 15px;
				padding-right: 15px;
			}
		}

		.card__info {
			max-width: calc(50% - 15px);
			margin-left: auto;

			@include media( map-get( $media, md ) ) {
				margin-left: 0;
				min-width: 140px;
			}
		}

		.card__counter,
		.card__btn {

			@include media( map-get( $media, md ) ) {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 100%;
				// margin-left: 10px;
				margin-top: 0;
			}
		}
	}

	&--new {

		.card__bottom {
			background: #EEC3B9;
		}
	}

	&--sale {

		.card__bottom {
			background: #F5D095;
		}
	}

	&--ferm {

		.card__bottom {
			background: #B3D1A0;
		}
	}
}