.btn {
	display: inline-flex;
	align-items: center;
	line-height: 1;
	height: 40px;
	padding: 0 18px;
	cursor: pointer;
	text-decoration: none;
	background: map-get($color, accent);
	color: #fff;
	font-family: map-get($ff, main);
	transition: .3s;
	text-transform: uppercase;
	font-size: 13px;
	border-radius: 25px;

	@include media( map-get( $media, sm ) ) {
		border-radius: 2px;
		background: linear-gradient(180deg, #931014 0%, #B93A3E 100%);
		font-weight: 500;
		font-size: 15px;
		line-height: 17px;
	}

	&.disabled {
		pointer-events: none;
		background: linear-gradient(180deg, #BFA8A2 0%, #CDB5AF 100%);
	}

	&:hover {
		
		@include media( map-get( $media-min, lg ), 'min' ) {
			background: #880307;
			color: #fff;
		}
	}

	&--light {
		border: 1px solid rgba(170, 40, 44, 0.5);
		background: transparent;
		color: #AA282C;

		@include media( map-get( $media, sm ) ) {
			background: transparent;
			border: 1px solid rgba(170, 40, 44, 0.5);
			color: #AA282C;
		}

		&:hover {
			
			@include media( map-get( $media-min, lg ), 'min' ) {
				background: map-get($color, accent);
			}
		}
	}

	&-favorite {
		width: 27px;
		min-width: 27px;
		height: 27px;

		@include media( map-get( $media, md ) ) {
			width: 19px;
			min-width: 19px;
			height: 19px;
		}

		.pic {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: block;
			transition: .3s;
			background-size: 27px;

			@include media( map-get( $media, md ) ) {
				background-size: 19px;
			}

			&--heart-full {
				opacity: 0;
			}
		}

		&.active {

			.pic {

				&--heart {

					&-full {
						opacity: 1;
					}

					&-alt {
						opacity: 0;
					}
				}
			}
		}
	}

	&--present {
		background: #EFC059;
		font-size: 18px;
		line-height: 21px;
		color: #FFFFFF;
		text-transform: none;
	}

	&--gray {
		background: rgba(75, 16, 0, 0.6);
	}
}