.post {
	margin-bottom: 40px;

	@include media( map-get( $media, md ) ) {
		margin-bottom: 0;
	}

	&__title {
		font-weight: 300;
		font-size: 28px;
		line-height: 32px;
		margin-bottom: 15px;
		color: #4B1000;

		@include media( map-get( $media, md ) ) {
			font-size: 18px;
			line-height: 21px;
		}
	}

	&__date {
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		font-family: map-get( $ff, alt );
		margin-bottom: 45px;
		color: #AA282C;

		@include media( map-get( $media, md ) ) {
			font-size: 12px;
			line-height: 15px;
			margin-bottom: 20px;
		}
	}

	&__q {
		display: flex;
		align-items: flex-start;
		margin-bottom: 57px;

		@include media( map-get( $media, md ) ) {
			display: block;
			margin-bottom: 20px;
		}

		&-avatar {
			width: 80px;
			min-width: 80px;
			height: 80px;
			border-radius: 50%;
			overflow: hidden;
			margin-right: 18px;

			@include media( map-get( $media, md ) ) {
				margin-bottom: 20px;
				margin-right: 0;
			}

			img {
				display: block;
				width: 100%;
				height: 100%;
				object-position: center;
				object-fit: cover;
			}
		}

		&-text {
			position: relative;
			box-shadow: 0px 0px 20px rgba(75, 16, 0, 0.5);
			border-radius: 2px;

			&-cont {
				position: relative;
				z-index: 2;
				padding: 22px 38px 32px;
				border-radius: 2px;
				background: #F1E9E7;
				color: rgba(75, 16, 0, 0.7);
				font-size: 18px;
				line-height: 21px;
				overflow: hidden;

				@include media( map-get( $media, md ) ) {
					font-size: 15px;
					line-height: 17px;
					padding: 10px 15px;
				}
			}

			&:before {
				content: '';
				position: absolute;
				z-index: 1;
				left: 0;
				top: 20px;
				margin-left: -7px;
				width: 38px;
				height: 38px;
				background: #F1E9E7;
				box-shadow: 0px 0px 20px rgba(75, 16, 0, 0.3);
				transform: rotate(45deg);

				@include media( map-get( $media, md ) ) {
					top: -5px;
					left: 20px;
					margin-left: 0;
				}
			}
		}
	}

	&__alert {
		background: #F9E5E5;
		border-radius: 2px;
		padding: 28px 35px 31px;
		color: rgba(75, 16, 0, 0.7);
		margin-bottom: 75px;

		@include media( map-get( $media, md ) ) {
			margin-bottom: 30px;
			padding: 10px 15px;
		}

		p {

			@include media( map-get( $media-min, md ), 'min' ) {
				margin-bottom: 24px;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&-box {
		position: relative;
		padding-right: 287px;
		margin-bottom: 65px;

		@include media( map-get( $media, md ) ) {
			margin-bottom: 30px;
			padding-right: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&__main {
			flex: 1;
			color: rgba(75, 16, 0, 0.7);
			line-height: 1.36;

			h2,
			h3 {
				color: #4B1000;
				font-weight: 500;
				margin: 18px 0 23px;

				&:first-child {
					margin-top: 0;
				}
			}
		}

		&__title {
			position: relative;
			padding-left: 57px;
			margin-bottom: 33px;
			font-weight: 300;
			font-size: 28px;
			line-height: 32px;
			color: #4B1000;

			@include media( map-get( $media, md ) ) {
				font-size: 16px;
				line-height: 17px;
				padding-left: 30px;
				margin-bottom: 15px;
			}

			& > .icon {
				vertical-align: middle;
				font-size: 20px;
				color: #AA282C;
				margin-left: 10px;

				@include media( map-get( $media, md ) ) {
					margin-left: 7px;
					font-size: 17px;
				}
			}
		}

		&__pic {
			position: absolute;
			top: -.2em;
			left: 0;
			background: #AA282C;
			width: 44px;
			height: 44px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 26px;
			color: #fff;

			@include media( map-get( $media, md ) ) {
				width: 24px;
				height: 24px;
				font-size: 14px;
			}
		}

		&__img {
			position: absolute;
			right: 0;
			width: 263px;
			flex: 0 0 263px;
			top: 7px;

			@include media( map-get( $media, md ) ) {
				position: static;
				margin-bottom: 10px;
				width: 100%;
				display: flex;
				align-items: center;
				max-height: 50vw;
				overflow: hidden;
			}

			img {
				display: block;
				max-width: 100%;

				@include media( map-get( $media, md ) ) {
					width: 100%;
				}
			}
		}
	}
}