.page {

	&-tabs {
		margin-top: 43px;

		@include media( map-get( $media, sm ) ) {
			margin-top: 38px;
		}

		&__controls {
			display: flex;
			margin-bottom: -2px;

			@include media( map-get( $media, sm ) ) {
				flex-direction: column;
				align-items: center;
				margin-top: 0;
				margin-bottom: 4px;
			}
		}

		&__btn {
			flex: 1;
			margin-right: 10px;
			font-weight: 500;
			font-size: 16px;
			line-height: 18px;
			text-transform: uppercase;
			color: #FFFFFF;
			background: #C9B7B3;
			border-radius: 2px 2px 0 0;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 45px;
			white-space: nowrap;
			height: 55px;
			border: 1px solid transparent;

			@include media( map-get( $media, sm ) ) {
				display: inline-flex;
				position: relative;
				border: none;
				background: none;
				color: #AA282C;
				font-size: 15px;
				line-height: 19px;
				height: auto;
				text-transform: none;
				margin-bottom: 15px;
				margin-right: 0;
				padding: 0;

				span {
					display: inline-block;
					padding-bottom: 2px;
					border-bottom: 1px dashed;
				}
			}

			&:last-child {
				margin-right: 0;

				@include media( map-get( $media, sm ) ) {
					margin-bottom: 0;
				}
			}

			.icon {
				display: none;

				@include media( map-get( $media, sm ) ) {
					color: #AA282C;
					margin-left: 10px;
					position: absolute;
					top: 50%;
					left: 100%;
					transform: translateY(-50%);
				}
			}

			&.active {
				color: #4B1000;
				background: #F1E9E7;
				border-color: #C9B7B3;
				border-bottom-color: #F1E9E7;

				@include media( map-get( $media, sm ) ) {
					color: #4B1000;
					font-size: 18px;

					span {
						border-bottom-color: transparent;
					}
				}

				.icon {

					@include media( map-get( $media, sm ) ) {
						display: block;
					}
				}
			}

			&.selected {

				&:not(.active) {

					@include media( map-get( $media, sm ) ) {

						&:before {
							content: '';
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
							right: 100%;
							margin-right: 5px;
							border-radius: 50%;
							background: #4B1000;
							width: 6px;
							height: 6px;
						}
					}
				}
			}
		}

		&__box {
			display: none;
			background: #F1E9E7;
			border: 1px solid #C9B7B3;
			padding:	44px 65px 73px 60px;

			@include media( map-get( $media, sm ) ) {
				border: none;
				padding: 21px 15px 43px;
				background: #BFA8A2;
				margin-left: -15px;
				margin-right: -15px;
			}

			&.active {
				display: block;

				@include media( map-get( $media, sm ) ) {
					margin-top: 20px;
				}
			}

			&-top {
				display: none;
			}
		}
	}

	&-link {
		margin-left: auto;

		a {
			display: flex;
			align-items: center;
			color: #AA282C;

			&:hover {

				span {

					@include media( map-get( $media-min, lg ), 'min' ) {
						border-bottom-color: transparent;
					}
				}
			}

			span {
				font-size: 16px;
				line-height: 18px;
				border-bottom: 1px solid #AA282C;
			}

			.icon {
				margin-right: 9px;
				font-size: 20px;
			}
		}
	}

	&-center {
		margin-left: auto;
		margin-right: auto;
		max-width: 622px;

		@include media( map-get( $media, sm ) ) {
			max-width: initial;
		}

		&--alt {
			max-width: 750px;

			@include media( map-get( $media, md ) ) {
				max-width: 100%;
			}
		}
	}

	&-reset {
		display: flex;
		justify-content: center;

		.btn {
			height: 36px;
			color: #AA282C;
			font-size: 15px;
			line-height: 1;
			border: 1px solid rgba(75, 16, 0, 0.3);
			padding: 0 15px 0 20px;

			@include media( map-get( $media, md ) ) {
				height: auto;
				border: none;
				padding: 0;
				line-height: 13px;
				font-size: 11px;
				background: none;
				text-transform: none;
				font-weight: 400;
			}

			&:hover {

				@include media( map-get( $media-min, lg ), 'min' ) {

					.page-reset__close {

						&:after,
						&:before {
							background: #fff;
						}
					}
				}
			}
		}

		&__close {
			position: relative;
			width: 15px;
			min-width: 15px;
			height: 15px;
			display: block;
			margin-left: 10px;

			&:after,
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				height: 1px;
				width: 100%;
				background: rgba(75, 16, 0, 0.3);
				transform-origin: center;
				transition: .3s;
			}

			&:after {
				transform: translate(-50%,-50%) rotate(45deg);
			}

			&:before {
				transform: translate(-50%,-50%) rotate(-45deg);
			}
		}
	}

	&-back {

		a {
			font-weight: 300;
			font-size: 15px;
			line-height: 17px;
			color: #AA282C;

			@include media( map-get( $media, md ) ) {
				font-size: 12px;
				line-height: 15px;
			}

			&:hover {

				@include media( map-get( $media-min, lg ), 'min' ) {
					text-decoration: underline;
				}
			}
		}
	}

	&-more {
		margin-top: 111px;
		display: flex;
		justify-content: center;

		@include media( map-get( $media, md ) ) {
			margin-top: 40px;
		}

		.btn {
			height: 43px;
			padding: 0 26px 0 43px;
			text-transform: uppercase;
			font-size: 15px;
			color: #AA282C;

			.icon {
				margin-left: 10px;
				color: rgba(75, 16, 0, 0.2);
				font-size: 16px;
			}

			&:hover {

				.icon {
					color: inherit;
				}
			}
		}
	}

	&-controls {
		margin-left: auto;
		display: flex;
		align-items: center;

		&__select {
			display: flex;
			align-items: baseline;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);

			@include media( map-get( $media, sm ) ) {
				width: 100%;
			}

			&-title {
				font-size: 14px;
				line-height: 16px;
				color: #AA282C;
				margin-right: 7px;
			}
		}

		&__btns {
			display: flex;
			margin-left: 51px;

			@include media( map-get( $media, sm ) ) {
				display: none;
			}

			button {
				margin-right: 18px;
				display: flex;
				background: transparent;
				cursor: pointer;
				font-size: 25px;
				color: #DBCFCC;

				&:last-child {
					margin-right: 0;
				}

				&.active {
					color: #4B1000;
				}
			}
		}
	}

	&-top {
		margin-bottom: 50px;

		@include media( map-get( $media-min, md ), 'min' ) {
			margin-top: 80px;
		}

		@include media( map-get( $media, md ) ) {
			margin-bottom: 21px;
		}
		
		&__line {
			display: flex;
			align-items: baseline;
			margin-bottom: 15px;

			@include media( map-get( $media, md ) ) {
				margin-bottom: 4px;
			}

			@include media( map-get( $media, sm ) ) {
				display: block;

				& > * {
					margin-bottom: 10px;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}

		&__title {
			font-weight: 300;
			font-size: 28px;
			line-height: 32px;
			color: #4B1000;
			display: flex;
			align-items: center;

			@include media( map-get( $media, md ) ) {
				font-size: 15px;
				line-height: 17px;
				font-weight: 400;
			}

			.icon {
				margin-left: 10px;
				font-size: 20px;
				color: #AA282C;

				@include media( map-get( $media, md ) ) {
					font-size: 13px;
					margin-left: 5px;
				}
			}
		}

		&__text {
			margin-bottom: 22px;
			color: rgba(75, 16, 0, 0.6);

			@include media( map-get( $media, md ) ) {
				margin-bottom: 16px;
				font-size: 11px;
				padding-right: 10px;
			}
		}

		&__links {
			display: flex;
			width: 100%;
			min-height: 32px;

			@include media( map-get( $media, sm ) ) {
				min-height: 0;
				display: block;
			}

			li {
				margin-right: 36px;
				display: flex;
				align-items: center;

				@include media( map-get( $media, sm ) ) {
					margin-right: 0;
					justify-content: center;
					margin-bottom: 20px;

					&:last-child {
						margin-bottom: 0;
					}
				}

				&:last-child {
					margin-right: 0;
				}

				&:first-child {
					margin-right: auto;
				}
			}
		}

		&__link {
			font-size: 16px;
			line-height: 18px;
			display: flex;
			align-items: center;

			@include media( map-get( $media, sm ) ) {
				font-size: 15px;
				line-height: 19px;
				font-weight: 400;
				position: relative;
			}

			&:hover {

				@include media( map-get( $media-min, lg ), 'min' ) {

					.page-top__link-name {
						border-bottom-color: transparent;
					}
				}
			}

			&-name {
				color: #AA282C;
				border-bottom: 1px dashed;
			}

			&-val {
				color: rgba(75, 16, 0, 0.3);
				margin-left: 5px;

				@include media( map-get( $media, sm ) ) {
					display: none;
				}
			}

			.icon {

				&:first-child {
					font-size: 20px;
					color: #AA282C;
					margin-right: 9px;

					@include media( map-get( $media, sm ) ) {
						position: absolute;
						right: 100%;
						top: 50%;
						transform: translateY(-50%);
						font-size: 16px;
					}
				}

				&:last-child {
					display: none;
				}
			}

			&.active {
				pointer-events: none;

				@include media( map-get( $media, sm ) ) {
					position: relative;
				}

				.page-top__link-name {
					font-weight: 300;
					font-size: 28px;
					line-height: 32px;
					color: #4B1000;
					border-bottom: none;

					@include media( map-get( $media, sm ) ) {
						font-size: 18px;
						line-height: 19px;
						font-weight: 400;
					}
				}

				.page-top__link-val {
					display: none;
				}

				.icon {

					&:first-child {
						display: none;

						@include media( map-get( $media, sm ) ) {
							display: flex;
							color: #4B1000;
						}
					}
	
					&:last-child {
						display: block;
						margin-left: 15px;
						font-size: 20px;
						color: #AA282C;

						@include media( map-get( $media, sm ) ) {
							font-size: 13px;
							margin-left: 7px;
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
							left: 100%;
						}
					}
				}
			}
		}

		&--promo {
			margin-top: 60px;
			margin-bottom: 24px;

			@include media( map-get( $media-min, md ), 'min' ) {
				margin-top: 60px;
			}

			@include media( map-get( $media, sm ) ) {
				margin-top: 27px;
			}

			.page-top__links {
				align-items: baseline;
			}
		}

		&--profile {

			@include media( map-get( $media-min, md ), 'min' ) {
				margin-top: 72px;
				margin-bottom: 57px;
			}

			@include media( map-get( $media, md ) ) {
				margin-top: 37px;
				margin-bottom: 29px;
			}
		}

		&--orders {
			
			@include media( map-get( $media, md ) ) {
				margin-top: 37px;
				margin-bottom: 31px;
			}
		}
	}

	&-btns {
		display: flex;
		flex-wrap: wrap;
		margin-right: -11px;
		margin-bottom: -11px;

		@include media( map-get( $media, md ) ) {
			margin-bottom: -6px;
			margin-right: -6px;
		}

		li {
			margin-right: 11px;
			margin-bottom: 11px;

			@include media( map-get( $media, md ) ) {
				margin-right: 6px;
				margin-bottom: 6px;
			}
		}

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			white-space: nowrap;
			font-size: 16px;
			text-decoration: underline;
			color: #AA282C;
			padding: 15px 45px;
			background: #F3ECEA;
			border-radius: 2px;

			@include media( map-get( $media, md ) ) {
				font-size: 11px;
				padding: 4px 11px;
			}
		}
	}

	&-sort {
		margin-bottom: 60px;

		@include media( map-get( $media, md ) ) {
			margin-bottom: 16px;
		}

		&__content {
			background: #F3ECEA;
			padding: 23px 50px 7px;

			@include media( map-get( $media, md ) ) {
				padding: 13px 15px 10px;
				margin-left: -15px;
				margin-right: -15px;
			}

			.form__check:checked {

				& ~ .form__check-box {
					background: #AA282C;
					border-color:#AA282C;

					&--circle {
						border-color: rgba(75, 16, 0, 0.3);
						background: #fff;
					}
				}
			}

			.form__check-box {
				background: #FFFFFF;
				border: 1px solid rgba(75, 16, 0, 0.3);
			}

			.form__label-name {
				color: #4B1000;
			}
		}

		&--alt {
			.page-sort__content {

				@include media( map-get( $media-min, md ), 'min' ) {
					padding-top: 17px;
					padding-bottom: 0;
				}

				.form__label--check {
					@include media( map-get( $media-min, md ), 'min' ) {
						margin-bottom: 14px;
					}
				}

				.form__label-name {
					color: #4B1000;
				}

				.form__items .form__label {
					@include media( map-get( $media-min, md ), 'min' ) {
						margin-left: 35px;
						margin-right: 35px;
					}
				}
			}
		}
	}

	&-stars {
		display: flex;
		justify-content: center;
		margin-bottom: 9px;

		@include media( map-get( $media, md ) ) {
			display: none;
		}
	}

	&-info {
		margin-bottom: 42px;

		@include media( map-get( $media, md ) ) {
			margin-bottom: 20px;
		}

		&--mt {
			@include media( map-get( $media-min, md ), 'min' ) {
				margin-top: 56px;
			}
		}

		&--favorite {
			@include media( map-get( $media-min, md ), 'min' ) {
				margin-top: 56px;
				margin-bottom: 53px;
			}

			.page-title {
				
				@include media( map-get( $media-min, md ), 'min' ) {
					margin-bottom: 20px;
				}
			}

			& + .page-sort {
				@include media( map-get( $media-min, md ), 'min' ) {
					margin-bottom: 80px;
				}
			}
		}
	}

	&-title {
		text-align: center;
		font-weight: 300;
		font-size: 35px;
		line-height: 1.14;
		text-transform: uppercase;
		color: #4B1000;
		display: flex;
		align-items: baseline;
		justify-content: center;
		margin-bottom: 30px;

		@include media( map-get( $media, md ) ) {
			font-size: 15px;
			line-height: 17px;
			font-weight: 400;
			margin-bottom: 9px;
		}

		span {
			color: rgba(75, 16, 0, 0.3);
			display: inline-block;
			margin-left: 5px;
		}

		.icon {
			margin-right: 8px;
			font-size: 47px;
			color: #AA282C;
			position: relative;
			bottom: -0.1em;

			@include media( map-get( $media, md ) ) {
				font-size: 18px;
				margin-right: 6px;
			}

			&-star-full {
				font-size: 30px;
				color: #FAB51D;

				@include media( map-get( $media-min, md ), 'min' ) {
					display: none;
				}
			}

			&-heart-full {
				font-size: 30px;
				color: #E9AEA1;
				margin-right: 15px;
			}
		}
	}

	&-text {
		color: rgba(75, 16, 0, 0.6);
		line-height: 17px;

		@include media( map-get( $media, md ) ) {
			display: none;
		}

		&-trigger {
			display: none;

			@include media( map-get( $media, md ) ) {
				display: flex;
				justify-content: center;
				// margin-top: -17px;

				button {
					display: flex;
					align-items: center;
					color: #AA282C;
					background: none;

					&:after {
						content: '';
						display: block;
						border-top: 4px solid #4B1000;
						border-left: 4px solid transparent;
						border-right: 4px solid transparent;
						margin-left: 7px;
					}

					span {
						font-size: 11px;
						line-height: 13px;
						border-bottom: 1px dashed #AA282C;
					}
				}

				&.active {
					margin-bottom: 10px;

					& ~ .page-text {
						display: block;
					}
				}
			}
		}
	}
}


.favorite-rezult {
	@include media( map-get( $media-min, md ), 'min' ) {
		margin-bottom: 50px;
	}
}

.profile-page {
	margin-bottom: 100px;

	@include media( map-get( $media, lg ) ) {
		margin-bottom: 40px;
	}

	@include media( map-get( $media, sm ) ) {
		padding: 29px 0 25px;
		background: #F3ECEA;
		margin-bottom: 19px;

		.form__input {
			background: #FFFFFF;
		}
	}
}

.tooltip.accent {
	background: #AA282C;
	line-height: 1;
	padding-top: 3px;
}