.inner {
	display: flex;

	@include media( map-get( $media, lg ) ) {
		display: block;
	}

	&__main {
		width: calc(100% - 388px);
		max-width: calc(100% - 388px);
		flex: 0 0 calc(100% - 388px);

		@include media( map-get( $media, lg ) ) {
			width: 100%;
			max-width: 100%;
		}

		.card-slider {
			margin-left: 0;
			margin-right: 0;
			padding-right: 0;
			padding-left: 0;

			.slick-list {
				margin-left: 0;
				margin-right: 0;
			}

			.card-wrap {
				padding: 0 10px;
			}
			
			.slick-arrow {
				width: 122px;
				height: 122px;
				font-size: 24px;
			}
			
			.slick-prev {
				padding-right: 13px;
			}
			
			.slick-next {
				padding-left: 13px;
			}
		}

		.section {
			overflow: hidden;
			position: relative;

			&--vis {
				overflow: visible;
			}
		}
	}

	&__aside {
		width: 358px;
		max-width: 358px;
		flex: 0 0 358px;
		margin-left: 30px;

		@include media( map-get( $media, lg ) ) {
			width: 100%;
			max-width: 100%;
			margin-left: 0;
			margin-top: 25px;
		}

		&-content {
			position: relative;

			@include media( map-get( $media, lg ) ) {
				position: static !important;
				height: auto !important;
				 
				& > * {
					width: 100% !important;
					position: static !important;
					height: auto !important;
				}

				.page-link {
					display: flex !important;
					justify-content: flex-end;
				}
			}

			.page-link {
				@include media( map-get( $media, sm ) ) {
					display: none !important;
				}
			}
		}

		.page-link {
			position: absolute;
			bottom: 100%;
			right: 0;
			margin-bottom: 27px;
		}
	}
}

.aside-box {
	background: #F1E9E7;
	padding: 25px 30px;

	@include media( map-get( $media, sm ) ) {
		padding: 0 15px 59px;
	}

	&__cont {

		@include media( map-get( $media, sm ) ) {
			display: flex;
			flex-direction: column;
			background: #fff;
			border-radius: 0 0 2px 2px;
			overflow: hidden;
		}
	}

	&__line {
		display: flex;
		justify-content: space-between;
		font-weight: 500;
		font-size: 16px;
		line-height: 18px;
		color: #4B1000;
		margin-bottom: 8px;

		@include media( map-get( $media, sm ) ) {
			margin: 0 15px;
			font-size: 12px;
			line-height: 20px;
			font-weight: 400;
			border-top: 1px solid rgba(75, 16, 0, 0.1);

			&:first-child {
				border-top: none;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}

		span {
			font-family: map-get( $ff, alt );

			@include media( map-get( $media, sm ) ) {
				font-weight: 500;
			}

			&.accent {
				color: #AA282C;
			}
		}
	}

	&__promo {
		margin: 15px 0 22px;
		display: flex;
		background: #FFFFFF;
		border-radius: 26px;
		height: 44px;
		overflow: hidden;

		@include media( map-get( $media, sm ) ) {
			order: -4;
			margin: 0 15px 9px;
			border: 1px solid rgba(75, 16, 0, 0.3);
			border-radius: 2px;
			height: 32px;
		}

		input {
			flex: 1;
			min-width: 0;
			height: 100%;
			background-color: transparent;
			padding: 0 7px 0 17px;
		}

		button {
			background: #EFC059;
			border-radius: 50%;
			width: 34px;
			min-width: 34px;
			height: 34px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 14px;
			color: #fff;
			margin-right: 6px;
			margin-top: 5px;

			@include media( map-get( $media, sm ) ) {
				border-radius: 0;
				background: none;
				color: #EFC059;
				height: 100%;
				margin: 0;
			}
		}
	}

	&__item {
		margin-bottom: 3px;
		position: relative;
		margin-top: 20px;

		@include media( map-get( $media, sm ) ) {
			margin: 0 15px;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&-top {
			display: flex;
			font-weight: 500;
			font-size: 16px;
			line-height: 18px;
			color: #4B1000;

			@include media( map-get( $media, sm ) ) {
				align-items: center;
				font-size: 12px;
				line-height: 20px;
				font-weight: 400;
				border-top: 1px solid rgba(75, 16, 0, 0.1);
			}

			span {

				&.aside-box__item-type {
					background: #FFFFFF;
					border-radius: 2px;
					padding: 0 14px;
					margin-left: 7px;
					font-size: 13px;
					line-height: 15px;
					color: rgba(75, 16, 0, 0.6);
					height: 20px;
					display: flex;
					align-items: center;

					@include media( map-get( $media, sm ) ) {
						color: #AA282C;
						font-size: 11px;
						line-height: 13px;
						height: auto;
						padding: 0;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						left: 65px;
					}
				}

				&:last-child {
					position: absolute;
					right: 0;
					bottom: 0;
					color: #AA282C;
					font-weight: 500;
					font-size: 16px;
					line-height: 19px;
					font-family: map-get( $ff, alt );

					@include media( map-get( $media, sm ) ) {
						position: static;
						margin-left: auto;
						font-size: 12px;
						line-height: 17px;
					}
				}
			}
		}

		&-cont {
			max-width: 222px;

			@include media( map-get( $media, sm ) ) {
				display: none;
			}
		}

		&-box {
			margin-top: 10px;
			font-size: 13px;
			line-height: 15px;
			color: rgba(75, 16, 0, 0.6);

			.icon {
				color: #AA282C;
				margin-right: 3px;
				vertical-align: middle;

				&-address {
					font-size: 1.2em;
					margin-left: -0.14em;
				}
			}
		}

		&--empty {
			margin-top: 0;

			.aside-box__item-top {
				
				span:last-child {
					position: static;
					margin-left: auto;
					font-weight: 400;
					font-size: 15px;
					line-height: 17px;
					color: rgba(75, 16, 0, 0.6);

					@include media( map-get( $media, sm ) ) {
						font-size: 11px;
						line-height: 13px;
					}
				}
			}
		}
	}

	&__summa {
		margin-top: 27px;
		display: flex;
		justify-content: space-between;
		font-weight: 500;
		font-size: 26px;
		line-height: 30px;
		text-transform: uppercase;
		color: #4B1000;
		margin-bottom: 22px;

		@include media( map-get( $media, sm ) ) {
			order: -5;
			margin: 0 0 9px;
			background: #AA282C;
			height: 28px;
			font-size: 16px;
			color: #fff;
			line-height: 18px;
			font-weight: 400;
			padding: 0 15px;
			align-items: center;
		}

		span {
			font-weight: 500;
			font-size: 26px;
			line-height: 30px;
			font-family: map-get( $ff, alt );
			color: #AA282C;

			@include media( map-get( $media, sm ) ) {
				font-size: 17px;
				line-height: 20px;
				color: inherit;
			}
		}
	}

	&__btn {
		margin-bottom: 19px;
		margin-left: -30px;
		margin-right: -30px;

		@include media( map-get( $media, sm ) ) {
			margin: 15px 0 0;
		}

		.btn {
			height: 106px;
			border-radius: 0;
			width: 100%;
			font-weight: 500;
			font-size: 27px;
			line-height: 31px;
			justify-content: center;
			position: relative;
			background: linear-gradient(180deg, #8A3B3D 0%, #AA282C 50%);

			@include media( map-get( $media, sm ) ) {
				height: 48px;
				font-size: 15px;
				line-height: 17px;
				border-radius: 2px;
			}

			&:hover {

				@include media( map-get( $media-min, lg ), 'min' ) {
					background: linear-gradient(180deg, #8A3B3D 0%, #AA282C 50%);
				}
			}

			&:before {
				content: '';
				position: absolute;
				height: calc(100% - 36px);
				width: calc(100% - 40px);
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				border: 1px solid rgba(255, 255, 255, 0.32);

				@include media( map-get( $media, sm ) ) {
					display: none;
				}
			}

			&:after {
				content: '';
				position: absolute;
				bottom: -10px;
				right: 30%;
				width: 64px;
				height: 64px;
				background: url('../images/hand-2.png');
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;

				@include media( map-get( $media, sm ) ) {
					bottom: 0px;
					right: 15%;
					width: 44px;
					height: 44px;
				}
			}

			&.disabled {
				background: linear-gradient(180deg, #BFA8A2 0%, #CDB5AF 100%);

				&:after {
					background: url('../images/hand-alt.png');

					@include media( map-get( $media, sm ) ) {
						background: none;
					}
				}
			}
		}
	}

	&__info {
		font-size: 12px;
		line-height: 14px;
		color: rgba(75, 16, 0, 0.6);

		@include media( map-get( $media, sm ) ) {
			display: none;
		}

		a {
			color: #AA282C;

			&:hover {
				
				@include media( map-get( $media-min, lg ), 'min' ) {
					text-decoration: underline;
				}
			}
		}
	}
}