mixin popup-added()
	#popup-added.popup-added.popup
		.popup__title Товар добавлен в корзину
		.popup__content
			.popup__item
				a(href="#").popup__item-img
					img(src="images/item__img-2.jpg", alt="")
				.popup__item-title
					a(href="#") Шницель свиной из окорока
				.popup__item-line
					.popup__item-val 1,6 кг
					span /
					.popup__item-price 6 429 ₽
			.popup__action.popup__action--center
				a(href="#").btn перейти в корзину