.popup-added {
	max-width: 386px;

	.popup__content {
		padding: 19px 22px 25px;

		@include media( map-get( $media, md ) ) {
			padding: 10px 10px 15px;
		}
	}

	.popup__title {
		font-size: 18px;

		@include media( map-get( $media, md ) ) {
			font-size: 12px;
		}
	}

	.popup__action .btn {
		font-size: 16px;

		@include media( map-get( $media, md ) ) {
			font-size: 12px;
			height: 34px;
		}
	}
}